In [137]:
import re
import json
import time
import requests
import pandas as pd
import numpy as np
from functools import reduce
from pandas.io.json import json_normalize

In [158]:
seasons = list(range(2004, 2020))
season_types = ['regular', 'postseason']
total_records = pd.DataFrame()

In [147]:
%%time

result = [i for this_season in seasons for this_season_type in season_types for i in requests.get("https://api.collegefootballdata.com/games", params = {"year": this_season, 'seasonType': this_season_type}).json()]
games = pd.DataFrame(result)

CPU times: user 129 ms, sys: 19.4 ms, total: 149 ms
Wall time: 1.65 s

In [148]:
%%time

result = [i for game_id in games.id.tolist() for i in requests.get("https://api.collegefootballdata.com/games/players", params = {"gameId": game_id}).json()]
stats = pd.DataFrame(result)

CPU times: user 23.7 s, sys: 2.13 s, total: 25.8 s
Wall time: 4min 19s

In [159]:
%%time

result = [i for this_season in seasons for this_season_type in season_types for this_week in games.week.unique().tolist() for i in requests.get("https://api.collegefootballdata.com/games/players",params = {"year": this_season, "week": this_week, 'seasonType': this_season_type}).json()]
stats = pd.DataFrame(result)

CPU times: user 21.3 s, sys: 3.49 s, total: 24.8 s
Wall time: 4min 56s

In [169]:
%%time

result = [i for this_season in seasons for this_season_type in season_types for this_week in games.week.unique().tolist() for i in f2(this_season, this_season_type, this_week)]
stats = pd.DataFrame(result)

         id           name   stat    game.id game.teams.school  \
0    116190  Bryan Randall  14/29  242410259     Virginia Tech
1    116190  Bryan Randall    153  242410259     Virginia Tech
2    116190  Bryan Randall    5.3  242410259     Virginia Tech
3    116190  Bryan Randall      1  242410259     Virginia Tech
4    116190  Bryan Randall      1  242410259     Virginia Tech
..      ...            ...    ...        ...               ...
306  128010    Mike Wafzig     99  242410193        Miami (OH)
307  128010    Mike Wafzig   49.5  242410193        Miami (OH)
308  128010    Mike Wafzig      0  242410193        Miami (OH)
309  128010    Mike Wafzig      0  242410193        Miami (OH)
310  128010    Mike Wafzig     52  242410193        Miami (OH)

    game.teams.categories.name game.teams.categories.types.name  season
0                      passing                            C/ATT    2004
1                      passing                              YDS    2004
2                      passing                              AVG    2004
3                      passing                               TD    2004
4                      passing                              INT    2004
..                         ...                              ...     ...
306                    punting                              YDS    2004
307                    punting                              AVG    2004
308                    punting                               TB    2004
309                    punting                            In 20    2004
310                    punting                             LONG    2004

[311 rows x 8 columns]
           id            name stat    game.id game.teams.school  \
0      116904  Chris Dapolito  5/7  242482426              Duke
1      137096      Curt Dukes  0/1  242482426              Duke
2      116904  Chris Dapolito   31  242482426              Duke
3      137096      Curt Dukes    0  242482426              Duke
4      116904  Chris Dapolito  4.4  242482426              Duke
...       ...             ...  ...        ...               ...
10397  140711   Sean Comiskey  0/2  242480309         Louisiana
10398  140711   Sean Comiskey  0.0  242480309         Louisiana
10399  140711   Sean Comiskey    0  242480309         Louisiana
10400  140711   Sean Comiskey  2/2  242480309         Louisiana
10401  140711   Sean Comiskey    2  242480309         Louisiana

      game.teams.categories.name game.teams.categories.types.name  season
0                        passing                            C/ATT    2004
1                        passing                            C/ATT    2004
2                        passing                              YDS    2004
3                        passing                              YDS    2004
4                        passing                              AVG    2004
...                          ...                              ...     ...
10397                    kicking                               FG    2004
10398                    kicking                              PCT    2004
10399                    kicking                             LONG    2004
10400                    kicking                               XP    2004
10401                    kicking                              PTS    2004

[10402 rows x 8 columns]
           id               name  stat    game.id  game.teams.school  \
0      151420       Shawnn Gyles    12  242552426       Northeastern
1      119173      Anthony Riley    12  242552426       Northeastern
2      159501     Maurice Murray     3  242552426       Northeastern
3      151420       Shawnn Gyles    56  242552426       Northeastern
4      119173      Anthony Riley    49  242552426       Northeastern
...       ...                ...   ...        ...                ...
10246  125625  Anthony Gallagher   194  242552459  Northern Illinois
10247  125625  Anthony Gallagher  38.8  242552459  Northern Illinois
10248  125625  Anthony Gallagher     0  242552459  Northern Illinois
10249  125625  Anthony Gallagher     0  242552459  Northern Illinois
10250  125625  Anthony Gallagher    53  242552459  Northern Illinois

      game.teams.categories.name game.teams.categories.types.name  season
0                        rushing                              CAR    2004
1                        rushing                              CAR    2004
2                        rushing                              CAR    2004
3                        rushing                              YDS    2004
4                        rushing                              YDS    2004
...                          ...                              ...     ...
10246                    punting                              YDS    2004
10247                    punting                              AVG    2004
10248                    punting                               TB    2004
10249                    punting                            In 20    2004
10250                    punting                             LONG    2004

[10251 rows x 8 columns]
          id             name   stat    game.id game.teams.school  \
0     105974     James Kilian  20/40  242620202             Tulsa
1     105974     James Kilian    220  242620202             Tulsa
2     105974     James Kilian    5.5  242620202             Tulsa
3     105974     James Kilian      0  242620202             Tulsa
4     105974     James Kilian      2  242620202             Tulsa
...      ...              ...    ...        ...               ...
9932  177162  Anthony Mikulec    183  242622117  Central Michigan
9933  177162  Anthony Mikulec   36.6  242622117  Central Michigan
9934  177162  Anthony Mikulec      0  242622117  Central Michigan
9935  177162  Anthony Mikulec      0  242622117  Central Michigan
9936  177162  Anthony Mikulec     55  242622117  Central Michigan

     game.teams.categories.name game.teams.categories.types.name  season
0                       passing                            C/ATT    2004
1                       passing                              YDS    2004
2                       passing                              AVG    2004
3                       passing                               TD    2004
4                       passing                              INT    2004
...                         ...                              ...     ...
9932                    punting                              YDS    2004
9933                    punting                              AVG    2004
9934                    punting                               TB    2004
9935                    punting                            In 20    2004
9936                    punting                             LONG    2004

[9937 rows x 8 columns]
          id           name   stat    game.id game.teams.school  \
0     115374     Jay Cutler  15/20  242692426        Vanderbilt
1     134201  Steven Bright    0/3  242692426        Vanderbilt
2     115374     Jay Cutler    176  242692426        Vanderbilt
3     134201  Steven Bright      0  242692426        Vanderbilt
4     115374     Jay Cutler    8.8  242692426        Vanderbilt
...      ...            ...    ...        ...               ...
8492  150635   Jarod Little    266  242692433    Arkansas State
8493  150635   Jarod Little   38.0  242692433    Arkansas State
8494  150635   Jarod Little      0  242692433    Arkansas State
8495  150635   Jarod Little      0  242692433    Arkansas State
8496  150635   Jarod Little     59  242692433    Arkansas State

     game.teams.categories.name game.teams.categories.types.name  season
0                       passing                            C/ATT    2004
1                       passing                            C/ATT    2004
2                       passing                              YDS    2004
3                       passing                              YDS    2004
4                       passing                              AVG    2004
...                         ...                              ...     ...
8492                    punting                              YDS    2004
8493                    punting                              AVG    2004
8494                    punting                               TB    2004
8495                    punting                            In 20    2004
8496                    punting                             LONG    2004

[8497 rows x 8 columns]

          id               name   stat    game.id game.teams.school  \
0     134713  Michael Greenaway      7  242742005         Air Force
1     134713  Michael Greenaway    2/2  242742005         Air Force
2     134713  Michael Greenaway  100.0  242742005         Air Force
3     134713  Michael Greenaway     28  242742005         Air Force
4     134713  Michael Greenaway    1/1  242742005         Air Force
...      ...                ...    ...        ...               ...
9765  157876         Brett Kern    134  242762649            Toledo
9766  157876         Brett Kern   44.7  242762649            Toledo
9767  157876         Brett Kern      0  242762649            Toledo
9768  157876         Brett Kern      0  242762649            Toledo
9769  157876         Brett Kern     53  242762649            Toledo

     game.teams.categories.name game.teams.categories.types.name  season
0                       kicking                              PTS    2004
1                       kicking                               FG    2004
2                       kicking                              PCT    2004
3                       kicking                             LONG    2004
4                       kicking                               XP    2004
...                         ...                              ...     ...
9765                    punting                              YDS    2004
9766                    punting                              AVG    2004
9767                    punting                               TB    2004
9768                    punting                            In 20    2004
9769                    punting                             LONG    2004

[9770 rows x 8 columns]
          id           name   stat    game.id game.teams.school  \
0     145781    Reggie Ball  11/22  242830120      Georgia Tech
1     145781    Reggie Ball    197  242830120      Georgia Tech
2     145781    Reggie Ball    9.0  242830120      Georgia Tech
3     145781    Reggie Ball      1  242830120      Georgia Tech
4     145781    Reggie Ball      0  242830120      Georgia Tech
...      ...            ...    ...        ...               ...
8232  147378  Brian Jackson     36  242832050        Ball State
8233  147378  Brian Jackson   36.0  242832050        Ball State
8234  147378  Brian Jackson      0  242832050        Ball State
8235  147378  Brian Jackson      0  242832050        Ball State
8236  147378  Brian Jackson     36  242832050        Ball State

     game.teams.categories.name game.teams.categories.types.name  season
0                       passing                            C/ATT    2004
1                       passing                              YDS    2004
2                       passing                              AVG    2004
3                       passing                               TD    2004
4                       passing                              INT    2004
...                         ...                              ...     ...
8232                    punting                              YDS    2004
8233                    punting                              AVG    2004
8234                    punting                               TB    2004
8235                    punting                            In 20    2004
8236                    punting                             LONG    2004

[8237 rows x 8 columns]
          id          name   stat    game.id game.teams.school  \
0     150329   Brady Quinn  11/20  242902426        Notre Dame
1     150329   Brady Quinn    130  242902426        Notre Dame
2     150329   Brady Quinn    6.5  242902426        Notre Dame
3     150329   Brady Quinn      0  242902426        Notre Dame
4     150329   Brady Quinn      0  242902426        Notre Dame
...      ...           ...    ...        ...               ...
9134  150635  Jarod Little    318  242902032    Arkansas State
9135  150635  Jarod Little   39.8  242902032    Arkansas State
9136  150635  Jarod Little      0  242902032    Arkansas State
9137  150635  Jarod Little      0  242902032    Arkansas State
9138  150635  Jarod Little     55  242902032    Arkansas State

     game.teams.categories.name game.teams.categories.types.name  season
0                       passing                            C/ATT    2004
1                       passing                              YDS    2004
2                       passing                              AVG    2004
3                       passing                               TD    2004
4                       passing                              INT    2004
...                         ...                              ...     ...
9134                    punting                              YDS    2004
9135                    punting                              AVG    2004
9136                    punting                               TB    2004
9137                    punting                            In 20    2004
9138                    punting                             LONG    2004

[9139 rows x 8 columns]
          id               name  stat    game.id game.teams.school  \
0     149925     Joel Armstrong   2/2  242972426              Rice
1     120974     Greg Henderson   3/3  242972426              Rice
2     149925     Joel Armstrong    22  242972426              Rice
3     120974     Greg Henderson    13  242972426              Rice
4     149925     Joel Armstrong  11.0  242972426              Rice
...      ...                ...   ...        ...               ...
9167  157852  David Schexnayder   191  242970309         Louisiana
9168  157852  David Schexnayder  38.2  242970309         Louisiana
9169  157852  David Schexnayder     0  242970309         Louisiana
9170  157852  David Schexnayder     0  242970309         Louisiana
9171  157852  David Schexnayder    50  242970309         Louisiana

     game.teams.categories.name game.teams.categories.types.name  season
0                       passing                            C/ATT    2004
1                       passing                            C/ATT    2004
2                       passing                              YDS    2004
3                       passing                              YDS    2004
4                       passing                              AVG    2004
...                         ...                              ...     ...
9167                    punting                              YDS    2004
9168                    punting                              AVG    2004
9169                    punting                               TB    2004
9170                    punting                            In 20    2004
9171                    punting                             LONG    2004

[9172 rows x 8 columns]
          id           name   stat    game.id game.teams.school  \
0     120167   Sonny Riccio  30/50  243042426          Delaware
1     120167   Sonny Riccio    255  243042426          Delaware
2     120167   Sonny Riccio    5.1  243042426          Delaware
3     120167   Sonny Riccio      1  243042426          Delaware
4     120167   Sonny Riccio      0  243042426          Delaware
...      ...            ...    ...        ...               ...
8156  147378  Brian Jackson    1/2  243042050        Ball State
8157  147378  Brian Jackson   50.0  243042050        Ball State
8158  147378  Brian Jackson     27  243042050        Ball State
8159  147378  Brian Jackson    4/4  243042050        Ball State
8160  147378  Brian Jackson      7  243042050        Ball State

     game.teams.categories.name game.teams.categories.types.name  season
0                       passing                            C/ATT    2004
1                       passing                              YDS    2004
2                       passing                              AVG    2004
3                       passing                               TD    2004
4                       passing                              INT    2004
...                         ...                              ...     ...
8156                    kicking                               FG    2004
8157                    kicking                              PCT    2004
8158                    kicking                             LONG    2004
8159                    kicking                               XP    2004
8160                    kicking                              PTS    2004

[8161 rows x 8 columns]

          id            name   stat    game.id game.teams.school  \
0     134032   Lester Ricard  18/19  243112655            Tulane
1     134032   Lester Ricard    323  243112655            Tulane
2     134032   Lester Ricard   17.0  243112655            Tulane
3     134032   Lester Ricard      4  243112655            Tulane
4     134032   Lester Ricard      0  243112655            Tulane
...      ...             ...    ...        ...               ...
9277  147623  Andrew Wellock    201  243112199  Eastern Michigan
9278  147623  Andrew Wellock   40.2  243112199  Eastern Michigan
9279  147623  Andrew Wellock      0  243112199  Eastern Michigan
9280  147623  Andrew Wellock      0  243112199  Eastern Michigan
9281  147623  Andrew Wellock     58  243112199  Eastern Michigan

     game.teams.categories.name game.teams.categories.types.name  season
0                       passing                            C/ATT    2004
1                       passing                              YDS    2004
2                       passing                              AVG    2004
3                       passing                               TD    2004
4                       passing                              INT    2004
...                         ...                              ...     ...
9277                    punting                              YDS    2004
9278                    punting                              AVG    2004
9279                    punting                               TB    2004
9280                    punting                            In 20    2004
9281                    punting                             LONG    2004

[9282 rows x 8 columns]
          id               name   stat    game.id game.teams.school  \
0     146037           Ben Mauk  10/24  243180154       Wake Forest
1     116872      Cory Randolph    2/4  243180154       Wake Forest
2     133990      Chris Barclay    0/1  243180154       Wake Forest
3     146037           Ben Mauk    100  243180154       Wake Forest
4     116872      Cory Randolph      9  243180154       Wake Forest
...      ...                ...    ...        ...               ...
8477  157852  David Schexnayder    198  243180309         Louisiana
8478  157852  David Schexnayder   39.6  243180309         Louisiana
8479  157852  David Schexnayder      0  243180309         Louisiana
8480  157852  David Schexnayder      0  243180309         Louisiana
8481  157852  David Schexnayder     49  243180309         Louisiana

     game.teams.categories.name game.teams.categories.types.name  season
0                       passing                            C/ATT    2004
1                       passing                            C/ATT    2004
2                       passing                            C/ATT    2004
3                       passing                              YDS    2004
4                       passing                              YDS    2004
...                         ...                              ...     ...
8477                    punting                              YDS    2004
8478                    punting                              AVG    2004
8479                    punting                               TB    2004
8480                    punting                            In 20    2004
8481                    punting                             LONG    2004

[8482 rows x 8 columns]
          id               name   stat    game.id game.teams.school  \
0     135377          Ryan Hart  27/40  243252426           Rutgers
1     146317   Terrence Shawell   6/12  243252426           Rutgers
2     135377          Ryan Hart    264  243252426           Rutgers
3     146317   Terrence Shawell    126  243252426           Rutgers
4     135377          Ryan Hart    6.6  243252426           Rutgers
...      ...                ...    ...        ...               ...
7991  157852  David Schexnayder     92  243252433         Louisiana
7992  157852  David Schexnayder   30.7  243252433         Louisiana
7993  157852  David Schexnayder      0  243252433         Louisiana
7994  157852  David Schexnayder      0  243252433         Louisiana
7995  157852  David Schexnayder     41  243252433         Louisiana

     game.teams.categories.name game.teams.categories.types.name  season
0                       passing                            C/ATT    2004
1                       passing                            C/ATT    2004
2                       passing                              YDS    2004
3                       passing                              YDS    2004
4                       passing                              AVG    2004
...                         ...                              ...     ...
7991                    punting                              YDS    2004
7992                    punting                              AVG    2004
7993                    punting                               TB    2004
7994                    punting                            In 20    2004
7995                    punting                             LONG    2004

[7996 rows x 8 columns]
          id            name   stat    game.id game.teams.school  \
0     150032  Steven Moffett  22/32  243282116               UCF
1     116760  Brandon Sumner    1/2  243282116               UCF
2     150032  Steven Moffett    319  243282116               UCF
3     116760  Brandon Sumner     18  243282116               UCF
4     150032  Steven Moffett   10.0  243282116               UCF
...      ...             ...    ...        ...               ...
4601  184457     Matt Butler     80  243340242    Louisiana Tech
4602  184457     Matt Butler   40.0  243340242    Louisiana Tech
4603  184457     Matt Butler      0  243340242    Louisiana Tech
4604  184457     Matt Butler      0  243340242    Louisiana Tech
4605  184457     Matt Butler     42  243340242    Louisiana Tech

     game.teams.categories.name game.teams.categories.types.name  season
0                       passing                            C/ATT    2004
1                       passing                            C/ATT    2004
2                       passing                              YDS    2004
3                       passing                              YDS    2004
4                       passing                              AVG    2004
...                         ...                              ...     ...
4601                    punting                              YDS    2004
4602                    punting                              AVG    2004
4603                    punting                               TB    2004
4604                    punting                            In 20    2004
4605                    punting                             LONG    2004

[4606 rows x 8 columns]
          id            name   stat    game.id game.teams.school  \
0     116397      Josh Betts  20/33  243370193        Miami (OH)
1     116397      Josh Betts    304  243370193        Miami (OH)
2     116397      Josh Betts    9.2  243370193        Miami (OH)
3     116397      Josh Betts      3  243370193        Miami (OH)
4     116397      Josh Betts      2  243370193        Miami (OH)
...      ...             ...    ...        ...               ...
1757  133782  Brandon Fields    172  243390062    Michigan State
1758  133782  Brandon Fields   43.0  243390062    Michigan State
1759  133782  Brandon Fields      0  243390062    Michigan State
1760  133782  Brandon Fields      0  243390062    Michigan State
1761  133782  Brandon Fields     50  243390062    Michigan State

     game.teams.categories.name game.teams.categories.types.name  season
0                       passing                            C/ATT    2004
1                       passing                              YDS    2004
2                       passing                              AVG    2004
3                       passing                               TD    2004
4                       passing                              INT    2004
...                         ...                              ...     ...
1757                    punting                              YDS    2004
1758                    punting                              AVG    2004
1759                    punting                               TB    2004
1760                    punting                            In 20    2004
1761                    punting                             LONG    2004

[1762 rows x 8 columns]

          id        name   stat    game.id game.teams.school  \
0     105712  Scott Hall  15/30  243492572       North Texas
1     105712  Scott Hall    134  243492572       North Texas
2     105712  Scott Hall    4.5  243492572       North Texas
3     105712  Scott Hall      1  243492572       North Texas
4     105712  Scott Hall      2  243492572       North Texas
...      ...         ...    ...        ...               ...
4908  137240  Tom Malone    174  250040030               USC
4909  137240  Tom Malone   43.5  250040030               USC
4910  137240  Tom Malone      0  250040030               USC
4911  137240  Tom Malone      0  250040030               USC
4912  137240  Tom Malone     56  250040030               USC

     game.teams.categories.name game.teams.categories.types.name  season
0                       passing                            C/ATT    2004
1                       passing                              YDS    2004
2                       passing                              AVG    2004
3                       passing                               TD    2004
4                       passing                              INT    2004
...                         ...                              ...     ...
4908                    punting                              YDS    2004
4909                    punting                              AVG    2004
4910                    punting                               TB    2004
4911                    punting                            In 20    2004
4912                    punting                             LONG    2004

[4913 rows x 8 columns]
           id            name   stat    game.id game.teams.school  \
0      135988  Sam Hollenbach  19/30  252462426          Maryland
1      135988  Sam Hollenbach    217  252462426          Maryland
2      135988  Sam Hollenbach    7.2  252462426          Maryland
3      135988  Sam Hollenbach      1  252462426          Maryland
4      135988  Sam Hollenbach      2  252462426          Maryland
...       ...             ...    ...        ...               ...
10520  165003     Marty Biagi    133  252440276          Marshall
10521  165003     Marty Biagi   33.3  252440276          Marshall
10522  165003     Marty Biagi      0  252440276          Marshall
10523  165003     Marty Biagi      0  252440276          Marshall
10524  165003     Marty Biagi     42  252440276          Marshall

      game.teams.categories.name game.teams.categories.types.name  season
0                        passing                            C/ATT    2005
1                        passing                              YDS    2005
2                        passing                              AVG    2005
3                        passing                               TD    2005
4                        passing                              INT    2005
...                          ...                              ...     ...
10520                    punting                              YDS    2005
10521                    punting                              AVG    2005
10522                    punting                               TB    2005
10523                    punting                            In 20    2005
10524                    punting                             LONG    2005

[10525 rows x 8 columns]
           id           name   stat    game.id game.teams.school  \
0      137101  Trent Edwards  21/33  252532426          Stanford
1      137101  Trent Edwards    235  252532426          Stanford
2      137101  Trent Edwards    7.1  252532426          Stanford
3      137101  Trent Edwards      1  252532426          Stanford
4      137101  Trent Edwards      0  252532426          Stanford
...       ...            ...    ...        ...               ...
11393  127784      Ben Arndt    332  252530059      Georgia Tech
11394  127784      Ben Arndt   47.4  252530059      Georgia Tech
11395  127784      Ben Arndt      0  252530059      Georgia Tech
11396  127784      Ben Arndt      0  252530059      Georgia Tech
11397  127784      Ben Arndt     55  252530059      Georgia Tech

      game.teams.categories.name game.teams.categories.types.name  season
0                        passing                            C/ATT    2005
1                        passing                              YDS    2005
2                        passing                              AVG    2005
3                        passing                               TD    2005
4                        passing                              INT    2005
...                          ...                              ...     ...
11393                    punting                              YDS    2005
11394                    punting                              AVG    2005
11395                    punting                               TB    2005
11396                    punting                            In 20    2005
11397                    punting                             LONG    2005

[11398 rows x 8 columns]
           id           name   stat    game.id game.teams.school  \
0      150329    Brady Quinn  33/60  252600087        Notre Dame
1      150329    Brady Quinn    487  252600087        Notre Dame
2      150329    Brady Quinn    8.1  252600087        Notre Dame
3      150329    Brady Quinn      5  252600087        Notre Dame
4      150329    Brady Quinn      1  252600087        Notre Dame
...       ...            ...    ...        ...               ...
10473  156614  Chris Sprague    103  252600150              Duke
10474  156614  Chris Sprague   34.3  252600150              Duke
10475  156614  Chris Sprague      0  252600150              Duke
10476  156614  Chris Sprague      0  252600150              Duke
10477  156614  Chris Sprague     37  252600150              Duke

      game.teams.categories.name game.teams.categories.types.name  season
0                        passing                            C/ATT    2005
1                        passing                              YDS    2005
2                        passing                              AVG    2005
3                        passing                               TD    2005
4                        passing                              INT    2005
...                          ...                              ...     ...
10473                    punting                              YDS    2005
10474                    punting                              AVG    2005
10475                    punting                               TB    2005
10476                    punting                            In 20    2005
10477                    punting                             LONG    2005

[10478 rows x 8 columns]
          id         name   stat    game.id game.teams.school  \
0     133655   Tim Brasic  16/30  252670356          Illinois
1     133655   Tim Brasic    148  252670356          Illinois
2     133655   Tim Brasic    4.9  252670356          Illinois
3     133655   Tim Brasic      2  252670356          Illinois
4     133655   Tim Brasic      1  252670356          Illinois
...      ...          ...    ...        ...               ...
8444  162102  Chris Gould    169  252670258          Virginia
8445  162102  Chris Gould   42.3  252670258          Virginia
8446  162102  Chris Gould      0  252670258          Virginia
8447  162102  Chris Gould      0  252670258          Virginia
8448  162102  Chris Gould     48  252670258          Virginia

     game.teams.categories.name game.teams.categories.types.name  season
0                       passing                            C/ATT    2005
1                       passing                              YDS    2005
2                       passing                              AVG    2005
3                       passing                               TD    2005
4                       passing                              INT    2005
...                         ...                              ...     ...
8444                    punting                              YDS    2005
8445                    punting                              AVG    2005
8446                    punting                               TB    2005
8447                    punting                            In 20    2005
8448                    punting                             LONG    2005

[8449 rows x 8 columns]

          id         name   stat    game.id game.teams.school  \
0     172902   Zack Asack  12/16  252740150              Duke
1     172902   Zack Asack    111  252740150              Duke
2     172902   Zack Asack    6.9  252740150              Duke
3     172902   Zack Asack      0  252740150              Duke
4     172902   Zack Asack      1  252740150              Duke
...      ...          ...    ...        ...               ...
9681  135795  Cole Chason     69  252740154           Clemson
9682  135795  Cole Chason   34.5  252740154           Clemson
9683  135795  Cole Chason      0  252740154           Clemson
9684  135795  Cole Chason      0  252740154           Clemson
9685  135795  Cole Chason     35  252740154           Clemson

     game.teams.categories.name game.teams.categories.types.name  season
0                       passing                            C/ATT    2005
1                       passing                              YDS    2005
2                       passing                              AVG    2005
3                       passing                               TD    2005
4                       passing                              INT    2005
...                         ...                              ...     ...
9681                    punting                              YDS    2005
9682                    punting                              AVG    2005
9683                    punting                               TB    2005
9684                    punting                            In 20    2005
9685                    punting                             LONG    2005

[9686 rows x 8 columns]
          id             name  stat    game.id game.teams.school  \
0     175929        Chad Hall     0  252812426         Air Force
1     169755    Ryan Williams     0  252812426         Air Force
2     164361     Shaun Carney     0  252812426         Air Force
3     152498  Jacobe Kendrick     0  252812426         Air Force
4     168413       Chad Smith     0  252812426         Air Force
...      ...              ...   ...        ...               ...
9134  146500     Brian Monroe   117  252812390             Miami
9135  146500     Brian Monroe  39.0  252812390             Miami
9136  146500     Brian Monroe     0  252812390             Miami
9137  146500     Brian Monroe     0  252812390             Miami
9138  146500     Brian Monroe    46  252812390             Miami

     game.teams.categories.name game.teams.categories.types.name  season
0                       rushing                               TD    2005
1                       rushing                               TD    2005
2                       rushing                               TD    2005
3                       rushing                               TD    2005
4                       rushing                               TD    2005
...                         ...                              ...     ...
9134                    punting                              YDS    2005
9135                    punting                              AVG    2005
9136                    punting                               TB    2005
9137                    punting                            In 20    2005
9138                    punting                             LONG    2005

[9139 rows x 8 columns]
          id            name   stat    game.id game.teams.school  \
0     146609  Michael Machen  25/41  252882426        Kent State
1     146609  Michael Machen    292  252882426        Kent State
2     146609  Michael Machen    7.1  252882426        Kent State
3     146609  Michael Machen      2  252882426        Kent State
4     146609  Michael Machen      2  252882426        Kent State
...      ...             ...    ...        ...               ...
9476  127784       Ben Arndt    243  252880150      Georgia Tech
9477  127784       Ben Arndt   40.5  252880150      Georgia Tech
9478  127784       Ben Arndt      0  252880150      Georgia Tech
9479  127784       Ben Arndt      0  252880150      Georgia Tech
9480  127784       Ben Arndt     51  252880150      Georgia Tech

     game.teams.categories.name game.teams.categories.types.name  season
0                       passing                            C/ATT    2005
1                       passing                              YDS    2005
2                       passing                              AVG    2005
3                       passing                               TD    2005
4                       passing                              INT    2005
...                         ...                              ...     ...
9476                    punting                              YDS    2005
9477                    punting                              AVG    2005
9478                    punting                               TB    2005
9479                    punting                            In 20    2005
9480                    punting                             LONG    2005

[9481 rows x 8 columns]
          id            name   stat    game.id game.teams.school  \
0     157266   Chase Clement  11/23  252950242              Rice
1     149925  Joel Armstrong    0/1  252950242              Rice
2     157266   Chase Clement     94  252950242              Rice
3     149925  Joel Armstrong      0  252950242              Rice
4     157266   Chase Clement    4.1  252950242              Rice
...      ...             ...    ...        ...               ...
9679  165003     Marty Biagi    285  252952638          Marshall
9680  165003     Marty Biagi   40.7  252952638          Marshall
9681  165003     Marty Biagi      0  252952638          Marshall
9682  165003     Marty Biagi      0  252952638          Marshall
9683  165003     Marty Biagi     49  252952638          Marshall

     game.teams.categories.name game.teams.categories.types.name  season
0                       passing                            C/ATT    2005
1                       passing                            C/ATT    2005
2                       passing                              YDS    2005
3                       passing                              YDS    2005
4                       passing                              AVG    2005
...                         ...                              ...     ...
9679                    punting                              YDS    2005
9680                    punting                              AVG    2005
9681                    punting                               TB    2005
9682                    punting                            In 20    2005
9683                    punting                             LONG    2005

[9684 rows x 8 columns]
          id              name   stat    game.id game.teams.school  \
0     135377         Ryan Hart  18/21  253020164           Rutgers
1     135377         Ryan Hart    221  253020164           Rutgers
2     135377         Ryan Hart   10.5  253020164           Rutgers
3     135377         Ryan Hart      0  253020164           Rutgers
4     135377         Ryan Hart      0  253020164           Rutgers
...      ...               ...    ...        ...               ...
7498  148002  Reagan Schneider    1/1  253020242              UTEP
7499  148002  Reagan Schneider  100.0  253020242              UTEP
7500  148002  Reagan Schneider     25  253020242              UTEP
7501  148002  Reagan Schneider    5/5  253020242              UTEP
7502  148002  Reagan Schneider      8  253020242              UTEP

     game.teams.categories.name game.teams.categories.types.name  season
0                       passing                            C/ATT    2005
1                       passing                              YDS    2005
2                       passing                              AVG    2005
3                       passing                               TD    2005
4                       passing                              INT    2005
...                         ...                              ...     ...
7498                    kicking                               FG    2005
7499                    kicking                              PCT    2005
7500                    kicking                             LONG    2005
7501                    kicking                               XP    2005
7502                    kicking                              PTS    2005

[7503 rows x 8 columns]

          id           name   stat    game.id game.teams.school  \
0     161746  Scott Elliott  13/26  253092426            Tulane
1     134032  Lester Ricard    2/7  253092426            Tulane
2     161746  Scott Elliott    109  253092426            Tulane
3     134032  Lester Ricard     27  253092426            Tulane
4     161746  Scott Elliott    4.2  253092426            Tulane
...      ...            ...    ...        ...               ...
8781  135236    Nic Schmitt    146  253090259     Virginia Tech
8782  135236    Nic Schmitt   36.5  253090259     Virginia Tech
8783  135236    Nic Schmitt      0  253090259     Virginia Tech
8784  135236    Nic Schmitt      0  253090259     Virginia Tech
8785  135236    Nic Schmitt     46  253090259     Virginia Tech

     game.teams.categories.name game.teams.categories.types.name  season
0                       passing                            C/ATT    2005
1                       passing                            C/ATT    2005
2                       passing                              YDS    2005
3                       passing                              YDS    2005
4                       passing                              AVG    2005
...                         ...                              ...     ...
8781                    punting                              YDS    2005
8782                    punting                              AVG    2005
8783                    punting                               TB    2005
8784                    punting                            In 20    2005
8785                    punting                             LONG    2005

[8786 rows x 8 columns]
          id         name   stat    game.id game.teams.school  \
0     150329  Brady Quinn  22/31  253160087        Notre Dame
1     150329  Brady Quinn    284  253160087        Notre Dame
2     150329  Brady Quinn    9.2  253160087        Notre Dame
3     150329  Brady Quinn      4  253160087        Notre Dame
4     150329  Brady Quinn      1  253160087        Notre Dame
...      ...          ...    ...        ...               ...
9174  168578  Owen Tolson    172  253160349              Army
9175  168578  Owen Tolson   34.4  253160349              Army
9176  168578  Owen Tolson      0  253160349              Army
9177  168578  Owen Tolson      0  253160349              Army
9178  168578  Owen Tolson     40  253160349              Army

     game.teams.categories.name game.teams.categories.types.name  season
0                       passing                            C/ATT    2005
1                       passing                              YDS    2005
2                       passing                              AVG    2005
3                       passing                               TD    2005
4                       passing                              INT    2005
...                         ...                              ...     ...
9174                    punting                              YDS    2005
9175                    punting                              AVG    2005
9176                    punting                               TB    2005
9177                    punting                            In 20    2005
9178                    punting                             LONG    2005

[9179 rows x 8 columns]
          id              name   stat    game.id game.teams.school  \
0     114319       Mike McGann  24/38  253232426            Temple
1     114319       Mike McGann    245  253232426            Temple
2     114319       Mike McGann    6.4  253232426            Temple
3     114319       Mike McGann      1  253232426            Temple
4     114319       Mike McGann      0  253232426            Temple
...      ...               ...    ...        ...               ...
7958  136227  David Wooldridge    282  253230153    North Carolina
7959  136227  David Wooldridge   40.3  253230153    North Carolina
7960  136227  David Wooldridge      0  253230153    North Carolina
7961  136227  David Wooldridge      0  253230153    North Carolina
7962  136227  David Wooldridge     52  253230153    North Carolina

     game.teams.categories.name game.teams.categories.types.name  season
0                       passing                            C/ATT    2005
1                       passing                              YDS    2005
2                       passing                              AVG    2005
3                       passing                               TD    2005
4                       passing                              INT    2005
...                         ...                              ...     ...
7958                    punting                              YDS    2005
7959                    punting                              AVG    2005
7960                    punting                               TB    2005
7961                    punting                            In 20    2005
7962                    punting                             LONG    2005

[7963 rows x 8 columns]
          id          name   stat    game.id game.teams.school  \
0     145275  Colt Brennan  33/53  253290062           Hawai'i
1     145275  Colt Brennan    403  253290062           Hawai'i
2     145275  Colt Brennan    7.6  253290062           Hawai'i
3     145275  Colt Brennan      3  253290062           Hawai'i
4     145275  Colt Brennan      1  253290062           Hawai'i
...      ...           ...    ...        ...               ...
5822  146500  Brian Monroe    158  253302390             Miami
5823  146500  Brian Monroe   39.5  253302390             Miami
5824  146500  Brian Monroe      0  253302390             Miami
5825  146500  Brian Monroe      0  253302390             Miami
5826  146500  Brian Monroe     46  253302390             Miami

     game.teams.categories.name game.teams.categories.types.name  season
0                       passing                            C/ATT    2005
1                       passing                              YDS    2005
2                       passing                              AVG    2005
3                       passing                               TD    2005
4                       passing                              INT    2005
...                         ...                              ...     ...
5822                    punting                              YDS    2005
5823                    punting                              AVG    2005
5824                    punting                               TB    2005
5825                    punting                            In 20    2005
5826                    punting                             LONG    2005

[5827 rows x 8 columns]
          id            name  stat    game.id  game.teams.school  \
0     157532   Dan Nicholson  7/17  253352459  Northern Illinois
1     157532   Dan Nicholson   110  253352459  Northern Illinois
2     157532   Dan Nicholson   6.5  253352459  Northern Illinois
3     157532   Dan Nicholson     1  253352459  Northern Illinois
4     157532   Dan Nicholson     0  253352459  Northern Illinois
...      ...             ...   ...        ...                ...
1974  147790  Michael Hughes    93  253370062    San Diego State
1975  147790  Michael Hughes  46.5  253370062    San Diego State
1976  147790  Michael Hughes     0  253370062    San Diego State
1977  147790  Michael Hughes     0  253370062    San Diego State
1978  147790  Michael Hughes    49  253370062    San Diego State

     game.teams.categories.name game.teams.categories.types.name  season
0                       passing                            C/ATT    2005
1                       passing                              YDS    2005
2                       passing                              AVG    2005
3                       passing                               TD    2005
4                       passing                              INT    2005
...                         ...                              ...     ...
1974                    punting                              YDS    2005
1975                    punting                              AVG    2005
1976                    punting                               TB    2005
1977                    punting                            In 20    2005
1978                    punting                             LONG    2005

[1979 rows x 8 columns]

          id        name   stat    game.id game.teams.school  \
0     150641   Nick Noce  10/19  253542032    Arkansas State
1     150641   Nick Noce    213  253542032    Arkansas State
2     150641   Nick Noce   11.2  253542032    Arkansas State
3     150641   Nick Noce      1  253542032    Arkansas State
4     150641   Nick Noce      1  253542032    Arkansas State
...      ...         ...    ...        ...               ...
4700  137240  Tom Malone     83  260040030               USC
4701  137240  Tom Malone   41.5  260040030               USC
4702  137240  Tom Malone      0  260040030               USC
4703  137240  Tom Malone      0  260040030               USC
4704  137240  Tom Malone     43  260040030               USC

     game.teams.categories.name game.teams.categories.types.name  season
0                       passing                            C/ATT    2005
1                       passing                              YDS    2005
2                       passing                              AVG    2005
3                       passing                               TD    2005
4                       passing                              INT    2005
...                         ...                              ...     ...
4700                    punting                              YDS    2005
4701                    punting                              AVG    2005
4702                    punting                               TB    2005
4703                    punting                            In 20    2005
4704                    punting                             LONG    2005

[4705 rows x 8 columns]
           id           name   stat    game.id game.teams.school  \
0      136126  James Pinkney  24/35  262452426     East Carolina
1      136126  James Pinkney    283  262452426     East Carolina
2      136126  James Pinkney    8.1  262452426     East Carolina
3      136126  James Pinkney      2  262452426     East Carolina
4      136126  James Pinkney      0  262452426     East Carolina
...       ...            ...    ...        ...               ...
12885  145728  Alex Feinberg    156  262450150              Duke
12886  145728  Alex Feinberg   31.2  262450150              Duke
12887  145728  Alex Feinberg      0  262450150              Duke
12888  145728  Alex Feinberg      0  262450150              Duke
12889  145728  Alex Feinberg     46  262450150              Duke

      game.teams.categories.name game.teams.categories.types.name  season
0                        passing                            C/ATT    2006
1                        passing                              YDS    2006
2                        passing                              AVG    2006
3                        passing                               TD    2006
4                        passing                              INT    2006
...                          ...                              ...     ...
12885                    punting                              YDS    2006
12886                    punting                              AVG    2006
12887                    punting                               TB    2006
12888                    punting                            In 20    2006
12889                    punting                             LONG    2006

[12890 rows x 8 columns]
           id               name   stat    game.id game.teams.school  \
0      157911          Liam Coen  17/29  262522426             UMass
1      133520  Justin Montgomery    0/1  262522426             UMass
2      157911          Liam Coen    187  262522426             UMass
3      133520  Justin Montgomery      0  262522426             UMass
4      157911          Liam Coen    6.4  262522426             UMass
...       ...                ...    ...        ...               ...
11669  149495       Ian O'Connor    134  262520276          Marshall
11670  149495       Ian O'Connor   44.7  262520276          Marshall
11671  149495       Ian O'Connor      0  262520276          Marshall
11672  149495       Ian O'Connor      0  262520276          Marshall
11673  149495       Ian O'Connor     69  262520276          Marshall

      game.teams.categories.name game.teams.categories.types.name  season
0                        passing                            C/ATT    2006
1                        passing                            C/ATT    2006
2                        passing                              YDS    2006
3                        passing                              YDS    2006
4                        passing                              AVG    2006
...                          ...                              ...     ...
11669                    punting                              YDS    2006
11670                    punting                              AVG    2006
11671                    punting                               TB    2006
11672                    punting                            In 20    2006
11673                    punting                             LONG    2006

[11674 rows x 8 columns]
           id                      name  stat    game.id game.teams.school  \
0      171270          Zerbin Singleton     0  262590024              Navy
1      167670              Adam Ballard     0  262590024              Navy
2      166667           Reggie Campbell     2  262590024              Navy
3      155651             Brian Hampton     2  262590024              Navy
4      180784  Kaipo-Noa Kaheaku-Enhada     0  262590024              Navy
...       ...                       ...   ...        ...               ...
10781  181529           Arthur Williams    92  262590153            Furman
10782  181529           Arthur Williams  30.7  262590153            Furman
10783  181529           Arthur Williams     0  262590153            Furman
10784  181529           Arthur Williams     0  262590153            Furman
10785  181529           Arthur Williams    33  262590153            Furman

      game.teams.categories.name game.teams.categories.types.name  season
0                        rushing                               TD    2006
1                        rushing                               TD    2006
2                        rushing                               TD    2006
3                        rushing                               TD    2006
4                        rushing                               TD    2006
...                          ...                              ...     ...
10781                    punting                              YDS    2006
10782                    punting                              AVG    2006
10783                    punting                               TB    2006
10784                    punting                            In 20    2006
10785                    punting                             LONG    2006

[10786 rows x 8 columns]
           id            name   stat    game.id game.teams.school  \
0      145781     Reggie Ball  10/19  262640059      Georgia Tech
1      161191        Mike Cox    1/1  262640059      Georgia Tech
2      156624  Taylor Bennett    1/1  262640059      Georgia Tech
3      145781     Reggie Ball    205  262640059      Georgia Tech
4      161191        Mike Cox     17  262640059      Georgia Tech
...       ...             ...    ...        ...               ...
10458  157709     T.J. Conley    312  262660204             Idaho
10459  157709     T.J. Conley   39.0  262660204             Idaho
10460  157709     T.J. Conley      0  262660204             Idaho
10461  157709     T.J. Conley      0  262660204             Idaho
10462  157709     T.J. Conley     51  262660204             Idaho

      game.teams.categories.name game.teams.categories.types.name  season
0                        passing                            C/ATT    2006
1                        passing                            C/ATT    2006
2                        passing                            C/ATT    2006
3                        passing                              YDS    2006
4                        passing                              YDS    2006
...                          ...                              ...     ...
10458                    punting                              YDS    2006
10459                    punting                              AVG    2006
10460                    punting                               TB    2006
10461                    punting                            In 20    2006
10462                    punting                             LONG    2006

[10463 rows x 8 columns]

          id              name  stat    game.id game.teams.school  \
0     171270  Zerbin Singleton     2  262730041              Navy
1     155651     Brian Hampton    27  262730041              Navy
2     166667   Reggie Campbell     5  262730041              Navy
3     167670      Adam Ballard     3  262730041              Navy
4     155647         Matt Hall     8  262730041              Navy
...      ...               ...   ...        ...               ...
9311  168578       Owen Tolson   185  262730349              Army
9312  168578       Owen Tolson  46.3  262730349              Army
9313  168578       Owen Tolson     0  262730349              Army
9314  168578       Owen Tolson     0  262730349              Army
9315  168578       Owen Tolson    52  262730349              Army

     game.teams.categories.name game.teams.categories.types.name  season
0                       rushing                              CAR    2006
1                       rushing                              CAR    2006
2                       rushing                              CAR    2006
3                       rushing                              CAR    2006
4                       rushing                              CAR    2006
...                         ...                              ...     ...
9311                    punting                              YDS    2006
9312                    punting                              AVG    2006
9313                    punting                               TB    2006
9314                    punting                            In 20    2006
9315                    punting                             LONG    2006

[9316 rows x 8 columns]
          id           name  stat    game.id game.teams.school  \
0     155651  Brian Hampton   1/5  262802005              Navy
1     155651  Brian Hampton     8  262802005              Navy
2     155651  Brian Hampton   1.6  262802005              Navy
3     155651  Brian Hampton     0  262802005              Navy
4     155651  Brian Hampton     1  262802005              Navy
...      ...            ...   ...        ...               ...
9278  151666    Adam Peters   215  262800349               VMI
9279  151666    Adam Peters  35.8  262800349               VMI
9280  151666    Adam Peters     0  262800349               VMI
9281  151666    Adam Peters     0  262800349               VMI
9282  151666    Adam Peters    46  262800349               VMI

     game.teams.categories.name game.teams.categories.types.name  season
0                       passing                            C/ATT    2006
1                       passing                              YDS    2006
2                       passing                              AVG    2006
3                       passing                               TD    2006
4                       passing                              INT    2006
...                         ...                              ...     ...
9278                    punting                              YDS    2006
9279                    punting                              AVG    2006
9280                    punting                               TB    2006
9281                    punting                            In 20    2006
9282                    punting                             LONG    2006

[9283 rows x 8 columns]
          id                      name  stat    game.id game.teams.school  \
0     180784  Kaipo-Noa Kaheaku-Enhada   2/6  262872426              Navy
1     182913              Jarod Bryant  2/10  262872426              Navy
2     180784  Kaipo-Noa Kaheaku-Enhada    28  262872426              Navy
3     182913              Jarod Bryant    20  262872426              Navy
4     180784  Kaipo-Noa Kaheaku-Enhada   4.7  262872426              Navy
...      ...                       ...   ...        ...               ...
9300  161182                 Sam Swank   176  262870152       Wake Forest
9301  161182                 Sam Swank  44.0  262870152       Wake Forest
9302  161182                 Sam Swank     0  262870152       Wake Forest
9303  161182                 Sam Swank     0  262870152       Wake Forest
9304  161182                 Sam Swank    54  262870152       Wake Forest

     game.teams.categories.name game.teams.categories.types.name  season
0                       passing                            C/ATT    2006
1                       passing                            C/ATT    2006
2                       passing                              YDS    2006
3                       passing                              YDS    2006
4                       passing                              AVG    2006
...                         ...                              ...     ...
9300                    punting                              YDS    2006
9301                    punting                              AVG    2006
9302                    punting                               TB    2006
9303                    punting                            In 20    2006
9304                    punting                             LONG    2006

[9305 rows x 8 columns]
          id          name   stat    game.id game.teams.school  \
0     133795  Drew Stanton  27/37  262940077    Michigan State
1     160772   Brian Hoyer    5/6  262940077    Michigan State
2     133795  Drew Stanton    294  262940077    Michigan State
3     160772   Brian Hoyer     46  262940077    Michigan State
4     133795  Drew Stanton    7.9  262940077    Michigan State
...      ...           ...    ...        ...               ...
9314  162102   Chris Gould      0  262920258          Virginia
9315  177416  Ryan Weigand      0  262920258          Virginia
9316  162102   Chris Gould      0  262920258          Virginia
9317  177416  Ryan Weigand     52  262920258          Virginia
9318  162102   Chris Gould     33  262920258          Virginia

     game.teams.categories.name game.teams.categories.types.name  season
0                       passing                            C/ATT    2006
1                       passing                            C/ATT    2006
2                       passing                              YDS    2006
3                       passing                              YDS    2006
4                       passing                              AVG    2006
...                         ...                              ...     ...
9314                    punting                               TB    2006
9315                    punting                            In 20    2006
9316                    punting                            In 20    2006
9317                    punting                             LONG    2006
9318                    punting                             LONG    2006

[9319 rows x 8 columns]
          id                      name  stat    game.id game.teams.school  \
0     180784  Kaipo-Noa Kaheaku-Enhada   2/5  263012426              Navy
1     182913              Jarod Bryant   2/2  263012426              Navy
2     180784  Kaipo-Noa Kaheaku-Enhada    25  263012426              Navy
3     182913              Jarod Bryant    18  263012426              Navy
4     180784  Kaipo-Noa Kaheaku-Enhada   5.0  263012426              Navy
...      ...                       ...   ...        ...               ...
8925  175061             Durant Brooks   305  263010059      Georgia Tech
8926  175061             Durant Brooks  50.8  263010059      Georgia Tech
8927  175061             Durant Brooks     0  263010059      Georgia Tech
8928  175061             Durant Brooks     0  263010059      Georgia Tech
8929  175061             Durant Brooks    63  263010059      Georgia Tech

     game.teams.categories.name game.teams.categories.types.name  season
0                       passing                            C/ATT    2006
1                       passing                            C/ATT    2006
2                       passing                              YDS    2006
3                       passing                              YDS    2006
4                       passing                              AVG    2006
...                         ...                              ...     ...
8925                    punting                              YDS    2006
8926                    punting                              AVG    2006
8927                    punting                               TB    2006
8928                    punting                            In 20    2006
8929                    punting                             LONG    2006

[8930 rows x 8 columns]

          id            name   stat    game.id game.teams.school  \
0     191344  Thaddeus Lewis  15/22  263080150              Duke
1     191344  Thaddeus Lewis    181  263080150              Duke
2     191344  Thaddeus Lewis    8.2  263080150              Duke
3     191344  Thaddeus Lewis      1  263080150              Duke
4     191344  Thaddeus Lewis      0  263080150              Duke
...      ...             ...    ...        ...               ...
9224  170472  Ryan Hotchkiss     89  263082638              UTEP
9225  170472  Ryan Hotchkiss   29.7  263082638              UTEP
9226  170472  Ryan Hotchkiss      0  263082638              UTEP
9227  170472  Ryan Hotchkiss      0  263082638              UTEP
9228  170472  Ryan Hotchkiss     34  263082638              UTEP

     game.teams.categories.name game.teams.categories.types.name  season
0                       passing                            C/ATT    2006
1                       passing                              YDS    2006
2                       passing                              AVG    2006
3                       passing                               TD    2006
4                       passing                              INT    2006
...                         ...                              ...     ...
9224                    punting                              YDS    2006
9225                    punting                              AVG    2006
9226                    punting                               TB    2006
9227                    punting                            In 20    2006
9228                    punting                             LONG    2006

[9229 rows x 8 columns]
          id           name   stat    game.id game.teams.school  \
0     170633   Andy Schmitt  24/37  263152199  Eastern Michigan
1     170633   Andy Schmitt    220  263152199  Eastern Michigan
2     170633   Andy Schmitt    5.9  263152199  Eastern Michigan
3     170633   Andy Schmitt      0  263152199  Eastern Michigan
4     170633   Andy Schmitt      2  263152199  Eastern Michigan
...      ...            ...    ...        ...               ...
9324  175061  Durant Brooks    326  263150153      Georgia Tech
9325  175061  Durant Brooks   46.6  263150153      Georgia Tech
9326  175061  Durant Brooks      0  263150153      Georgia Tech
9327  175061  Durant Brooks      0  263150153      Georgia Tech
9328  175061  Durant Brooks     60  263150153      Georgia Tech

     game.teams.categories.name game.teams.categories.types.name  season
0                       passing                            C/ATT    2006
1                       passing                              YDS    2006
2                       passing                              AVG    2006
3                       passing                               TD    2006
4                       passing                              INT    2006
...                         ...                              ...     ...
9324                    punting                              YDS    2006
9325                    punting                              AVG    2006
9326                    punting                               TB    2006
9327                    punting                            In 20    2006
9328                    punting                             LONG    2006

[9329 rows x 8 columns]
          id             name   stat    game.id game.teams.school  \
0     189949  Vaughn Charlton  11/14  263222426            Temple
1     189953   Adam DiMichele   9/18  263222426            Temple
2     184776     Jason Harper    0/1  263222426            Temple
3     189949  Vaughn Charlton    142  263222426            Temple
4     189953   Adam DiMichele     74  263222426            Temple
...      ...              ...    ...        ...               ...
9424  149495     Ian O'Connor    165  263220276          Marshall
9425  149495     Ian O'Connor   41.3  263220276          Marshall
9426  149495     Ian O'Connor      0  263220276          Marshall
9427  149495     Ian O'Connor      0  263220276          Marshall
9428  149495     Ian O'Connor     48  263220276          Marshall

     game.teams.categories.name game.teams.categories.types.name  season
0                       passing                            C/ATT    2006
1                       passing                            C/ATT    2006
2                       passing                            C/ATT    2006
3                       passing                              YDS    2006
4                       passing                              YDS    2006
...                         ...                              ...     ...
9424                    punting                              YDS    2006
9425                    punting                              AVG    2006
9426                    punting                               TB    2006
9427                    punting                            In 20    2006
9428                    punting                             LONG    2006

[9429 rows x 8 columns]
          id              name   stat    game.id game.teams.school  \
0     145275      Colt Brennan  33/48  263290062           Hawai'i
1     145275      Colt Brennan    434  263290062           Hawai'i
2     145275      Colt Brennan    9.0  263290062           Hawai'i
3     145275      Colt Brennan      3  263290062           Hawai'i
4     145275      Colt Brennan      1  263290062           Hawai'i
...      ...               ...    ...        ...               ...
7781  136227  David Wooldridge    187  263290150    North Carolina
7782  136227  David Wooldridge   37.4  263290150    North Carolina
7783  136227  David Wooldridge      0  263290150    North Carolina
7784  136227  David Wooldridge      0  263290150    North Carolina
7785  136227  David Wooldridge     47  263290150    North Carolina

     game.teams.categories.name game.teams.categories.types.name  season
0                       passing                            C/ATT    2006
1                       passing                              YDS    2006
2                       passing                              AVG    2006
3                       passing                               TD    2006
4                       passing                              INT    2006
...                         ...                              ...     ...
7781                    punting                              YDS    2006
7782                    punting                              AVG    2006
7783                    punting                               TB    2006
7784                    punting                            In 20    2006
7785                    punting                             LONG    2006

[7786 rows x 8 columns]
          id            name   stat    game.id game.teams.school  \
0     150728  Austen Everson      0  263340195              Ohio
1     170808      Josh Febus      0  263340195              Ohio
2     145942      Brad Bower      2  263340195              Ohio
3     145942      Brad Bower  13/19  263340195              Ohio
4     150728  Austen Everson    3/5  263340195              Ohio
...      ...             ...    ...        ...               ...
2963  150655   Jimmie Kaylor    195  263360021    Colorado State
2964  150655   Jimmie Kaylor   32.5  263360021    Colorado State
2965  150655   Jimmie Kaylor      0  263360021    Colorado State
2966  150655   Jimmie Kaylor      0  263360021    Colorado State
2967  150655   Jimmie Kaylor     43  263360021    Colorado State

     game.teams.categories.name game.teams.categories.types.name  season
0                       passing                              INT    2006
1                       passing                              INT    2006
2                       passing                              INT    2006
3                       passing                            C/ATT    2006
4                       passing                            C/ATT    2006
...                         ...                              ...     ...
2963                    punting                              YDS    2006
2964                    punting                              AVG    2006
2965                    punting                               TB    2006
2966                    punting                            In 20    2006
2967                    punting                             LONG    2006

[2968 rows x 8 columns]

          id          name   stat    game.id game.teams.school  \
0     137461  Jeff Ballard  19/29  263532628               TCU
1     137461  Jeff Ballard    258  263532628               TCU
2     137461  Jeff Ballard    8.9  263532628               TCU
3     137461  Jeff Ballard      1  263532628               TCU
4     137461  Jeff Ballard      0  263532628               TCU
...      ...           ...    ...        ...               ...
5503  146542   Eric Wilbur    177  270080194           Florida
5504  146542   Eric Wilbur   44.3  270080194           Florida
5505  146542   Eric Wilbur      0  270080194           Florida
5506  146542   Eric Wilbur      0  270080194           Florida
5507  146542   Eric Wilbur     59  270080194           Florida

     game.teams.categories.name game.teams.categories.types.name  season
0                       passing                            C/ATT    2006
1                       passing                              YDS    2006
2                       passing                              AVG    2006
3                       passing                               TD    2006
4                       passing                              INT    2006
...                         ...                              ...     ...
5503                    punting                              YDS    2006
5504                    punting                              AVG    2006
5505                    punting                               TB    2006
5506                    punting                            In 20    2006
5507                    punting                             LONG    2006

[5508 rows x 8 columns]
           id                name  stat    game.id game.teams.school  \
0      162808      Travis Shelton     0  272430218            Temple
1      189953      Adam DiMichele     0  272430218            Temple
2      184776        Jason Harper     0  272430218            Temple
3      166975  Marcellous Grigsby     0  272430218            Temple
4      162773          Josh Bundy     0  272430218            Temple
...       ...                 ...   ...        ...               ...
12980  237120      Terrence Brown   201  272440153    North Carolina
12981  237120      Terrence Brown  50.3  272440153    North Carolina
12982  237120      Terrence Brown     0  272440153    North Carolina
12983  237120      Terrence Brown     0  272440153    North Carolina
12984  237120      Terrence Brown    64  272440153    North Carolina

      game.teams.categories.name game.teams.categories.types.name  season
0                        rushing                               TD    2007
1                        rushing                               TD    2007
2                        rushing                               TD    2007
3                        rushing                               TD    2007
4                        rushing                               TD    2007
...                          ...                              ...     ...
12980                    punting                              YDS    2007
12981                    punting                              AVG    2007
12982                    punting                               TB    2007
12983                    punting                            In 20    2007
12984                    punting                             LONG    2007

[12985 rows x 8 columns]
           id         name   stat    game.id game.teams.school  \
0      161913    Mike Teel  14/19  272500164           Rutgers
1      161913    Mike Teel    266  272500164           Rutgers
2      161913    Mike Teel   14.0  272500164           Rutgers
3      161913    Mike Teel      3  272500164           Rutgers
4      161913    Mike Teel      1  272500164           Rutgers
...       ...          ...    ...        ...               ...
11387  168578  Owen Tolson    282  272510349              Army
11388  168578  Owen Tolson   47.0  272510349              Army
11389  168578  Owen Tolson      0  272510349              Army
11390  168578  Owen Tolson      0  272510349              Army
11391  168578  Owen Tolson     59  272510349              Army

      game.teams.categories.name game.teams.categories.types.name  season
0                        passing                            C/ATT    2007
1                        passing                              YDS    2007
2                        passing                              AVG    2007
3                        passing                               TD    2007
4                        passing                              INT    2007
...                          ...                              ...     ...
11387                    punting                              YDS    2007
11388                    punting                              AVG    2007
11389                    punting                               TB    2007
11390                    punting                            In 20    2007
11391                    punting                             LONG    2007

[11392 rows x 8 columns]
           id                name   stat    game.id game.teams.school  \
0      185609          Nate Davis  19/33  272582426        Ball State
1      185609          Nate Davis    277  272582426        Ball State
2      185609          Nate Davis    8.4  272582426        Ball State
3      185609          Nate Davis      3  272582426        Ball State
4      185609          Nate Davis      1  272582426        Ball State
...       ...                 ...    ...        ...               ...
12526  149918  Anthony Binswanger    178  272580276          Marshall
12527  149918  Anthony Binswanger   44.5  272580276          Marshall
12528  149918  Anthony Binswanger      0  272580276          Marshall
12529  149918  Anthony Binswanger      0  272580276          Marshall
12530  149918  Anthony Binswanger     54  272580276          Marshall

      game.teams.categories.name game.teams.categories.types.name  season
0                        passing                            C/ATT    2007
1                        passing                              YDS    2007
2                        passing                              AVG    2007
3                        passing                               TD    2007
4                        passing                              INT    2007
...                          ...                              ...     ...
12526                    punting                              YDS    2007
12527                    punting                              AVG    2007
12528                    punting                               TB    2007
12529                    punting                            In 20    2007
12530                    punting                             LONG    2007

[12531 rows x 8 columns]
           id            name   stat    game.id game.teams.school  \
0      191344  Thaddeus Lewis  23/36  272652426              Duke
1      191344  Thaddeus Lewis    428  272652426              Duke
2      191344  Thaddeus Lewis   11.9  272652426              Duke
3      191344  Thaddeus Lewis      4  272652426              Duke
4      191344  Thaddeus Lewis      1  272652426              Duke
...       ...             ...    ...        ...               ...
11586  184415      Greg Hiett      0  272652638              UTEP
11587  193159   Kyle Petersen      0  272652638              UTEP
11588  184415      Greg Hiett      0  272652638              UTEP
11589  193159   Kyle Petersen     49  272652638              UTEP
11590  184415      Greg Hiett     29  272652638              UTEP

      game.teams.categories.name game.teams.categories.types.name  season
0                        passing                            C/ATT    2007
1                        passing                              YDS    2007
2                        passing                              AVG    2007
3                        passing                               TD    2007
4                        passing                              INT    2007
...                          ...                              ...     ...
11586                    punting                               TB    2007
11587                    punting                            In 20    2007
11588                    punting                            In 20    2007
11589                    punting                             LONG    2007
11590                    punting                             LONG    2007

[11591 rows x 8 columns]

           id          name   stat    game.id game.teams.school  \
0      164361  Shaun Carney  18/23  272722426         Air Force
1      164361  Shaun Carney    237  272722426         Air Force
2      164361  Shaun Carney   10.3  272722426         Air Force
3      164361  Shaun Carney      0  272722426         Air Force
4      164361  Shaun Carney      0  272722426         Air Force
...       ...           ...    ...        ...               ...
10815  183679   Matt Bosher    102  272722390             Miami
10816  183679   Matt Bosher   34.0  272722390             Miami
10817  183679   Matt Bosher      0  272722390             Miami
10818  183679   Matt Bosher      0  272722390             Miami
10819  183679   Matt Bosher     36  272722390             Miami

      game.teams.categories.name game.teams.categories.types.name  season
0                        passing                            C/ATT    2007
1                        passing                              YDS    2007
2                        passing                              AVG    2007
3                        passing                               TD    2007
4                        passing                              INT    2007
...                          ...                              ...     ...
10815                    punting                              YDS    2007
10816                    punting                              AVG    2007
10817                    punting                               TB    2007
10818                    punting                            In 20    2007
10819                    punting                             LONG    2007

[10820 rows x 8 columns]
           id         name   stat    game.id game.teams.school  \
0      156796  C.J. Bacher  38/48  272790127      Northwestern
1      160457   Kyle Daley    0/1  272790127      Northwestern
2      156796  C.J. Bacher    520  272790127      Northwestern
3      160457   Kyle Daley      0  272790127      Northwestern
4      156796  C.J. Bacher   10.8  272790127      Northwestern
...       ...          ...    ...        ...               ...
10041  183679  Matt Bosher    150  272790153             Miami
10042  183679  Matt Bosher   37.5  272790153             Miami
10043  183679  Matt Bosher      0  272790153             Miami
10044  183679  Matt Bosher      0  272790153             Miami
10045  183679  Matt Bosher     42  272790153             Miami

      game.teams.categories.name game.teams.categories.types.name  season
0                        passing                            C/ATT    2007
1                        passing                            C/ATT    2007
2                        passing                              YDS    2007
3                        passing                              YDS    2007
4                        passing                              AVG    2007
...                          ...                              ...     ...
10041                    punting                              YDS    2007
10042                    punting                              AVG    2007
10043                    punting                               TB    2007
10044                    punting                            In 20    2007
10045                    punting                             LONG    2007

[10046 rows x 8 columns]
           id            name   stat    game.id game.teams.school  \
0      235963     Pat Bostick  20/28  272830221        Pittsburgh
1      235963     Pat Bostick    191  272830221        Pittsburgh
2      235963     Pat Bostick    6.8  272830221        Pittsburgh
3      235963     Pat Bostick      1  272830221        Pittsburgh
4      235963     Pat Bostick      1  272830221        Pittsburgh
...       ...             ...    ...        ...               ...
10075  169018  David Strimple      0  272862390             Miami
10076  183679     Matt Bosher      0  272862390             Miami
10077  169018  David Strimple      0  272862390             Miami
10078  183679     Matt Bosher     49  272862390             Miami
10079  169018  David Strimple     22  272862390             Miami

      game.teams.categories.name game.teams.categories.types.name  season
0                        passing                            C/ATT    2007
1                        passing                              YDS    2007
2                        passing                              AVG    2007
3                        passing                               TD    2007
4                        passing                              INT    2007
...                          ...                              ...     ...
10075                    punting                               TB    2007
10076                    punting                            In 20    2007
10077                    punting                            In 20    2007
10078                    punting                             LONG    2007
10079                    punting                             LONG    2007

[10080 rows x 8 columns]
          id           name   stat    game.id game.teams.school  \
0     169077  Riley Skinner  22/28  272932426       Wake Forest
1     169077  Riley Skinner    213  272932426       Wake Forest
2     169077  Riley Skinner    7.6  272932426       Wake Forest
3     169077  Riley Skinner      2  272932426       Wake Forest
4     169077  Riley Skinner      0  272932426       Wake Forest
...      ...            ...    ...        ...               ...
9857  175061  Durant Brooks    189  272930059      Georgia Tech
9858  175061  Durant Brooks   47.3  272930059      Georgia Tech
9859  175061  Durant Brooks      0  272930059      Georgia Tech
9860  175061  Durant Brooks      0  272930059      Georgia Tech
9861  175061  Durant Brooks     66  272930059      Georgia Tech

     game.teams.categories.name game.teams.categories.types.name  season
0                       passing                            C/ATT    2007
1                       passing                              YDS    2007
2                       passing                              AVG    2007
3                       passing                               TD    2007
4                       passing                              INT    2007
...                         ...                              ...     ...
9857                    punting                              YDS    2007
9858                    punting                              AVG    2007
9859                    punting                               TB    2007
9860                    punting                            In 20    2007
9861                    punting                             LONG    2007

[9862 rows x 8 columns]
          id                name   stat    game.id game.teams.school  \
0     146278          Joe Flacco  30/41  273002426          Delaware
1     146278          Joe Flacco    434  273002426          Delaware
2     146278          Joe Flacco   10.6  273002426          Delaware
3     146278          Joe Flacco      4  273002426          Delaware
4     146278          Joe Flacco      0  273002426          Delaware
...      ...                 ...    ...        ...               ...
9227  149918  Anthony Binswanger      0  273000276          Marshall
9228  165003         Marty Biagi      0  273000276          Marshall
9229  149918  Anthony Binswanger      0  273000276          Marshall
9230  165003         Marty Biagi     48  273000276          Marshall
9231  149918  Anthony Binswanger     40  273000276          Marshall

     game.teams.categories.name game.teams.categories.types.name  season
0                       passing                            C/ATT    2007
1                       passing                              YDS    2007
2                       passing                              AVG    2007
3                       passing                               TD    2007
4                       passing                              INT    2007
...                         ...                              ...     ...
9227                    punting                               TB    2007
9228                    punting                            In 20    2007
9229                    punting                            In 20    2007
9230                    punting                             LONG    2007
9231                    punting                             LONG    2007

[9232 rows x 8 columns]

          id           name   stat    game.id game.teams.school  \
0     174099  Evan Sharpley  17/27  273070087        Notre Dame
1     174099  Evan Sharpley    140  273070087        Notre Dame
2     174099  Evan Sharpley    5.2  273070087        Notre Dame
3     174099  Evan Sharpley      2  273070087        Notre Dame
4     174099  Evan Sharpley      0  273070087        Notre Dame
...      ...            ...    ...        ...               ...
9850  193159  Kyle Petersen    250  273070242              UTEP
9851  193159  Kyle Petersen   41.7  273070242              UTEP
9852  193159  Kyle Petersen      0  273070242              UTEP
9853  193159  Kyle Petersen      0  273070242              UTEP
9854  193159  Kyle Petersen     45  273070242              UTEP

     game.teams.categories.name game.teams.categories.types.name  season
0                       passing                            C/ATT    2007
1                       passing                              YDS    2007
2                       passing                              AVG    2007
3                       passing                               TD    2007
4                       passing                              INT    2007
...                         ...                              ...     ...
9850                    punting                              YDS    2007
9851                    punting                              AVG    2007
9852                    punting                               TB    2007
9853                    punting                            In 20    2007
9854                    punting                             LONG    2007

[9855 rows x 8 columns]
          id            name   stat    game.id game.teams.school  \
0     242179  Giovanni Vizza  40/50  273140249       North Texas
1     242179  Giovanni Vizza    478  273140249       North Texas
2     242179  Giovanni Vizza    9.6  273140249       North Texas
3     242179  Giovanni Vizza      8  273140249       North Texas
4     242179  Giovanni Vizza      2  273140249       North Texas
...      ...             ...    ...        ...               ...
9706  175061   Durant Brooks    231  273140150      Georgia Tech
9707  175061   Durant Brooks   38.5  273140150      Georgia Tech
9708  175061   Durant Brooks      0  273140150      Georgia Tech
9709  175061   Durant Brooks      0  273140150      Georgia Tech
9710  175061   Durant Brooks     44  273140150      Georgia Tech

     game.teams.categories.name game.teams.categories.types.name  season
0                       passing                            C/ATT    2007
1                       passing                              YDS    2007
2                       passing                              AVG    2007
3                       passing                               TD    2007
4                       passing                              INT    2007
...                         ...                              ...     ...
9706                    punting                              YDS    2007
9707                    punting                              AVG    2007
9708                    punting                               TB    2007
9709                    punting                            In 20    2007
9710                    punting                             LONG    2007

[9711 rows x 8 columns]
          id           name   stat    game.id  game.teams.school  \
0     175233    Ryan Morris  21/35  273212426  Northern Illinois
1     175233    Ryan Morris    206  273212426  Northern Illinois
2     175233    Ryan Morris    5.9  273212426  Northern Illinois
3     175233    Ryan Morris      2  273212426  Northern Illinois
4     175233    Ryan Morris      1  273212426  Northern Illinois
...      ...            ...    ...        ...                ...
9329  156623    Travis Bell      0  273210059       Georgia Tech
9330  175061  Durant Brooks      0  273210059       Georgia Tech
9331  156623    Travis Bell      0  273210059       Georgia Tech
9332  175061  Durant Brooks     77  273210059       Georgia Tech
9333  156623    Travis Bell     19  273210059       Georgia Tech

     game.teams.categories.name game.teams.categories.types.name  season
0                       passing                            C/ATT    2007
1                       passing                              YDS    2007
2                       passing                              AVG    2007
3                       passing                               TD    2007
4                       passing                              INT    2007
...                         ...                              ...     ...
9329                    punting                               TB    2007
9330                    punting                            In 20    2007
9331                    punting                            In 20    2007
9332                    punting                             LONG    2007
9333                    punting                             LONG    2007

[9334 rows x 8 columns]
          id            name   stat    game.id game.teams.school  \
0     160303  Rudy Carpenter  21/30  273260009     Arizona State
1     183330  Danny Sullivan    1/1  273260009     Arizona State
2     160303  Rudy Carpenter    240  273260009     Arizona State
3     183330  Danny Sullivan      3  273260009     Arizona State
4     160303  Rudy Carpenter    8.0  273260009     Arizona State
...      ...             ...    ...        ...               ...
8461  237120  Terrence Brown    231  273280153    North Carolina
8462  237120  Terrence Brown   38.5  273280153    North Carolina
8463  237120  Terrence Brown      0  273280153    North Carolina
8464  237120  Terrence Brown      0  273280153    North Carolina
8465  237120  Terrence Brown     51  273280153    North Carolina

     game.teams.categories.name game.teams.categories.types.name  season
0                       passing                            C/ATT    2007
1                       passing                            C/ATT    2007
2                       passing                              YDS    2007
3                       passing                              YDS    2007
4                       passing                              AVG    2007
...                         ...                              ...     ...
8461                    punting                              YDS    2007
8462                    punting                              AVG    2007
8463                    punting                               TB    2007
8464                    punting                            In 20    2007
8465                    punting                             LONG    2007

[8466 rows x 8 columns]
          id          name   stat    game.id game.teams.school  \
0     164609   Brian Brohm  12/22  273330097        Louisville
1     164609   Brian Brohm    237  273330097        Louisville
2     164609   Brian Brohm   10.8  273330097        Louisville
3     164609   Brian Brohm      1  273330097        Louisville
4     164609   Brian Brohm      0  273330097        Louisville
...      ...           ...    ...        ...               ...
3155  171906  Chris Keagle    308  273352440    Louisiana Tech
3156  171906  Chris Keagle   38.5  273352440    Louisiana Tech
3157  171906  Chris Keagle      0  273352440    Louisiana Tech
3158  171906  Chris Keagle      0  273352440    Louisiana Tech
3159  171906  Chris Keagle     53  273352440    Louisiana Tech

     game.teams.categories.name game.teams.categories.types.name  season
0                       passing                            C/ATT    2007
1                       passing                              YDS    2007
2                       passing                              AVG    2007
3                       passing                               TD    2007
4                       passing                              INT    2007
...                         ...                              ...     ...
3155                    punting                              YDS    2007
3156                    punting                              AVG    2007
3157                    punting                               TB    2007
3158                    punting                            In 20    2007
3159                    punting                             LONG    2007

[3160 rows x 8 columns]

          id                      name  stat    game.id game.teams.school  \
0     180784  Kaipo-Noa Kaheaku-Enhada  7/14  273542426              Navy
1     180784  Kaipo-Noa Kaheaku-Enhada   122  273542426              Navy
2     180784  Kaipo-Noa Kaheaku-Enhada   8.7  273542426              Navy
3     180784  Kaipo-Noa Kaheaku-Enhada     2  273542426              Navy
4     180784  Kaipo-Noa Kaheaku-Enhada     1  273542426              Navy
...      ...                       ...   ...        ...               ...
5808  146743            Patrick Fisher   170  280070194               LSU
5809  146743            Patrick Fisher  56.7  280070194               LSU
5810  146743            Patrick Fisher     0  280070194               LSU
5811  146743            Patrick Fisher     0  280070194               LSU
5812  146743            Patrick Fisher    62  280070194               LSU

     game.teams.categories.name game.teams.categories.types.name  season
0                       passing                            C/ATT    2007
1                       passing                              YDS    2007
2                       passing                              AVG    2007
3                       passing                               TD    2007
4                       passing                              INT    2007
...                         ...                              ...     ...
5808                    punting                              YDS    2007
5809                    punting                              AVG    2007
5810                    punting                               TB    2007
5811                    punting                            In 20    2007
5812                    punting                             LONG    2007

[5813 rows x 8 columns]
           id            name   stat    game.id game.teams.school  \
0      171064   Sean Schaefer  29/47  282432426            Towson
1      171064   Sean Schaefer    330  282432426            Towson
2      171064   Sean Schaefer    7.0  282432426            Towson
3      171064   Sean Schaefer      2  282432426            Towson
4      171064   Sean Schaefer      1  282432426            Towson
...       ...             ...    ...        ...               ...
14273  383420  Kase Whitehead    247  282430276          Marshall
14274  383420  Kase Whitehead   41.2  282430276          Marshall
14275  383420  Kase Whitehead      0  282430276          Marshall
14276  383420  Kase Whitehead      0  282430276          Marshall
14277  383420  Kase Whitehead     49  282430276          Marshall

      game.teams.categories.name game.teams.categories.types.name  season
0                        passing                            C/ATT    2008
1                        passing                              YDS    2008
2                        passing                              AVG    2008
3                        passing                               TD    2008
4                        passing                              INT    2008
...                          ...                              ...     ...
14273                    punting                              YDS    2008
14274                    punting                              AVG    2008
14275                    punting                               TB    2008
14276                    punting                            In 20    2008
14277                    punting                             LONG    2008

[14278 rows x 8 columns]
           id            name   stat    game.id game.teams.school  \
0      185609      Nate Davis  21/28  282492050        Ball State
1      185609      Nate Davis    326  282492050        Ball State
2      185609      Nate Davis   11.6  282492050        Ball State
3      185609      Nate Davis      4  282492050        Ball State
4      185609      Nate Davis      2  282492050        Ball State
...       ...             ...    ...        ...               ...
12596  243250  Timothy Grasso    176  282500062           Hawai'i
12597  243250  Timothy Grasso   44.0  282500062           Hawai'i
12598  243250  Timothy Grasso      0  282500062           Hawai'i
12599  243250  Timothy Grasso      0  282500062           Hawai'i
12600  243250  Timothy Grasso     53  282500062           Hawai'i

      game.teams.categories.name game.teams.categories.types.name  season
0                        passing                            C/ATT    2008
1                        passing                              YDS    2008
2                        passing                              AVG    2008
3                        passing                               TD    2008
4                        passing                              INT    2008
...                          ...                              ...     ...
12596                    punting                              YDS    2008
12597                    punting                              AVG    2008
12598                    punting                               TB    2008
12599                    punting                            In 20    2008
12600                    punting                             LONG    2008

[12601 rows x 8 columns]
           id                      name  stat    game.id game.teams.school  \
0      182913              Jarod Bryant   5/7  282570150              Navy
1      180784  Kaipo-Noa Kaheaku-Enhada   3/3  282570150              Navy
2      182913              Jarod Bryant   105  282570150              Navy
3      180784  Kaipo-Noa Kaheaku-Enhada    45  282570150              Navy
4      182913              Jarod Bryant  15.0  282570150              Navy
...       ...                       ...   ...        ...               ...
10167  240335               Scott Blair    95  282570259      Georgia Tech
10168  240335               Scott Blair  47.5  282570259      Georgia Tech
10169  240335               Scott Blair     0  282570259      Georgia Tech
10170  240335               Scott Blair     0  282570259      Georgia Tech
10171  240335               Scott Blair    53  282570259      Georgia Tech

      game.teams.categories.name game.teams.categories.types.name  season
0                        passing                            C/ATT    2008
1                        passing                            C/ATT    2008
2                        passing                              YDS    2008
3                        passing                              YDS    2008
4                        passing                              AVG    2008
...                          ...                              ...     ...
10167                    punting                              YDS    2008
10168                    punting                              AVG    2008
10169                    punting                               TB    2008
10170                    punting                            In 20    2008
10171                    punting                             LONG    2008

[10172 rows x 8 columns]
           id                      name  stat    game.id game.teams.school  \
0      180784  Kaipo-Noa Kaheaku-Enhada   5/8  282642426              Navy
1      180784  Kaipo-Noa Kaheaku-Enhada    89  282642426              Navy
2      180784  Kaipo-Noa Kaheaku-Enhada  11.1  282642426              Navy
3      180784  Kaipo-Noa Kaheaku-Enhada     1  282642426              Navy
4      180784  Kaipo-Noa Kaheaku-Enhada     0  282642426              Navy
...       ...                       ...   ...        ...               ...
10414  379549             Kienan Cullen   284  282640098      Murray State
10415  379549             Kienan Cullen  47.3  282640098      Murray State
10416  379549             Kienan Cullen     0  282640098      Murray State
10417  379549             Kienan Cullen     0  282640098      Murray State
10418  379549             Kienan Cullen    55  282640098      Murray State

      game.teams.categories.name game.teams.categories.types.name  season
0                        passing                            C/ATT    2008
1                        passing                              YDS    2008
2                        passing                              AVG    2008
3                        passing                               TD    2008
4                        passing                              INT    2008
...                          ...                              ...     ...
10414                    punting                              YDS    2008
10415                    punting                              AVG    2008
10416                    punting                               TB    2008
10417                    punting                            In 20    2008
10418                    punting                             LONG    2008

[10419 rows x 8 columns]

          id                      name  stat    game.id game.teams.school  \
0     180784  Kaipo-Noa Kaheaku-Enhada   2/3  282710154              Navy
1     182913              Jarod Bryant   1/1  282710154              Navy
2     180784  Kaipo-Noa Kaheaku-Enhada    58  282710154              Navy
3     182913              Jarod Bryant    -7  282710154              Navy
4     180784  Kaipo-Noa Kaheaku-Enhada  19.3  282710154              Navy
...      ...                       ...   ...        ...               ...
9720  191340               Kevin Jones   349  282710150              Duke
9721  191340               Kevin Jones  43.6  282710150              Duke
9722  191340               Kevin Jones     0  282710150              Duke
9723  191340               Kevin Jones     0  282710150              Duke
9724  191340               Kevin Jones    57  282710150              Duke

     game.teams.categories.name game.teams.categories.types.name  season
0                       passing                            C/ATT    2008
1                       passing                            C/ATT    2008
2                       passing                              YDS    2008
3                       passing                              YDS    2008
4                       passing                              AVG    2008
...                         ...                              ...     ...
9720                    punting                              YDS    2008
9721                    punting                              AVG    2008
9722                    punting                               TB    2008
9723                    punting                            In 20    2008
9724                    punting                             LONG    2008

[9725 rows x 8 columns]
          id               name  stat    game.id game.teams.school  \
0     190220         Shea Smith  8/12  282782005         Air Force
1     386275  Tim Jefferson Jr.   4/9  282782005         Air Force
2     190220         Shea Smith   128  282782005         Air Force
3     386275  Tim Jefferson Jr.    56  282782005         Air Force
4     190220         Shea Smith  10.7  282782005         Air Force
...      ...                ...   ...        ...               ...
9490  240230  Chandler Anderson   115  282780059      Georgia Tech
9491  240230  Chandler Anderson  38.3  282780059      Georgia Tech
9492  240230  Chandler Anderson     0  282780059      Georgia Tech
9493  240230  Chandler Anderson     0  282780059      Georgia Tech
9494  240230  Chandler Anderson    56  282780059      Georgia Tech

     game.teams.categories.name game.teams.categories.types.name  season
0                       passing                            C/ATT    2008
1                       passing                            C/ATT    2008
2                       passing                              YDS    2008
3                       passing                              YDS    2008
4                       passing                              AVG    2008
...                         ...                              ...     ...
9490                    punting                              YDS    2008
9491                    punting                              AVG    2008
9492                    punting                               TB    2008
9493                    punting                            In 20    2008
9494                    punting                             LONG    2008

[9495 rows x 8 columns]
          id           name   stat    game.id game.teams.school  \
0     160772    Brian Hoyer  14/20  282850077    Michigan State
1     160772    Brian Hoyer    169  282850077    Michigan State
2     160772    Brian Hoyer    8.4  282850077    Michigan State
3     160772    Brian Hoyer      2  282850077    Michigan State
4     160772    Brian Hoyer      0  282850077    Michigan State
...      ...            ...    ...        ...               ...
9145  178127  Michael Hanna    458  282850059      Gardner-Webb
9146  178127  Michael Hanna   45.8  282850059      Gardner-Webb
9147  178127  Michael Hanna      0  282850059      Gardner-Webb
9148  178127  Michael Hanna      0  282850059      Gardner-Webb
9149  178127  Michael Hanna     61  282850059      Gardner-Webb

     game.teams.categories.name game.teams.categories.types.name  season
0                       passing                            C/ATT    2008
1                       passing                              YDS    2008
2                       passing                              AVG    2008
3                       passing                               TD    2008
4                       passing                              INT    2008
...                         ...                              ...     ...
9145                    punting                              YDS    2008
9146                    punting                              AVG    2008
9147                    punting                               TB    2008
9148                    punting                            In 20    2008
9149                    punting                             LONG    2008

[9150 rows x 8 columns]
          id            name   stat    game.id game.teams.school  \
0     173548      Bill Stull  15/23  282922426        Pittsburgh
1     173548      Bill Stull    255  282922426        Pittsburgh
2     173548      Bill Stull   11.1  282922426        Pittsburgh
3     173548      Bill Stull      1  282922426        Pittsburgh
4     173548      Bill Stull      2  282922426        Pittsburgh
...      ...             ...    ...        ...               ...
9465  237120  Terrence Brown    196  282920258    North Carolina
9466  237120  Terrence Brown   39.2  282920258    North Carolina
9467  237120  Terrence Brown      0  282920258    North Carolina
9468  237120  Terrence Brown      0  282920258    North Carolina
9469  237120  Terrence Brown     45  282920258    North Carolina

     game.teams.categories.name game.teams.categories.types.name  season
0                       passing                            C/ATT    2008
1                       passing                              YDS    2008
2                       passing                              AVG    2008
3                       passing                               TD    2008
4                       passing                              INT    2008
...                         ...                              ...     ...
9465                    punting                              YDS    2008
9466                    punting                              AVG    2008
9467                    punting                               TB    2008
9468                    punting                            In 20    2008
9469                    punting                             LONG    2008

[9470 rows x 8 columns]
          id              name   stat    game.id game.teams.school  \
0     380309  Bo Levi Mitchell  16/28  282992426               SMU
1     380309  Bo Levi Mitchell    157  282992426               SMU
2     380309  Bo Levi Mitchell    5.6  282992426               SMU
3     380309  Bo Levi Mitchell      1  282992426               SMU
4     380309  Bo Levi Mitchell      1  282992426               SMU
...      ...               ...    ...        ...               ...
8890  240335       Scott Blair    130  282990059      Georgia Tech
8891  240335       Scott Blair   43.3  282990059      Georgia Tech
8892  240335       Scott Blair      0  282990059      Georgia Tech
8893  240335       Scott Blair      0  282990059      Georgia Tech
8894  240335       Scott Blair     49  282990059      Georgia Tech

     game.teams.categories.name game.teams.categories.types.name  season
0                       passing                            C/ATT    2008
1                       passing                              YDS    2008
2                       passing                              AVG    2008
3                       passing                               TD    2008
4                       passing                              INT    2008
...                         ...                              ...     ...
8890                    punting                              YDS    2008
8891                    punting                              AVG    2008
8892                    punting                               TB    2008
8893                    punting                            In 20    2008
8894                    punting                             LONG    2008

[8895 rows x 8 columns]

          id            name   stat    game.id game.teams.school  \
0     189953  Adam DiMichele  21/28  283062426            Temple
1     189953  Adam DiMichele    340  283062426            Temple
2     189953  Adam DiMichele   12.1  283062426            Temple
3     189953  Adam DiMichele      3  283062426            Temple
4     189953  Adam DiMichele      0  283062426            Temple
...      ...             ...    ...        ...               ...
9017  193159   Kyle Petersen    122  283062638              UTEP
9018  193159   Kyle Petersen   40.7  283062638              UTEP
9019  193159   Kyle Petersen      0  283062638              UTEP
9020  193159   Kyle Petersen      0  283062638              UTEP
9021  193159   Kyle Petersen     49  283062638              UTEP

     game.teams.categories.name game.teams.categories.types.name  season
0                       passing                            C/ATT    2008
1                       passing                              YDS    2008
2                       passing                              AVG    2008
3                       passing                               TD    2008
4                       passing                              INT    2008
...                         ...                              ...     ...
9017                    punting                              YDS    2008
9018                    punting                              AVG    2008
9019                    punting                               TB    2008
9020                    punting                            In 20    2008
9021                    punting                             LONG    2008

[9022 rows x 8 columns]
          id           name   stat    game.id game.teams.school  \
0     237342  Justin Siller  13/30  283130127            Purdue
1     237342  Justin Siller     83  283130127            Purdue
2     237342  Justin Siller    2.8  283130127            Purdue
3     237342  Justin Siller      0  283130127            Purdue
4     237342  Justin Siller      1  283130127            Purdue
...      ...            ...    ...        ...               ...
9634  383447   Kyle Martens    116  283130242              Rice
9635  383447   Kyle Martens   38.7  283130242              Rice
9636  383447   Kyle Martens      0  283130242              Rice
9637  383447   Kyle Martens      0  283130242              Rice
9638  383447   Kyle Martens     48  283130242              Rice

     game.teams.categories.name game.teams.categories.types.name  season
0                       passing                            C/ATT    2008
1                       passing                              YDS    2008
2                       passing                              AVG    2008
3                       passing                               TD    2008
4                       passing                              INT    2008
...                         ...                              ...     ...
9634                    punting                              YDS    2008
9635                    punting                              AVG    2008
9636                    punting                               TB    2008
9637                    punting                            In 20    2008
9638                    punting                             LONG    2008

[9639 rows x 8 columns]
          id           name   stat    game.id game.teams.school  \
0     231813  Jimmy Clausen  15/18  283202426        Notre Dame
1     174099  Evan Sharpley    0/1  283202426        Notre Dame
2     231813  Jimmy Clausen    110  283202426        Notre Dame
3     174099  Evan Sharpley      0  283202426        Notre Dame
4     231813  Jimmy Clausen    6.1  283202426        Notre Dame
...      ...            ...    ...        ...               ...
8864  175130   Brent Bowden    224  283182390     Virginia Tech
8865  175130   Brent Bowden   37.3  283182390     Virginia Tech
8866  175130   Brent Bowden      0  283182390     Virginia Tech
8867  175130   Brent Bowden      0  283182390     Virginia Tech
8868  175130   Brent Bowden     46  283182390     Virginia Tech

     game.teams.categories.name game.teams.categories.types.name  season
0                       passing                            C/ATT    2008
1                       passing                            C/ATT    2008
2                       passing                              YDS    2008
3                       passing                              YDS    2008
4                       passing                              AVG    2008
...                         ...                              ...     ...
8864                    punting                              YDS    2008
8865                    punting                              AVG    2008
8866                    punting                               TB    2008
8867                    punting                            In 20    2008
8868                    punting                             LONG    2008

[8869 rows x 8 columns]
          id            name   stat    game.id game.teams.school  \
0     185917    Daryll Clark  16/26  283270213        Penn State
1     188680      Pat Devlin    2/4  283270213        Penn State
2     169349  Paul Cianciolo    1/1  283270213        Penn State
3     185917    Daryll Clark    341  283270213        Penn State
4     188680      Pat Devlin     74  283270213        Penn State
...      ...             ...    ...        ...               ...
8817  383420  Kase Whitehead    232  283270242          Marshall
8818  383420  Kase Whitehead   38.7  283270242          Marshall
8819  383420  Kase Whitehead      0  283270242          Marshall
8820  383420  Kase Whitehead      0  283270242          Marshall
8821  383420  Kase Whitehead     52  283270242          Marshall

     game.teams.categories.name game.teams.categories.types.name  season
0                       passing                            C/ATT    2008
1                       passing                            C/ATT    2008
2                       passing                            C/ATT    2008
3                       passing                              YDS    2008
4                       passing                              YDS    2008
...                         ...                              ...     ...
8817                    punting                              YDS    2008
8818                    punting                              AVG    2008
8819                    punting                               TB    2008
8820                    punting                            In 20    2008
8821                    punting                             LONG    2008

[8822 rows x 8 columns]
          id          name   stat    game.id game.teams.school  \
0     232307  Ian McGarvey      9  283302050        Ball State
1     232307  Ian McGarvey    1/1  283302050        Ball State
2     232307  Ian McGarvey  100.0  283302050        Ball State
3     232307  Ian McGarvey     43  283302050        Ball State
4     232307  Ian McGarvey    6/6  283302050        Ball State
...      ...           ...    ...        ...               ...
7157  184517  Alonso Rojas    151  283340142            Kansas
7158  184517  Alonso Rojas   37.8  283340142            Kansas
7159  184517  Alonso Rojas      0  283340142            Kansas
7160  184517  Alonso Rojas      0  283340142            Kansas
7161  184517  Alonso Rojas     56  283340142            Kansas

     game.teams.categories.name game.teams.categories.types.name  season
0                       kicking                              PTS    2008
1                       kicking                               FG    2008
2                       kicking                              PCT    2008
3                       kicking                             LONG    2008
4                       kicking                               XP    2008
...                         ...                              ...     ...
7157                    punting                              YDS    2008
7158                    punting                              AVG    2008
7159                    punting                               TB    2008
7160                    punting                            In 20    2008
7161                    punting                             LONG    2008

[7162 rows x 8 columns]

          id                name   stat    game.id game.teams.school  \
0     157747  Michael Desormeaux  18/25  283380309         Louisiana
1     157747  Michael Desormeaux    243  283380309         Louisiana
2     157747  Michael Desormeaux    9.7  283380309         Louisiana
3     157747  Michael Desormeaux      4  283380309         Louisiana
4     157747  Michael Desormeaux      0  283380309         Louisiana
...      ...                 ...    ...        ...               ...
2743  183858        Thomas Weber    306  283410012     Arizona State
2744  183858        Thomas Weber   43.7  283410012     Arizona State
2745  183858        Thomas Weber      0  283410012     Arizona State
2746  183858        Thomas Weber      0  283410012     Arizona State
2747  183858        Thomas Weber     52  283410012     Arizona State

     game.teams.categories.name game.teams.categories.types.name  season
0                       passing                            C/ATT    2008
1                       passing                              YDS    2008
2                       passing                              AVG    2008
3                       passing                               TD    2008
4                       passing                              INT    2008
...                         ...                              ...     ...
2743                    punting                              YDS    2008
2744                    punting                              AVG    2008
2745                    punting                               TB    2008
2746                    punting                            In 20    2008
2747                    punting                             LONG    2008

[2748 rows x 8 columns]
          id           name  stat    game.id game.teams.school  \
0     156089  Jason Bondzio     1  283550012           Arizona
1     193215   Keenyn Crier     2  283550012           Arizona
2     193215   Keenyn Crier    83  283550012           Arizona
3     156089  Jason Bondzio    14  283550012           Arizona
4     193215   Keenyn Crier  41.5  283550012           Arizona
...      ...            ...   ...        ...               ...
6028  235168     Chas Henry   155  290080201           Florida
6029  235168     Chas Henry  51.7  290080201           Florida
6030  235168     Chas Henry     0  290080201           Florida
6031  235168     Chas Henry     0  290080201           Florida
6032  235168     Chas Henry    55  290080201           Florida

     game.teams.categories.name game.teams.categories.types.name  season
0                       punting                               NO    2008
1                       punting                               NO    2008
2                       punting                              YDS    2008
3                       punting                              YDS    2008
4                       punting                              AVG    2008
...                         ...                              ...     ...
6028                    punting                              YDS    2008
6029                    punting                              AVG    2008
6030                    punting                               TB    2008
6031                    punting                            In 20    2008
6032                    punting                             LONG    2008

[6033 rows x 8 columns]
           id                name   stat    game.id game.teams.school  \
0      379070  Terrelle Pryor Sr.  14/21  292480194        Ohio State
1      243266       Joe Bauserman    3/5  292480194        Ohio State
2      379070  Terrelle Pryor Sr.    174  292480194        Ohio State
3      243266       Joe Bauserman     36  292480194        Ohio State
4      379070  Terrelle Pryor Sr.    8.3  292480194        Ohio State
...       ...                 ...    ...        ...               ...
16426  383420      Kase Whitehead    110  292480276          Marshall
16427  383420      Kase Whitehead   36.7  292480276          Marshall
16428  383420      Kase Whitehead      0  292480276          Marshall
16429  383420      Kase Whitehead      0  292480276          Marshall
16430  383420      Kase Whitehead     40  292480276          Marshall

      game.teams.categories.name game.teams.categories.types.name  season
0                        passing                            C/ATT    2009
1                        passing                            C/ATT    2009
2                        passing                              YDS    2009
3                        passing                              YDS    2009
4                        passing                              AVG    2009
...                          ...                              ...     ...
16426                    punting                              YDS    2009
16427                    punting                              AVG    2009
16428                    punting                               TB    2009
16429                    punting                            In 20    2009
16430                    punting                             LONG    2009

[16431 rows x 8 columns]
           id          name   stat    game.id game.teams.school  \
0      191074  Ross Jenkins  18/29  292552426    Louisiana Tech
1      191074  Ross Jenkins    156  292552426    Louisiana Tech
2      191074  Ross Jenkins    5.4  292552426    Louisiana Tech
3      191074  Ross Jenkins      0  292552426    Louisiana Tech
4      191074  Ross Jenkins      1  292552426    Louisiana Tech
...       ...           ...    ...        ...               ...
12890  191340   Kevin Jones    254  292550349              Duke
12891  191340   Kevin Jones   36.3  292550349              Duke
12892  191340   Kevin Jones      0  292550349              Duke
12893  191340   Kevin Jones      0  292550349              Duke
12894  191340   Kevin Jones     46  292550349              Duke

      game.teams.categories.name game.teams.categories.types.name  season
0                        passing                            C/ATT    2009
1                        passing                              YDS    2009
2                        passing                              AVG    2009
3                        passing                               TD    2009
4                        passing                              INT    2009
...                          ...                              ...     ...
12890                    punting                              YDS    2009
12891                    punting                              AVG    2009
12892                    punting                               TB    2009
12893                    punting                            In 20    2009
12894                    punting                             LONG    2009

[12895 rows x 8 columns]
           id              name   stat    game.id game.teams.school  \
0      173548        Bill Stull  17/24  292620221        Pittsburgh
1      382104      Tino Sunseri    2/2  292620221        Pittsburgh
2      173548        Bill Stull    245  292620221        Pittsburgh
3      382104      Tino Sunseri     -2  292620221        Pittsburgh
4      173548        Bill Stull   10.2  292620221        Pittsburgh
...       ...               ...    ...        ...               ...
13020  378425  Craig Ratanamorn      0  292620276          Marshall
13021  383420    Kase Whitehead      0  292620276          Marshall
13022  378425  Craig Ratanamorn      0  292620276          Marshall
13023  383420    Kase Whitehead     50  292620276          Marshall
13024  378425  Craig Ratanamorn     23  292620276          Marshall

      game.teams.categories.name game.teams.categories.types.name  season
0                        passing                            C/ATT    2009
1                        passing                            C/ATT    2009
2                        passing                              YDS    2009
3                        passing                              YDS    2009
4                        passing                              AVG    2009
...                          ...                              ...     ...
13020                    punting                               TB    2009
13021                    punting                            In 20    2009
13022                    punting                            In 20    2009
13023                    punting                             LONG    2009
13024                    punting                             LONG    2009

[13025 rows x 8 columns]

           id                name  stat    game.id       game.teams.school  \
0      240655         Ricky Dobbs   4/5  292692426                    Navy
1      240655         Ricky Dobbs   100  292692426                    Navy
2      240655         Ricky Dobbs  20.0  292692426                    Navy
3      240655         Ricky Dobbs     1  292692426                    Navy
4      240655         Ricky Dobbs     0  292692426                    Navy
...       ...                 ...   ...        ...                     ...
12281  488296  Brian Haselsberger   220  292690150  North Carolina Central
12282  488296  Brian Haselsberger  36.7  292690150  North Carolina Central
12283  488296  Brian Haselsberger     0  292690150  North Carolina Central
12284  488296  Brian Haselsberger     0  292690150  North Carolina Central
12285  488296  Brian Haselsberger    47  292690150  North Carolina Central

      game.teams.categories.name game.teams.categories.types.name  season
0                        passing                            C/ATT    2009
1                        passing                              YDS    2009
2                        passing                              AVG    2009
3                        passing                               TD    2009
4                        passing                              INT    2009
...                          ...                              ...     ...
12281                    punting                              YDS    2009
12282                    punting                              AVG    2009
12283                    punting                               TB    2009
12284                    punting                            In 20    2009
12285                    punting                             LONG    2009

[12286 rows x 8 columns]
           id               name  stat    game.id game.teams.school  \
0      386275  Tim Jefferson Jr.  6/14  292762426         Air Force
1      386275  Tim Jefferson Jr.    57  292762426         Air Force
2      386275  Tim Jefferson Jr.   4.1  292762426         Air Force
3      386275  Tim Jefferson Jr.     0  292762426         Air Force
4      386275  Tim Jefferson Jr.     1  292762426         Air Force
...       ...                ...   ...        ...               ...
10030  377675    Grant Schallock   343  292760153    North Carolina
10031  377675    Grant Schallock  42.9  292760153    North Carolina
10032  377675    Grant Schallock     0  292760153    North Carolina
10033  377675    Grant Schallock     0  292760153    North Carolina
10034  377675    Grant Schallock    54  292760153    North Carolina

      game.teams.categories.name game.teams.categories.types.name  season
0                        passing                            C/ATT    2009
1                        passing                              YDS    2009
2                        passing                              AVG    2009
3                        passing                               TD    2009
4                        passing                              INT    2009
...                          ...                              ...     ...
10030                    punting                              YDS    2009
10031                    punting                              AVG    2009
10032                    punting                               TB    2009
10033                    punting                            In 20    2009
10034                    punting                             LONG    2009

[10035 rows x 8 columns]
           id                  name   stat    game.id game.teams.school  \
0      237197          Nick Fanuzzi  20/33  292830242              Rice
1      383444            Ryan Lewis    1/2  292830242              Rice
2      170296  John Thomas Shepherd    0/3  292830242              Rice
3      237197          Nick Fanuzzi    242  292830242              Rice
4      383444            Ryan Lewis      9  292830242              Rice
...       ...                   ...    ...        ...               ...
11074  377675       Grant Schallock    261  292830153    North Carolina
11075  377675       Grant Schallock   43.5  292830153    North Carolina
11076  377675       Grant Schallock      0  292830153    North Carolina
11077  377675       Grant Schallock      0  292830153    North Carolina
11078  377675       Grant Schallock     49  292830153    North Carolina

      game.teams.categories.name game.teams.categories.types.name  season
0                        passing                            C/ATT    2009
1                        passing                            C/ATT    2009
2                        passing                            C/ATT    2009
3                        passing                              YDS    2009
4                        passing                              YDS    2009
...                          ...                              ...     ...
11074                    punting                              YDS    2009
11075                    punting                              AVG    2009
11076                    punting                               TB    2009
11077                    punting                            In 20    2009
11078                    punting                             LONG    2009

[11079 rows x 8 columns]
           id              name   stat    game.id game.teams.school  \
0      380309  Bo Levi Mitchell  19/41  292902567               SMU
1      380309  Bo Levi Mitchell    200  292902567               SMU
2      380309  Bo Levi Mitchell    4.9  292902567               SMU
3      380309  Bo Levi Mitchell      2  292902567               SMU
4      380309  Bo Levi Mitchell      0  292902567               SMU
...       ...               ...    ...        ...               ...
11112  175130      Brent Bowden    140  292900059     Virginia Tech
11113  175130      Brent Bowden   35.0  292900059     Virginia Tech
11114  175130      Brent Bowden      0  292900059     Virginia Tech
11115  175130      Brent Bowden      0  292900059     Virginia Tech
11116  175130      Brent Bowden     42  292900059     Virginia Tech

      game.teams.categories.name game.teams.categories.types.name  season
0                        passing                            C/ATT    2009
1                        passing                              YDS    2009
2                        passing                              AVG    2009
3                        passing                               TD    2009
4                        passing                              INT    2009
...                          ...                              ...     ...
11112                    punting                              YDS    2009
11113                    punting                              AVG    2009
11114                    punting                               TB    2009
11115                    punting                            In 20    2009
11116                    punting                             LONG    2009

[11117 rows x 8 columns]
           id               name   stat    game.id game.teams.school  \
0      169077      Riley Skinner  13/25  292972426       Wake Forest
1      169077      Riley Skinner    173  292972426       Wake Forest
2      169077      Riley Skinner    6.9  292972426       Wake Forest
3      169077      Riley Skinner      1  292972426       Wake Forest
4      169077      Riley Skinner      0  292972426       Wake Forest
...       ...                ...    ...        ...               ...
11233  240230  Chandler Anderson     84  292970258      Georgia Tech
11234  240230  Chandler Anderson   42.0  292970258      Georgia Tech
11235  240230  Chandler Anderson      0  292970258      Georgia Tech
11236  240230  Chandler Anderson      0  292970258      Georgia Tech
11237  240230  Chandler Anderson     55  292970258      Georgia Tech

      game.teams.categories.name game.teams.categories.types.name  season
0                        passing                            C/ATT    2009
1                        passing                              YDS    2009
2                        passing                              AVG    2009
3                        passing                               TD    2009
4                        passing                              INT    2009
...                          ...                              ...     ...
11233                    punting                              YDS    2009
11234                    punting                              AVG    2009
11235                    punting                               TB    2009
11236                    punting                            In 20    2009
11237                    punting                             LONG    2009

[11238 rows x 8 columns]

           id             name  stat    game.id game.teams.school  \
0      189949  Vaughn Charlton  5/17  293042426            Temple
1      189949  Vaughn Charlton    37  293042426            Temple
2      189949  Vaughn Charlton   2.2  293042426            Temple
3      189949  Vaughn Charlton     0  293042426            Temple
4      189949  Vaughn Charlton     2  293042426            Temple
...       ...              ...   ...        ...               ...
10901  191686   Nathan Rathjen   241  293040258          Virginia
10902  191686   Nathan Rathjen  40.2  293040258          Virginia
10903  191686   Nathan Rathjen     0  293040258          Virginia
10904  191686   Nathan Rathjen     0  293040258          Virginia
10905  191686   Nathan Rathjen    50  293040258          Virginia

      game.teams.categories.name game.teams.categories.types.name  season
0                        passing                            C/ATT    2009
1                        passing                              YDS    2009
2                        passing                              AVG    2009
3                        passing                               TD    2009
4                        passing                              INT    2009
...                          ...                              ...     ...
10901                    punting                              YDS    2009
10902                    punting                              AVG    2009
10903                    punting                               TB    2009
10904                    punting                            In 20    2009
10905                    punting                             LONG    2009

[10906 rows x 8 columns]
           id           name   stat    game.id game.teams.school  \
0      231813  Jimmy Clausen  37/51  293110087        Notre Dame
1      231813  Jimmy Clausen    452  293110087        Notre Dame
2      231813  Jimmy Clausen    8.9  293110087        Notre Dame
3      231813  Jimmy Clausen      2  293110087        Notre Dame
4      231813  Jimmy Clausen      1  293110087        Notre Dame
...       ...            ...    ...        ...               ...
11107  388126    Casey Barth    4/4  293110153    North Carolina
11108  388126    Casey Barth  100.0  293110153    North Carolina
11109  388126    Casey Barth     41  293110153    North Carolina
11110  388126    Casey Barth    1/1  293110153    North Carolina
11111  388126    Casey Barth     13  293110153    North Carolina

      game.teams.categories.name game.teams.categories.types.name  season
0                        passing                            C/ATT    2009
1                        passing                              YDS    2009
2                        passing                              AVG    2009
3                        passing                               TD    2009
4                        passing                              INT    2009
...                          ...                              ...     ...
11107                    kicking                               FG    2009
11108                    kicking                              PCT    2009
11109                    kicking                             LONG    2009
11110                    kicking                               XP    2009
11111                    kicking                              PTS    2009

[11112 rows x 8 columns]
           id            name   stat    game.id game.teams.school  \
0      188680      Pat Devlin  17/26  293182426          Delaware
1      188680      Pat Devlin    194  293182426          Delaware
2      188680      Pat Devlin    7.5  293182426          Delaware
3      188680      Pat Devlin      0  293182426          Delaware
4      188680      Pat Devlin      0  293182426          Delaware
...       ...             ...    ...        ...               ...
11701  246135  Jonathan Bulls     30  293180349              Army
11702  246135  Jonathan Bulls   30.0  293180349              Army
11703  246135  Jonathan Bulls      0  293180349              Army
11704  246135  Jonathan Bulls      0  293180349              Army
11705  246135  Jonathan Bulls     30  293180349              Army

      game.teams.categories.name game.teams.categories.types.name  season
0                        passing                            C/ATT    2009
1                        passing                              YDS    2009
2                        passing                              AVG    2009
3                        passing                               TD    2009
4                        passing                              INT    2009
...                          ...                              ...     ...
11701                    punting                              YDS    2009
11702                    punting                              AVG    2009
11703                    punting                               TB    2009
11704                    punting                            In 20    2009
11705                    punting                             LONG    2009

[11706 rows x 8 columns]
           id             name  stat    game.id game.teams.school  \
0      488505     Curtis Drake     0  293250127        Penn State
1      243289        Joe Suhey     0  293250127        Penn State
2      481926    Kevin Newsome     1  293250127        Penn State
3      386897  Michael Zordich     0  293250127        Penn State
4      188694     Evan Royster     0  293250127        Penn State
...       ...              ...   ...        ...               ...
10304  184415       Greg Hiett   196  293250242              UTEP
10305  184415       Greg Hiett  49.0  293250242              UTEP
10306  184415       Greg Hiett     0  293250242              UTEP
10307  184415       Greg Hiett     0  293250242              UTEP
10308  184415       Greg Hiett    56  293250242              UTEP

      game.teams.categories.name game.teams.categories.types.name  season
0                        rushing                               TD    2009
1                        rushing                               TD    2009
2                        rushing                               TD    2009
3                        rushing                               TD    2009
4                        rushing                               TD    2009
...                          ...                              ...     ...
10304                    punting                              YDS    2009
10305                    punting                              AVG    2009
10306                    punting                               TB    2009
10307                    punting                            In 20    2009
10308                    punting                             LONG    2009

[10309 rows x 8 columns]
          id              name   stat    game.id game.teams.school  \
0     480919      Bryant Moniz  32/44  293320062           Hawai'i
1     480919      Bryant Moniz    366  293320062           Hawai'i
2     480919      Bryant Moniz    8.3  293320062           Hawai'i
3     480919      Bryant Moniz      3  293320062           Hawai'i
4     480919      Bryant Moniz      0  293320062           Hawai'i
...      ...               ...    ...        ...               ...
9388  378425  Craig Ratanamorn      0  293322638          Marshall
9389  383420    Kase Whitehead      0  293322638          Marshall
9390  378425  Craig Ratanamorn      0  293322638          Marshall
9391  383420    Kase Whitehead     51  293322638          Marshall
9392  378425  Craig Ratanamorn     37  293322638          Marshall

     game.teams.categories.name game.teams.categories.types.name  season
0                       passing                            C/ATT    2009
1                       passing                              YDS    2009
2                       passing                              AVG    2009
3                       passing                               TD    2009
4                       passing                              INT    2009
...                         ...                              ...     ...
9388                    punting                               TB    2009
9389                    punting                            In 20    2009
9390                    punting                            In 20    2009
9391                    punting                             LONG    2009
9392                    punting                             LONG    2009

[9393 rows x 8 columns]

          id             name   stat    game.id game.teams.school  \
0     381755  Jeremiah Masoli  14/21  293372483            Oregon
1     381755  Jeremiah Masoli    201  293372483            Oregon
2     381755  Jeremiah Masoli    9.6  293372483            Oregon
3     381755  Jeremiah Masoli      1  293372483            Oregon
4     381755  Jeremiah Masoli      1  293372483            Oregon
...      ...              ...    ...        ...               ...
3087  381296     Brad Nortman     74  293390062         Wisconsin
3088  381296     Brad Nortman   37.0  293390062         Wisconsin
3089  381296     Brad Nortman      0  293390062         Wisconsin
3090  381296     Brad Nortman      0  293390062         Wisconsin
3091  381296     Brad Nortman     46  293390062         Wisconsin

     game.teams.categories.name game.teams.categories.types.name  season
0                       passing                            C/ATT    2009
1                       passing                              YDS    2009
2                       passing                              AVG    2009
3                       passing                               TD    2009
4                       passing                              INT    2009
...                         ...                              ...     ...
3087                    punting                              YDS    2009
3088                    punting                              AVG    2009
3089                    punting                               TB    2009
3090                    punting                            In 20    2009
3091                    punting                             LONG    2009

[3092 rows x 8 columns]
         id            name  stat    game.id game.teams.school  \
0    240655     Ricky Dobbs   3/7  293462426              Navy
1    240655     Ricky Dobbs    61  293462426              Navy
2    240655     Ricky Dobbs   8.7  293462426              Navy
3    240655     Ricky Dobbs     1  293462426              Navy
4    240655     Ricky Dobbs     1  293462426              Navy
..      ...             ...   ...        ...               ...
131  246135  Jonathan Bulls   217  293462426              Army
132  246135  Jonathan Bulls  36.2  293462426              Army
133  246135  Jonathan Bulls     0  293462426              Army
134  246135  Jonathan Bulls     0  293462426              Army
135  246135  Jonathan Bulls    44  293462426              Army

    game.teams.categories.name game.teams.categories.types.name  season
0                      passing                            C/ATT    2009
1                      passing                              YDS    2009
2                      passing                              AVG    2009
3                      passing                               TD    2009
4                      passing                              INT    2009
..                         ...                              ...     ...
131                    punting                              YDS    2009
132                    punting                              AVG    2009
133                    punting                               TB    2009
134                    punting                            In 20    2009
135                    punting                             LONG    2009

[136 rows x 8 columns]
          id           name   stat    game.id game.teams.school  \
0     183253    Andy Dalton  25/44  300042628               TCU
1     183253    Andy Dalton    272  300042628               TCU
2     183253    Andy Dalton    6.2  300042628               TCU
3     183253    Andy Dalton      1  300042628               TCU
4     183253    Andy Dalton      3  300042628               TCU
...      ...            ...    ...        ...               ...
6478  377938  Justin Tucker      0  300070333             Texas
6479  198435      John Gold      0  300070333             Texas
6480  377938  Justin Tucker      0  300070333             Texas
6481  198435      John Gold     53  300070333             Texas
6482  377938  Justin Tucker     43  300070333             Texas

     game.teams.categories.name game.teams.categories.types.name  season
0                       passing                            C/ATT    2009
1                       passing                              YDS    2009
2                       passing                              AVG    2009
3                       passing                               TD    2009
4                       passing                              INT    2009
...                         ...                              ...     ...
6478                    punting                               TB    2009
6479                    punting                            In 20    2009
6480                    punting                            In 20    2009
6481                    punting                             LONG    2009
6482                    punting                             LONG    2009

[6483 rows x 8 columns]
           id             name  stat    game.id game.teams.school  \
0      236732  Jamarr Robinson   2/5  302490120          Maryland
1      236732  Jamarr Robinson    11  302490120          Maryland
2      236732  Jamarr Robinson   2.2  302490120          Maryland
3      236732  Jamarr Robinson     0  302490120          Maryland
4      236732  Jamarr Robinson     1  302490120          Maryland
...       ...              ...   ...        ...               ...
16397  505703     Ian Campbell    75  302472638              UTEP
16398  505703     Ian Campbell  37.5  302472638              UTEP
16399  505703     Ian Campbell     0  302472638              UTEP
16400  505703     Ian Campbell     0  302472638              UTEP
16401  505703     Ian Campbell    41  302472638              UTEP

      game.teams.categories.name game.teams.categories.types.name  season
0                        passing                            C/ATT    2010
1                        passing                              YDS    2010
2                        passing                              AVG    2010
3                        passing                               TD    2010
4                        passing                              INT    2010
...                          ...                              ...     ...
16397                    punting                              YDS    2010
16398                    punting                              AVG    2010
16399                    punting                               TB    2010
16400                    punting                            In 20    2010
16401                    punting                             LONG    2010

[16402 rows x 8 columns]
           id          name   stat    game.id game.teams.school  \
0      505852    Jaybo Shaw    4/9  302542426  Georgia Southern
1      505852    Jaybo Shaw     36  302542426  Georgia Southern
2      505852    Jaybo Shaw    4.0  302542426  Georgia Southern
3      505852    Jaybo Shaw      1  302542426  Georgia Southern
4      505852    Jaybo Shaw      0  302542426  Georgia Southern
...       ...           ...    ...        ...               ...
14622  377742  Chris Hazley    3/3  302540259     Virginia Tech
14623  377742  Chris Hazley  100.0  302540259     Virginia Tech
14624  377742  Chris Hazley     41  302540259     Virginia Tech
14625  377742  Chris Hazley    1/1  302540259     Virginia Tech
14626  377742  Chris Hazley     10  302540259     Virginia Tech

      game.teams.categories.name game.teams.categories.types.name  season
0                        passing                            C/ATT    2010
1                        passing                              YDS    2010
2                        passing                              AVG    2010
3                        passing                               TD    2010
4                        passing                              INT    2010
...                          ...                              ...     ...
14622                    kicking                               FG    2010
14623                    kicking                              PCT    2010
14624                    kicking                             LONG    2010
14625                    kicking                               XP    2010
14626                    kicking                              PTS    2010

[14627 rows x 8 columns]

           id          name  stat    game.id game.teams.school  \
0      240655   Ricky Dobbs  8/14  302612348              Navy
1      240655   Ricky Dobbs   219  302612348              Navy
2      240655   Ricky Dobbs  15.6  302612348              Navy
3      240655   Ricky Dobbs     1  302612348              Navy
4      240655   Ricky Dobbs     1  302612348              Navy
...       ...           ...   ...        ...               ...
11671  191453  Bryan Wright   175  302610189     Bowling Green
11672  191453  Bryan Wright  43.8  302610189     Bowling Green
11673  191453  Bryan Wright     0  302610189     Bowling Green
11674  191453  Bryan Wright     0  302610189     Bowling Green
11675  191453  Bryan Wright    48  302610189     Bowling Green

      game.teams.categories.name game.teams.categories.types.name  season
0                        passing                            C/ATT    2010
1                        passing                              YDS    2010
2                        passing                              AVG    2010
3                        passing                               TD    2010
4                        passing                              INT    2010
...                          ...                              ...     ...
11671                    punting                              YDS    2010
11672                    punting                              AVG    2010
11673                    punting                               TB    2010
11674                    punting                            In 20    2010
11675                    punting                             LONG    2010

[11676 rows x 8 columns]
           id            name   stat    game.id game.teams.school  \
0      238910    Kirk Cousins  16/20  302680127    Michigan State
1      481710  Andrew Maxwell    3/5  302680127    Michigan State
2      238910    Kirk Cousins    290  302680127    Michigan State
3      481710  Andrew Maxwell     41  302680127    Michigan State
4      238910    Kirk Cousins   14.5  302680127    Michigan State
...       ...             ...    ...        ...               ...
11779  246135  Jonathan Bulls    230  302680150              Army
11780  246135  Jonathan Bulls   38.3  302680150              Army
11781  246135  Jonathan Bulls      0  302680150              Army
11782  246135  Jonathan Bulls      0  302680150              Army
11783  246135  Jonathan Bulls     46  302680150              Army

      game.teams.categories.name game.teams.categories.types.name  season
0                        passing                            C/ATT    2010
1                        passing                            C/ATT    2010
2                        passing                              YDS    2010
3                        passing                              YDS    2010
4                        passing                              AVG    2010
...                          ...                              ...     ...
11779                    punting                              YDS    2010
11780                    punting                              AVG    2010
11781                    punting                               TB    2010
11782                    punting                            In 20    2010
11783                    punting                             LONG    2010

[11784 rows x 8 columns]
           id         name  stat    game.id game.teams.school  \
0      240655  Ricky Dobbs  6/18  302752005              Navy
1      240655  Ricky Dobbs   103  302752005              Navy
2      240655  Ricky Dobbs   5.7  302752005              Navy
3      240655  Ricky Dobbs     0  302752005              Navy
4      240655  Ricky Dobbs     2  302752005              Navy
...       ...          ...   ...        ...               ...
10564  483020   Sean Poole   198  302750154      Georgia Tech
10565  483020   Sean Poole  39.6  302750154      Georgia Tech
10566  483020   Sean Poole     0  302750154      Georgia Tech
10567  483020   Sean Poole     0  302750154      Georgia Tech
10568  483020   Sean Poole    53  302750154      Georgia Tech

      game.teams.categories.name game.teams.categories.types.name  season
0                        passing                            C/ATT    2010
1                        passing                              YDS    2010
2                        passing                              AVG    2010
3                        passing                               TD    2010
4                        passing                              INT    2010
...                          ...                              ...     ...
10564                    punting                              YDS    2010
10565                    punting                              AVG    2010
10566                    punting                               TB    2010
10567                    punting                            In 20    2010
10568                    punting                             LONG    2010

[10569 rows x 8 columns]
           id          name  stat    game.id game.teams.school  \
0      240655   Ricky Dobbs  8/19  302820154              Navy
1      240655   Ricky Dobbs    94  302820154              Navy
2      240655   Ricky Dobbs   4.9  302820154              Navy
3      240655   Ricky Dobbs     2  302820154              Navy
4      240655   Ricky Dobbs     1  302820154              Navy
...       ...           ...   ...        ...               ...
11352  383447  Kyle Martens   339  302822638              Rice
11353  383447  Kyle Martens  48.4  302822638              Rice
11354  383447  Kyle Martens     0  302822638              Rice
11355  383447  Kyle Martens     0  302822638              Rice
11356  383447  Kyle Martens    56  302822638              Rice

      game.teams.categories.name game.teams.categories.types.name  season
0                        passing                            C/ATT    2010
1                        passing                              YDS    2010
2                        passing                              AVG    2010
3                        passing                               TD    2010
4                        passing                              INT    2010
...                          ...                              ...     ...
11352                    punting                              YDS    2010
11353                    punting                              AVG    2010
11354                    punting                               TB    2010
11355                    punting                            In 20    2010
11356                    punting                             LONG    2010

[11357 rows x 8 columns]
           id          name  stat    game.id game.teams.school  \
0      240655   Ricky Dobbs   6/9  302892426              Navy
1      240655   Ricky Dobbs    84  302892426              Navy
2      240655   Ricky Dobbs   9.3  302892426              Navy
3      240655   Ricky Dobbs     1  302892426              Navy
4      240655   Ricky Dobbs     0  302892426              Navy
...       ...           ...   ...        ...               ...
10915  380957  Jimmy Howell   102  302890258          Virginia
10916  380957  Jimmy Howell  51.0  302890258          Virginia
10917  380957  Jimmy Howell     0  302890258          Virginia
10918  380957  Jimmy Howell     0  302890258          Virginia
10919  380957  Jimmy Howell    58  302890258          Virginia

      game.teams.categories.name game.teams.categories.types.name  season
0                        passing                            C/ATT    2010
1                        passing                              YDS    2010
2                        passing                              AVG    2010
3                        passing                               TD    2010
4                        passing                              INT    2010
...                          ...                              ...     ...
10915                    punting                              YDS    2010
10916                    punting                              AVG    2010
10917                    punting                               TB    2010
10918                    punting                            In 20    2010
10919                    punting                             LONG    2010

[10920 rows x 8 columns]

           id          name  stat    game.id game.teams.school  \
0      240655   Ricky Dobbs   2/2  302962426              Navy
1      240655   Ricky Dobbs    71  302962426              Navy
2      240655   Ricky Dobbs  35.5  302962426              Navy
3      240655   Ricky Dobbs     1  302962426              Navy
4      240655   Ricky Dobbs     0  302962426              Navy
...       ...           ...   ...        ...               ...
10379  480621  C.J. Feagles   164  302962390    North Carolina
10380  480621  C.J. Feagles  41.0  302962390    North Carolina
10381  480621  C.J. Feagles     0  302962390    North Carolina
10382  480621  C.J. Feagles     0  302962390    North Carolina
10383  480621  C.J. Feagles    46  302962390    North Carolina

      game.teams.categories.name game.teams.categories.types.name  season
0                        passing                            C/ATT    2010
1                        passing                              YDS    2010
2                        passing                              AVG    2010
3                        passing                               TD    2010
4                        passing                              INT    2010
...                          ...                              ...     ...
10379                    punting                              YDS    2010
10380                    punting                              AVG    2010
10381                    punting                               TB    2010
10382                    punting                            In 20    2010
10383                    punting                             LONG    2010

[10384 rows x 8 columns]
           id         name   stat    game.id game.teams.school  \
0      240655  Ricky Dobbs  13/27  303032426              Navy
1      240655  Ricky Dobbs    227  303032426              Navy
2      240655  Ricky Dobbs    8.4  303032426              Navy
3      240655  Ricky Dobbs      2  303032426              Navy
4      240655  Ricky Dobbs      0  303032426              Navy
...       ...          ...    ...        ...               ...
10869  477314     Marc Ray    238  303030349               VMI
10870  477314     Marc Ray   29.8  303030349               VMI
10871  477314     Marc Ray      0  303030349               VMI
10872  477314     Marc Ray      0  303030349               VMI
10873  477314     Marc Ray     41  303030349               VMI

      game.teams.categories.name game.teams.categories.types.name  season
0                        passing                            C/ATT    2010
1                        passing                              YDS    2010
2                        passing                              AVG    2010
3                        passing                               TD    2010
4                        passing                              INT    2010
...                          ...                              ...     ...
10869                    punting                              YDS    2010
10870                    punting                              AVG    2010
10871                    punting                               TB    2010
10872                    punting                            In 20    2010
10873                    punting                             LONG    2010

[10874 rows x 8 columns]
           id             name   stat    game.id game.teams.school  \
0      500941  Dominique Davis  43/65  303100151     East Carolina
1      500941  Dominique Davis    413  303100151     East Carolina
2      500941  Dominique Davis    6.4  303100151     East Carolina
3      500941  Dominique Davis      5  303100151     East Carolina
4      500941  Dominique Davis      0  303100151     East Carolina
...       ...              ...    ...        ...               ...
10988  380957     Jimmy Howell     39  303100150          Virginia
10989  380957     Jimmy Howell   39.0  303100150          Virginia
10990  380957     Jimmy Howell      0  303100150          Virginia
10991  380957     Jimmy Howell      0  303100150          Virginia
10992  380957     Jimmy Howell     39  303100150          Virginia

      game.teams.categories.name game.teams.categories.types.name  season
0                        passing                            C/ATT    2010
1                        passing                              YDS    2010
2                        passing                              AVG    2010
3                        passing                               TD    2010
4                        passing                              INT    2010
...                          ...                              ...     ...
10988                    punting                              YDS    2010
10989                    punting                              AVG    2010
10990                    punting                               TB    2010
10991                    punting                            In 20    2010
10992                    punting                             LONG    2010

[10993 rows x 8 columns]
           id           name   stat    game.id game.teams.school  \
0      383499  Ryan Radcliff  36/58  303172426  Central Michigan
1      383499  Ryan Radcliff    394  303172426  Central Michigan
2      383499  Ryan Radcliff    6.8  303172426  Central Michigan
3      383499  Ryan Radcliff      3  303172426  Central Michigan
4      383499  Ryan Radcliff      0  303172426  Central Michigan
...       ...            ...    ...        ...               ...
11213  183679    Matt Bosher    123  303170059             Miami
11214  183679    Matt Bosher   41.0  303170059             Miami
11215  183679    Matt Bosher      0  303170059             Miami
11216  183679    Matt Bosher      0  303170059             Miami
11217  183679    Matt Bosher     45  303170059             Miami

      game.teams.categories.name game.teams.categories.types.name  season
0                        passing                            C/ATT    2010
1                        passing                              YDS    2010
2                        passing                              AVG    2010
3                        passing                               TD    2010
4                        passing                              INT    2010
...                          ...                              ...     ...
11213                    punting                              YDS    2010
11214                    punting                              AVG    2010
11215                    punting                               TB    2010
11216                    punting                            In 20    2010
11217                    punting                             LONG    2010

[11218 rows x 8 columns]
           id         name   stat    game.id game.teams.school  \
0      384784   Ryan Aplin  22/30  303242426    Arkansas State
1      384784   Ryan Aplin    178  303242426    Arkansas State
2      384784   Ryan Aplin    5.9  303242426    Arkansas State
3      384784   Ryan Aplin      1  303242426    Arkansas State
4      384784   Ryan Aplin      1  303242426    Arkansas State
...       ...          ...    ...        ...               ...
11359  240335  Scott Blair     92  303240059      Georgia Tech
11360  240335  Scott Blair   46.0  303240059      Georgia Tech
11361  240335  Scott Blair      0  303240059      Georgia Tech
11362  240335  Scott Blair      0  303240059      Georgia Tech
11363  240335  Scott Blair     48  303240059      Georgia Tech

      game.teams.categories.name game.teams.categories.types.name  season
0                        passing                            C/ATT    2010
1                        passing                              YDS    2010
2                        passing                              AVG    2010
3                        passing                               TD    2010
4                        passing                              INT    2010
...                          ...                              ...     ...
11359                    punting                              YDS    2010
11360                    punting                              AVG    2010
11361                    punting                               TB    2010
11362                    punting                            In 20    2010
11363                    punting                             LONG    2010

[11364 rows x 8 columns]

           id          name   stat    game.id game.teams.school  \
0      386880  Matt McGloin  23/43  303310213        Penn State
1      386880  Matt McGloin    312  303310213        Penn State
2      386880  Matt McGloin    7.3  303310213        Penn State
3      386880  Matt McGloin      2  303310213        Penn State
4      386880  Matt McGloin      1  303310213        Penn State
...       ...           ...    ...        ...               ...
10537  480621  C.J. Feagles    116  303310150    North Carolina
10538  480621  C.J. Feagles   38.7  303310150    North Carolina
10539  480621  C.J. Feagles      0  303310150    North Carolina
10540  480621  C.J. Feagles      0  303310150    North Carolina
10541  480621  C.J. Feagles     44  303310150    North Carolina

      game.teams.categories.name game.teams.categories.types.name  season
0                        passing                            C/ATT    2010
1                        passing                              YDS    2010
2                        passing                              AVG    2010
3                        passing                               TD    2010
4                        passing                              INT    2010
...                          ...                              ...     ...
10537                    punting                              YDS    2010
10538                    punting                              AVG    2010
10539                    punting                               TB    2010
10540                    punting                            In 20    2010
10541                    punting                             LONG    2010

[10542 rows x 8 columns]
          id            name   stat    game.id game.teams.school  \
0     480396  Brock Osweiler  22/49  303360012     Arizona State
1     480396  Brock Osweiler    267  303360012     Arizona State
2     480396  Brock Osweiler    5.4  303360012     Arizona State
3     480396  Brock Osweiler      1  303360012     Arizona State
4     480396  Brock Osweiler      0  303360012     Arizona State
...      ...             ...    ...        ...               ...
3639  187955     Kai Forbath    0/0  303380026              UCLA
3640  187955     Kai Forbath    0.0  303380026              UCLA
3641  187955     Kai Forbath      0  303380026              UCLA
3642  187955     Kai Forbath    2/2  303380026              UCLA
3643  187955     Kai Forbath      2  303380026              UCLA

     game.teams.categories.name game.teams.categories.types.name  season
0                       passing                            C/ATT    2010
1                       passing                              YDS    2010
2                       passing                              AVG    2010
3                       passing                               TD    2010
4                       passing                              INT    2010
...                         ...                              ...     ...
3639                    kicking                               FG    2010
3640                    kicking                              PCT    2010
3641                    kicking                             LONG    2010
3642                    kicking                               XP    2010
3643                    kicking                              PTS    2010

[3644 rows x 8 columns]
         id            name  stat    game.id game.teams.school  \
0    240655     Ricky Dobbs  6/11  303450349              Navy
1    240655     Ricky Dobbs   186  303450349              Navy
2    240655     Ricky Dobbs  16.9  303450349              Navy
3    240655     Ricky Dobbs     2  303450349              Navy
4    240655     Ricky Dobbs     1  303450349              Navy
..      ...             ...   ...        ...               ...
147  246135  Jonathan Bulls   195  303450349              Army
148  246135  Jonathan Bulls  39.0  303450349              Army
149  246135  Jonathan Bulls     0  303450349              Army
150  246135  Jonathan Bulls     0  303450349              Army
151  246135  Jonathan Bulls    56  303450349              Army

    game.teams.categories.name game.teams.categories.types.name  season
0                      passing                            C/ATT    2010
1                      passing                              YDS    2010
2                      passing                              AVG    2010
3                      passing                               TD    2010
4                      passing                              INT    2010
..                         ...                              ...     ...
147                    punting                              YDS    2010
148                    punting                              AVG    2010
149                    punting                               TB    2010
150                    punting                            In 20    2010
151                    punting                             LONG    2010

[152 rows x 8 columns]
          id             name   stat    game.id game.teams.school  \
0     189709  Trevor Vittatoe  14/29  303522638              UTEP
1     189708  James Thomas II    0/3  303522638              UTEP
2     189709  Trevor Vittatoe    245  303522638              UTEP
3     189708  James Thomas II      0  303522638              UTEP
4     189709  Trevor Vittatoe    8.4  303522638              UTEP
...      ...              ...    ...        ...               ...
7006  189738   Ryan Shoemaker    202  310102483            Auburn
7007  189738   Ryan Shoemaker   40.4  310102483            Auburn
7008  189738   Ryan Shoemaker      0  310102483            Auburn
7009  189738   Ryan Shoemaker      0  310102483            Auburn
7010  189738   Ryan Shoemaker     50  310102483            Auburn

     game.teams.categories.name game.teams.categories.types.name  season
0                       passing                            C/ATT    2010
1                       passing                            C/ATT    2010
2                       passing                              YDS    2010
3                       passing                              YDS    2010
4                       passing                              AVG    2010
...                         ...                              ...     ...
7006                    punting                              YDS    2010
7007                    punting                              AVG    2010
7008                    punting                               TB    2010
7009                    punting                            In 20    2010
7010                    punting                             LONG    2010

[7011 rows x 8 columns]
           id            name  stat    game.id game.teams.school  \
0      484528    Trevor Sasek  9/19  312462426          Delaware
1      484527    Tim Donnelly   7/9  312462426          Delaware
2      484526       Rob Jones   1/1  312462426          Delaware
3      484528    Trevor Sasek    82  312462426          Delaware
4      484527    Tim Donnelly    60  312462426          Delaware
...       ...             ...   ...        ...               ...
15996  514102  Kyle Dugandzic   152  312460012           Arizona
15997  514102  Kyle Dugandzic  50.7  312460012           Arizona
15998  514102  Kyle Dugandzic     0  312460012           Arizona
15999  514102  Kyle Dugandzic     0  312460012           Arizona
16000  514102  Kyle Dugandzic    56  312460012           Arizona

      game.teams.categories.name game.teams.categories.types.name  season
0                        passing                            C/ATT    2011
1                        passing                            C/ATT    2011
2                        passing                            C/ATT    2011
3                        passing                              YDS    2011
4                        passing                              YDS    2011
...                          ...                              ...     ...
15996                    punting                              YDS    2011
15997                    punting                              AVG    2011
15998                    punting                               TB    2011
15999                    punting                            In 20    2011
16000                    punting                             LONG    2011

[16001 rows x 8 columns]

           id             name   stat    game.id game.teams.school  \
0      504866  Brandon Doughty  12/21  312530098  Western Kentucky
1      382917     Kawaun Jakes   7/12  312530098  Western Kentucky
2      504866  Brandon Doughty    102  312530098  Western Kentucky
3      382917     Kawaun Jakes     51  312530098  Western Kentucky
4      504866  Brandon Doughty    4.9  312530098  Western Kentucky
...       ...              ...    ...        ...               ...
13369  382770     Kyle Negrete    159  312530030               USC
13370  382770     Kyle Negrete   31.8  312530030               USC
13371  382770     Kyle Negrete      0  312530030               USC
13372  382770     Kyle Negrete      0  312530030               USC
13373  382770     Kyle Negrete     38  312530030               USC

      game.teams.categories.name game.teams.categories.types.name  season
0                        passing                            C/ATT    2011
1                        passing                            C/ATT    2011
2                        passing                              YDS    2011
3                        passing                              YDS    2011
4                        passing                              AVG    2011
...                          ...                              ...     ...
13369                    punting                              YDS    2011
13370                    punting                              AVG    2011
13371                    punting                               TB    2011
13372                    punting                            In 20    2011
13373                    punting                             LONG    2011

[13374 rows x 8 columns]
           id             name  stat    game.id     game.teams.school  \
0      386176    Kriss Proctor   5/9  312602579                  Navy
1      386176    Kriss Proctor    61  312602579                  Navy
2      386176    Kriss Proctor   6.8  312602579                  Navy
3      386176    Kriss Proctor     0  312602579                  Navy
4      386176    Kriss Proctor     1  312602579                  Navy
...       ...              ...   ...        ...                   ...
13138  487023  Patrick Morgano   465  312600025  Presbyterian College
13139  487023  Patrick Morgano  51.7  312600025  Presbyterian College
13140  487023  Patrick Morgano     0  312600025  Presbyterian College
13141  487023  Patrick Morgano     0  312600025  Presbyterian College
13142  487023  Patrick Morgano    63  312600025  Presbyterian College

      game.teams.categories.name game.teams.categories.types.name  season
0                        passing                            C/ATT    2011
1                        passing                              YDS    2011
2                        passing                              AVG    2011
3                        passing                               TD    2011
4                        passing                              INT    2011
...                          ...                              ...     ...
13138                    punting                              YDS    2011
13139                    punting                              AVG    2011
13140                    punting                               TB    2011
13141                    punting                            In 20    2011
13142                    punting                             LONG    2011

[13143 rows x 8 columns]
           id         name   stat    game.id game.teams.school  \
0      382584  Ryan Nassib  16/24  312670183          Syracuse
1      240491     Van Chew    0/1  312670183          Syracuse
2      382584  Ryan Nassib    213  312670183          Syracuse
3      240491     Van Chew      0  312670183          Syracuse
4      382584  Ryan Nassib    8.9  312670183          Syracuse
...       ...          ...    ...        ...               ...
12269  517405  Josh Hubner    224  312670009     Arizona State
12270  517405  Josh Hubner   44.8  312670009     Arizona State
12271  517405  Josh Hubner      0  312670009     Arizona State
12272  517405  Josh Hubner      0  312670009     Arizona State
12273  517405  Josh Hubner     49  312670009     Arizona State

      game.teams.categories.name game.teams.categories.types.name  season
0                        passing                            C/ATT    2011
1                        passing                            C/ATT    2011
2                        passing                              YDS    2011
3                        passing                              YDS    2011
4                        passing                              AVG    2011
...                          ...                              ...     ...
12269                    punting                              YDS    2011
12270                    punting                              AVG    2011
12271                    punting                               TB    2011
12272                    punting                            In 20    2011
12273                    punting                             LONG    2011

[12274 rows x 8 columns]
           id            name   stat    game.id game.teams.school  \
0      386176   Kriss Proctor  14/24  312742426              Navy
1      481116      Bo Snelson    0/1  312742426              Navy
2      386176   Kriss Proctor    132  312742426              Navy
3      481116      Bo Snelson      0  312742426              Navy
4      386176   Kriss Proctor    5.5  312742426              Navy
...       ...             ...    ...        ...               ...
10871  514102  Kyle Dugandzic     83  312740030           Arizona
10872  514102  Kyle Dugandzic   41.5  312740030           Arizona
10873  514102  Kyle Dugandzic      0  312740030           Arizona
10874  514102  Kyle Dugandzic      0  312740030           Arizona
10875  514102  Kyle Dugandzic     53  312740030           Arizona

      game.teams.categories.name game.teams.categories.types.name  season
0                        passing                            C/ATT    2011
1                        passing                            C/ATT    2011
2                        passing                              YDS    2011
3                        passing                              YDS    2011
4                        passing                              AVG    2011
...                          ...                              ...     ...
10871                    punting                              YDS    2011
10872                    punting                              AVG    2011
10873                    punting                               TB    2011
10874                    punting                            In 20    2011
10875                    punting                             LONG    2011

[10876 rows x 8 columns]
           id           name  stat    game.id game.teams.school  \
0      386176  Kriss Proctor  5/10  312812426              Navy
1      503604    Trey Miller   2/2  312812426              Navy
2      386176  Kriss Proctor   102  312812426              Navy
3      503604    Trey Miller    46  312812426              Navy
4      386176  Kriss Proctor  10.2  312812426              Navy
...       ...            ...   ...        ...               ...
10755  517405    Josh Hubner   254  312810254     Arizona State
10756  517405    Josh Hubner  42.3  312810254     Arizona State
10757  517405    Josh Hubner     0  312810254     Arizona State
10758  517405    Josh Hubner     0  312810254     Arizona State
10759  517405    Josh Hubner    49  312810254     Arizona State

      game.teams.categories.name game.teams.categories.types.name  season
0                        passing                            C/ATT    2011
1                        passing                            C/ATT    2011
2                        passing                              YDS    2011
3                        passing                              YDS    2011
4                        passing                              AVG    2011
...                          ...                              ...     ...
10755                    punting                              YDS    2011
10756                    punting                              AVG    2011
10757                    punting                               TB    2011
10758                    punting                            In 20    2011
10759                    punting                             LONG    2011

[10760 rows x 8 columns]

          id             name  stat    game.id game.teams.school  \
0     386176    Kriss Proctor  5/12  312880164              Navy
1     481194  Alexander Teich   1/1  312880164              Navy
2     386176    Kriss Proctor   106  312880164              Navy
3     481194  Alexander Teich    37  312880164              Navy
4     386176    Kriss Proctor   8.8  312880164              Navy
...      ...              ...   ...        ...               ...
9867  382770     Kyle Negrete   210  312860025               USC
9868  382770     Kyle Negrete  42.0  312860025               USC
9869  382770     Kyle Negrete     0  312860025               USC
9870  382770     Kyle Negrete     0  312860025               USC
9871  382770     Kyle Negrete    54  312860025               USC

     game.teams.categories.name game.teams.categories.types.name  season
0                       passing                            C/ATT    2011
1                       passing                            C/ATT    2011
2                       passing                              YDS    2011
3                       passing                              YDS    2011
4                       passing                              AVG    2011
...                         ...                              ...     ...
9867                    punting                              YDS    2011
9868                    punting                              AVG    2011
9869                    punting                               TB    2011
9870                    punting                            In 20    2011
9871                    punting                             LONG    2011

[9872 rows x 8 columns]
           id            name  stat    game.id game.teams.school  \
0      386176   Kriss Proctor     0  312952426              Navy
1      503604     Trey Miller     0  312952426              Navy
2      503604     Trey Miller  5/12  312952426              Navy
3      386176   Kriss Proctor   2/3  312952426              Navy
4      503604     Trey Miller   126  312952426              Navy
...       ...             ...   ...        ...               ...
10514  514102  Kyle Dugandzic   120  312930012           Arizona
10515  514102  Kyle Dugandzic  60.0  312930012           Arizona
10516  514102  Kyle Dugandzic     0  312930012           Arizona
10517  514102  Kyle Dugandzic     0  312930012           Arizona
10518  514102  Kyle Dugandzic    64  312930012           Arizona

      game.teams.categories.name game.teams.categories.types.name  season
0                        passing                              INT    2011
1                        passing                              INT    2011
2                        passing                            C/ATT    2011
3                        passing                            C/ATT    2011
4                        passing                              YDS    2011
...                          ...                              ...     ...
10514                    punting                              YDS    2011
10515                    punting                              AVG    2011
10516                    punting                               TB    2011
10517                    punting                            In 20    2011
10518                    punting                             LONG    2011

[10519 rows x 8 columns]
           id             name  stat    game.id game.teams.school  \
0      503604      Trey Miller  5/13  313020087              Navy
1      503604      Trey Miller    33  313020087              Navy
2      503604      Trey Miller   2.5  313020087              Navy
3      503604      Trey Miller     1  313020087              Navy
4      503604      Trey Miller     0  313020087              Navy
...       ...              ...   ...        ...               ...
10720  513748  Darragh O'Neill   188  313020009          Colorado
10721  513748  Darragh O'Neill  37.6  313020009          Colorado
10722  513748  Darragh O'Neill     0  313020009          Colorado
10723  513748  Darragh O'Neill     0  313020009          Colorado
10724  513748  Darragh O'Neill    43  313020009          Colorado

      game.teams.categories.name game.teams.categories.types.name  season
0                        passing                            C/ATT    2011
1                        passing                              YDS    2011
2                        passing                              AVG    2011
3                        passing                               TD    2011
4                        passing                              INT    2011
...                          ...                              ...     ...
10720                    punting                              YDS    2011
10721                    punting                              AVG    2011
10722                    punting                               TB    2011
10723                    punting                            In 20    2011
10724                    punting                             LONG    2011

[10725 rows x 8 columns]
           id            name   stat    game.id game.teams.school  \
0      480981  Corey Robinson  19/26  313092426              Troy
1      237261   Jamie Hampton   8/11  313092426              Troy
2      480981  Corey Robinson    152  313092426              Troy
3      237261   Jamie Hampton     60  313092426              Troy
4      480981  Corey Robinson    5.8  313092426              Troy
...       ...             ...    ...        ...               ...
10507  381865   Sean Sellwood    202  313090012              Utah
10508  381865   Sean Sellwood   50.5  313090012              Utah
10509  381865   Sean Sellwood      0  313090012              Utah
10510  381865   Sean Sellwood      0  313090012              Utah
10511  381865   Sean Sellwood     67  313090012              Utah

      game.teams.categories.name game.teams.categories.types.name  season
0                        passing                            C/ATT    2011
1                        passing                            C/ATT    2011
2                        passing                              YDS    2011
3                        passing                              YDS    2011
4                        passing                              AVG    2011
...                          ...                              ...     ...
10507                    punting                              YDS    2011
10508                    punting                              AVG    2011
10509                    punting                               TB    2011
10510                    punting                            In 20    2011
10511                    punting                             LONG    2011

[10512 rows x 8 columns]
           id            name   stat    game.id game.teams.school  \
0      238790  J.J. McDermott  26/36  313162567               SMU
1      238790  J.J. McDermott    249  313162567               SMU
2      238790  J.J. McDermott    6.9  313162567               SMU
3      238790  J.J. McDermott      1  313162567               SMU
4      238790  J.J. McDermott      2  313162567               SMU
...       ...             ...    ...        ...               ...
10991  514102  Kyle Dugandzic    112  313160038           Arizona
10992  514102  Kyle Dugandzic   56.0  313160038           Arizona
10993  514102  Kyle Dugandzic      0  313160038           Arizona
10994  514102  Kyle Dugandzic      0  313160038           Arizona
10995  514102  Kyle Dugandzic     60  313160038           Arizona

      game.teams.categories.name game.teams.categories.types.name  season
0                        passing                            C/ATT    2011
1                        passing                              YDS    2011
2                        passing                              AVG    2011
3                        passing                               TD    2011
4                        passing                              INT    2011
...                          ...                              ...     ...
10991                    punting                              YDS    2011
10992                    punting                              AVG    2011
10993                    punting                               TB    2011
10994                    punting                            In 20    2011
10995                    punting                             LONG    2011

[10996 rows x 8 columns]

           id           name   stat    game.id game.teams.school  \
0      240739  Matt Faulkner  33/44  313230023    San José State
1      240739  Matt Faulkner    345  313230023    San José State
2      240739  Matt Faulkner    7.8  313230023    San José State
3      240739  Matt Faulkner      1  313230023    San José State
4      240739  Matt Faulkner      1  313230023    San José State
...       ...            ...    ...        ...               ...
11725  517405    Josh Hubner    145  313230009     Arizona State
11726  517405    Josh Hubner   48.3  313230009     Arizona State
11727  517405    Josh Hubner      0  313230009     Arizona State
11728  517405    Josh Hubner      0  313230009     Arizona State
11729  517405    Josh Hubner     52  313230009     Arizona State

      game.teams.categories.name game.teams.categories.types.name  season
0                        passing                            C/ATT    2011
1                        passing                              YDS    2011
2                        passing                              AVG    2011
3                        passing                               TD    2011
4                        passing                              INT    2011
...                          ...                              ...     ...
11725                    punting                              YDS    2011
11726                    punting                              AVG    2011
11727                    punting                               TB    2011
11728                    punting                            In 20    2011
11729                    punting                             LONG    2011

[11730 rows x 8 columns]
          id            name   stat    game.id game.teams.school  \
0     502335  Munchie Legaux  13/22  313300183        Cincinnati
1     483023  Jordan Luallen    2/3  313300183        Cincinnati
2     502335  Munchie Legaux    169  313300183        Cincinnati
3     483023  Jordan Luallen     10  313300183        Cincinnati
4     502335  Munchie Legaux    7.7  313300183        Cincinnati
...      ...             ...    ...        ...               ...
9811  381865   Sean Sellwood    211  313290254              Utah
9812  381865   Sean Sellwood   52.8  313290254              Utah
9813  381865   Sean Sellwood      0  313290254              Utah
9814  381865   Sean Sellwood      0  313290254              Utah
9815  381865   Sean Sellwood     66  313290254              Utah

     game.teams.categories.name game.teams.categories.types.name  season
0                       passing                            C/ATT    2011
1                       passing                            C/ATT    2011
2                       passing                              YDS    2011
3                       passing                              YDS    2011
4                       passing                              AVG    2011
...                         ...                              ...     ...
9811                    punting                              YDS    2011
9812                    punting                              AVG    2011
9813                    punting                               TB    2011
9814                    punting                            In 20    2011
9815                    punting                             LONG    2011

[9816 rows x 8 columns]
          id          name   stat    game.id game.teams.school  \
0     238910  Kirk Cousins  22/30  313370127    Michigan State
1     238910  Kirk Cousins    281  313370127    Michigan State
2     238910  Kirk Cousins    9.4  313370127    Michigan State
3     238910  Kirk Cousins      3  313370127    Michigan State
4     238910  Kirk Cousins      1  313370127    Michigan State
...      ...           ...    ...        ...               ...
3882  503878   Corey Smith    128  313350058     West Virginia
3883  503878   Corey Smith   32.0  313350058     West Virginia
3884  503878   Corey Smith      0  313350058     West Virginia
3885  503878   Corey Smith      0  313350058     West Virginia
3886  503878   Corey Smith     44  313350058     West Virginia

     game.teams.categories.name game.teams.categories.types.name  season
0                       passing                            C/ATT    2011
1                       passing                              YDS    2011
2                       passing                              AVG    2011
3                       passing                               TD    2011
4                       passing                              INT    2011
...                         ...                              ...     ...
3882                    punting                              YDS    2011
3883                    punting                              AVG    2011
3884                    punting                               TB    2011
3885                    punting                            In 20    2011
3886                    punting                             LONG    2011

[3887 rows x 8 columns]
         id            name  stat    game.id game.teams.school  \
0    483302  Trent Steelman   4/6  313442426              Army
1    483302  Trent Steelman    77  313442426              Army
2    483302  Trent Steelman  12.8  313442426              Army
3    483302  Trent Steelman     1  313442426              Army
4    483302  Trent Steelman     0  313442426              Army
..      ...             ...   ...        ...               ...
139  517125   Pablo Beltran   106  313442426              Navy
140  517125   Pablo Beltran  35.3  313442426              Navy
141  517125   Pablo Beltran     0  313442426              Navy
142  517125   Pablo Beltran     0  313442426              Navy
143  517125   Pablo Beltran    38  313442426              Navy

    game.teams.categories.name game.teams.categories.types.name  season
0                      passing                            C/ATT    2011
1                      passing                              YDS    2011
2                      passing                              AVG    2011
3                      passing                               TD    2011
4                      passing                              INT    2011
..                         ...                              ...     ...
139                    punting                              YDS    2011
140                    punting                              AVG    2011
141                    punting                               TB    2011
142                    punting                            In 20    2011
143                    punting                             LONG    2011

[144 rows x 8 columns]
          id              name   stat    game.id game.teams.school  \
0     378564  Jordan Jefferson  11/17  320090099               LSU
1     378564  Jordan Jefferson     53  320090099               LSU
2     378564  Jordan Jefferson    3.1  320090099               LSU
3     378564  Jordan Jefferson      0  320090099               LSU
4     378564  Jordan Jefferson      1  320090099               LSU
...      ...               ...    ...        ...               ...
6906  483020        Sean Poole    228  313650254      Georgia Tech
6907  483020        Sean Poole   45.6  313650254      Georgia Tech
6908  483020        Sean Poole      0  313650254      Georgia Tech
6909  483020        Sean Poole      0  313650254      Georgia Tech
6910  483020        Sean Poole     53  313650254      Georgia Tech

     game.teams.categories.name game.teams.categories.types.name  season
0                       passing                            C/ATT    2011
1                       passing                              YDS    2011
2                       passing                              AVG    2011
3                       passing                               TD    2011
4                       passing                              INT    2011
...                         ...                              ...     ...
6906                    punting                              YDS    2011
6907                    punting                              AVG    2011
6908                    punting                               TB    2011
6909                    punting                            In 20    2011
6910                    punting                             LONG    2011

[6911 rows x 8 columns]

           id            name   stat    game.id game.teams.school  \
0      515409  Everett Golson  12/18  322452426        Notre Dame
1      500913  Andrew Hendrix    4/5  322452426        Notre Dame
2      515409  Everett Golson    144  322452426        Notre Dame
3      500913  Andrew Hendrix     53  322452426        Notre Dame
4      515409  Everett Golson    8.0  322452426        Notre Dame
...       ...             ...    ...        ...               ...
15517  381412     Trey Barrow     64  322450142          Missouri
15518  381412     Trey Barrow   32.0  322450142          Missouri
15519  381412     Trey Barrow      0  322450142          Missouri
15520  381412     Trey Barrow      0  322450142          Missouri
15521  381412     Trey Barrow     35  322450142          Missouri

      game.teams.categories.name game.teams.categories.types.name  season
0                        passing                            C/ATT    2012
1                        passing                            C/ATT    2012
2                        passing                              YDS    2012
3                        passing                              YDS    2012
4                        passing                              AVG    2012
...                          ...                              ...     ...
15517                    punting                              YDS    2012
15518                    punting                              AVG    2012
15519                    punting                               TB    2012
15520                    punting                            In 20    2012
15521                    punting                             LONG    2012

[15522 rows x 8 columns]
           id          name   stat    game.id game.teams.school  \
0      480322  Matt Barkley  23/30  322520183               USC
1      480322  Matt Barkley    187  322520183               USC
2      480322  Matt Barkley    6.2  322520183               USC
3      480322  Matt Barkley      6  322520183               USC
4      480322  Matt Barkley      1  322520183               USC
...       ...           ...    ...        ...               ...
14681  517777     Josh Ward    160  322522636    UT San Antonio
14682  517777     Josh Ward   40.0  322522636    UT San Antonio
14683  517777     Josh Ward      0  322522636    UT San Antonio
14684  517777     Josh Ward      0  322522636    UT San Antonio
14685  517777     Josh Ward     55  322522636    UT San Antonio

      game.teams.categories.name game.teams.categories.types.name  season
0                        passing                            C/ATT    2012
1                        passing                              YDS    2012
2                        passing                              AVG    2012
3                        passing                               TD    2012
4                        passing                              INT    2012
...                          ...                              ...     ...
14681                    punting                              YDS    2012
14682                    punting                              AVG    2012
14683                    punting                               TB    2012
14684                    punting                            In 20    2012
14685                    punting                             LONG    2012

[14686 rows x 8 columns]
           id             name  stat    game.id game.teams.school  \
0      530568  Keenan Reynolds   4/5  322590213              Navy
1      503610     Casey Bolena   1/2  322590213              Navy
2      516201    John Hendrick   2/3  322590213              Navy
3      503604      Trey Miller  6/13  322590213              Navy
4      530568  Keenan Reynolds    44  322590213              Navy
...       ...              ...   ...        ...               ...
13770  505608      David Skahn   282  322590277     James Madison
13771  505608      David Skahn  40.3  322590277     James Madison
13772  505608      David Skahn     0  322590277     James Madison
13773  505608      David Skahn     0  322590277     James Madison
13774  505608      David Skahn    49  322590277     James Madison

      game.teams.categories.name game.teams.categories.types.name  season
0                        passing                            C/ATT    2012
1                        passing                            C/ATT    2012
2                        passing                            C/ATT    2012
3                        passing                            C/ATT    2012
4                        passing                              YDS    2012
...                          ...                              ...     ...
13770                    punting                              YDS    2012
13771                    punting                              AVG    2012
13772                    punting                               TB    2012
13773                    punting                            In 20    2012
13774                    punting                             LONG    2012

[13775 rows x 8 columns]
           id            name   stat    game.id game.teams.school  \
0      511459  Marcus Mariota  20/35  322662483            Oregon
1      504745   Bryan Bennett    1/1  322662483            Oregon
2      511459  Marcus Mariota    260  322662483            Oregon
3      504745   Bryan Bennett      7  322662483            Oregon
4      511459  Marcus Mariota    7.4  322662483            Oregon
...       ...             ...    ...        ...               ...
11680  385197    Jim Broadway    135  322662655          Ole Miss
11681  385197    Jim Broadway   45.0  322662655          Ole Miss
11682  385197    Jim Broadway      0  322662655          Ole Miss
11683  385197    Jim Broadway      0  322662655          Ole Miss
11684  385197    Jim Broadway     56  322662655          Ole Miss

      game.teams.categories.name game.teams.categories.types.name  season
0                        passing                            C/ATT    2012
1                        passing                            C/ATT    2012
2                        passing                              YDS    2012
3                        passing                              YDS    2012
4                        passing                              AVG    2012
...                          ...                              ...     ...
11680                    punting                              YDS    2012
11681                    punting                              AVG    2012
11682                    punting                               TB    2012
11683                    punting                            In 20    2012
11684                    punting                             LONG    2012

[11685 rows x 8 columns]
           id             name  stat    game.id game.teams.school  \
0      503604      Trey Miller   4/9  322732426              Navy
1      530568  Keenan Reynolds   3/4  322732426              Navy
2      503604      Trey Miller    41  322732426              Navy
3      530568  Keenan Reynolds    33  322732426              Navy
4      503604      Trey Miller   4.6  322732426              Navy
...       ...              ...   ...        ...               ...
10702  513748  Darragh O'Neill   445  322730038          Colorado
10703  513748  Darragh O'Neill  44.5  322730038          Colorado
10704  513748  Darragh O'Neill     0  322730038          Colorado
10705  513748  Darragh O'Neill     0  322730038          Colorado
10706  513748  Darragh O'Neill    57  322730038          Colorado

      game.teams.categories.name game.teams.categories.types.name  season
0                        passing                            C/ATT    2012
1                        passing                            C/ATT    2012
2                        passing                              YDS    2012
3                        passing                              YDS    2012
4                        passing                              AVG    2012
...                          ...                              ...     ...
10702                    punting                              YDS    2012
10703                    punting                              AVG    2012
10704                    punting                               TB    2012
10705                    punting                            In 20    2012
10706                    punting                             LONG    2012

[10707 rows x 8 columns]

           id             name  stat    game.id game.teams.school  \
0      530568  Keenan Reynolds   3/3  322802005              Navy
1      503604      Trey Miller   3/3  322802005              Navy
2      530568  Keenan Reynolds    55  322802005              Navy
3      503604      Trey Miller    19  322802005              Navy
4      530568  Keenan Reynolds  18.3  322802005              Navy
...       ...              ...   ...        ...               ...
10574  531022      Tom Hackett     0  322780254              Utah
10575  381865    Sean Sellwood     0  322780254              Utah
10576  531022      Tom Hackett     0  322780254              Utah
10577  381865    Sean Sellwood    54  322780254              Utah
10578  531022      Tom Hackett    46  322780254              Utah

      game.teams.categories.name game.teams.categories.types.name  season
0                        passing                            C/ATT    2012
1                        passing                            C/ATT    2012
2                        passing                              YDS    2012
3                        passing                              YDS    2012
4                        passing                              AVG    2012
...                          ...                              ...     ...
10574                    punting                               TB    2012
10575                    punting                            In 20    2012
10576                    punting                            In 20    2012
10577                    punting                             LONG    2012
10578                    punting                             LONG    2012

[10579 rows x 8 columns]
           id             name  stat    game.id game.teams.school  \
0      530568  Keenan Reynolds  6/11  322862117              Navy
1      530568  Keenan Reynolds   134  322862117              Navy
2      530568  Keenan Reynolds  12.2  322862117              Navy
3      530568  Keenan Reynolds     3  322862117              Navy
4      530568  Keenan Reynolds     0  322862117              Navy
...       ...              ...   ...        ...               ...
10803  513748  Darragh O'Neill   396  322850038          Colorado
10804  513748  Darragh O'Neill  44.0  322850038          Colorado
10805  513748  Darragh O'Neill     0  322850038          Colorado
10806  513748  Darragh O'Neill     0  322850038          Colorado
10807  513748  Darragh O'Neill    48  322850038          Colorado

      game.teams.categories.name game.teams.categories.types.name  season
0                        passing                            C/ATT    2012
1                        passing                              YDS    2012
2                        passing                              AVG    2012
3                        passing                               TD    2012
4                        passing                              INT    2012
...                          ...                              ...     ...
10803                    punting                              YDS    2012
10804                    punting                              AVG    2012
10805                    punting                               TB    2012
10806                    punting                            In 20    2012
10807                    punting                             LONG    2012

[10808 rows x 8 columns]
           id             name  stat    game.id game.teams.school  \
0      530568  Keenan Reynolds  8/13  322942426              Navy
1      530568  Keenan Reynolds    96  322942426              Navy
2      530568  Keenan Reynolds   7.4  322942426              Navy
3      530568  Keenan Reynolds     1  322942426              Navy
4      530568  Keenan Reynolds     0  322942426              Navy
...       ...              ...   ...        ...               ...
10969  513748  Darragh O'Neill    51  322940030          Colorado
10970  513748  Darragh O'Neill  51.0  322940030          Colorado
10971  513748  Darragh O'Neill     0  322940030          Colorado
10972  513748  Darragh O'Neill     0  322940030          Colorado
10973  513748  Darragh O'Neill    51  322940030          Colorado

      game.teams.categories.name game.teams.categories.types.name  season
0                        passing                            C/ATT    2012
1                        passing                              YDS    2012
2                        passing                              AVG    2012
3                        passing                               TD    2012
4                        passing                              INT    2012
...                          ...                              ...     ...
10969                    punting                              YDS    2012
10970                    punting                              AVG    2012
10971                    punting                               TB    2012
10972                    punting                            In 20    2012
10973                    punting                             LONG    2012

[10974 rows x 8 columns]
           id             name  stat    game.id game.teams.school  \
0      530568  Keenan Reynolds   3/5  323010151              Navy
1      530568  Keenan Reynolds    51  323010151              Navy
2      530568  Keenan Reynolds  10.2  323010151              Navy
3      530568  Keenan Reynolds     2  323010151              Navy
4      530568  Keenan Reynolds     1  323010151              Navy
...       ...              ...   ...        ...               ...
11150  517405      Josh Hubner   263  323010009     Arizona State
11151  517405      Josh Hubner  52.6  323010009     Arizona State
11152  517405      Josh Hubner     0  323010009     Arizona State
11153  517405      Josh Hubner     0  323010009     Arizona State
11154  517405      Josh Hubner    73  323010009     Arizona State

      game.teams.categories.name game.teams.categories.types.name  season
0                        passing                            C/ATT    2012
1                        passing                              YDS    2012
2                        passing                              AVG    2012
3                        passing                               TD    2012
4                        passing                              INT    2012
...                          ...                              ...     ...
11150                    punting                              YDS    2012
11151                    punting                              AVG    2012
11152                    punting                               TB    2012
11153                    punting                            In 20    2012
11154                    punting                             LONG    2012

[11155 rows x 8 columns]
           id              name   stat    game.id game.teams.school  \
0      384831    Graham Wilbert  25/35  323082426  Florida Atlantic
1      537099  Jonathan Wallace    0/1  323082426  Florida Atlantic
2      384831    Graham Wilbert    205  323082426  Florida Atlantic
3      537099  Jonathan Wallace      0  323082426  Florida Atlantic
4      384831    Graham Wilbert    5.9  323082426  Florida Atlantic
...       ...               ...    ...        ...               ...
10998  531239       Ethan Perry    375  323080277               TCU
10999  531239       Ethan Perry   41.7  323080277               TCU
11000  531239       Ethan Perry      0  323080277               TCU
11001  531239       Ethan Perry      0  323080277               TCU
11002  531239       Ethan Perry     49  323080277               TCU

      game.teams.categories.name game.teams.categories.types.name  season
0                        passing                            C/ATT    2012
1                        passing                            C/ATT    2012
2                        passing                              YDS    2012
3                        passing                              YDS    2012
4                        passing                              AVG    2012
...                          ...                              ...     ...
10998                    punting                              YDS    2012
10999                    punting                              AVG    2012
11000                    punting                               TB    2012
11001                    punting                            In 20    2012
11002                    punting                             LONG    2012

[11003 rows x 8 columns]

           id            name   stat    game.id game.teams.school  \
0      480981  Corey Robinson  25/28  323152653              Troy
1      531708    Deon Anthony   9/12  323152653              Troy
2      480981  Corey Robinson    322  323152653              Troy
3      531708    Deon Anthony     93  323152653              Troy
4      480981  Corey Robinson   11.5  323152653              Troy
...       ...             ...    ...        ...               ...
11179  514102  Kyle Dugandzic     82  323150012           Arizona
11180  514102  Kyle Dugandzic   41.0  323150012           Arizona
11181  514102  Kyle Dugandzic      0  323150012           Arizona
11182  514102  Kyle Dugandzic      0  323150012           Arizona
11183  514102  Kyle Dugandzic     43  323150012           Arizona

      game.teams.categories.name game.teams.categories.types.name  season
0                        passing                            C/ATT    2012
1                        passing                            C/ATT    2012
2                        passing                              YDS    2012
3                        passing                              YDS    2012
4                        passing                              AVG    2012
...                          ...                              ...     ...
11179                    punting                              YDS    2012
11180                    punting                              AVG    2012
11181                    punting                               TB    2012
11182                    punting                            In 20    2012
11183                    punting                             LONG    2012

[11184 rows x 8 columns]
           id              name   stat    game.id game.teams.school  \
0      512866  Shaun Rutherford  25/40  323222426       Texas State
1      512866  Shaun Rutherford    290  323222426       Texas State
2      512866  Shaun Rutherford    7.3  323222426       Texas State
3      512866  Shaun Rutherford      1  323222426       Texas State
4      512866  Shaun Rutherford      0  323222426       Texas State
...       ...               ...    ...        ...               ...
11766  482821     Ryan Epperson    158  323220245         Texas A&M
11767  482821     Ryan Epperson   39.5  323220245         Texas A&M
11768  482821     Ryan Epperson      0  323220245         Texas A&M
11769  482821     Ryan Epperson      0  323220245         Texas A&M
11770  482821     Ryan Epperson     43  323220245         Texas A&M

      game.teams.categories.name game.teams.categories.types.name  season
0                        passing                            C/ATT    2012
1                        passing                              YDS    2012
2                        passing                              AVG    2012
3                        passing                               TD    2012
4                        passing                              INT    2012
...                          ...                              ...     ...
11766                    punting                              YDS    2012
11767                    punting                              AVG    2012
11768                    punting                               TB    2012
11769                    punting                            In 20    2012
11770                    punting                             LONG    2012

[11771 rows x 8 columns]
           id             name   stat    game.id game.teams.school  \
0      513397  Clinton Granger  16/23  323280218            Temple
1      513397  Clinton Granger    173  323280218            Temple
2      513397  Clinton Granger    7.5  323280218            Temple
3      513397  Clinton Granger      1  323280218            Temple
4      513397  Clinton Granger      2  323280218            Temple
...       ...              ...    ...        ...               ...
10828  381412      Trey Barrow    312  323290245          Missouri
10829  381412      Trey Barrow   52.0  323290245          Missouri
10830  381412      Trey Barrow      0  323290245          Missouri
10831  381412      Trey Barrow      0  323290245          Missouri
10832  381412      Trey Barrow     56  323290245          Missouri

      game.teams.categories.name game.teams.categories.types.name  season
0                        passing                            C/ATT    2012
1                        passing                              YDS    2012
2                        passing                              AVG    2012
3                        passing                               TD    2012
4                        passing                              INT    2012
...                          ...                              ...     ...
10828                    punting                              YDS    2012
10829                    punting                              AVG    2012
10830                    punting                               TB    2012
10831                    punting                            In 20    2012
10832                    punting                             LONG    2012

[10833 rows x 8 columns]
          id             name  stat    game.id game.teams.school  \
0     508164       CJ Bennett     0  323360062     South Alabama
1     508163      T.J. Glover     0  323360062     South Alabama
2     512238  Julien Valentin     0  323360062     South Alabama
3     508159  Kendall Houston     0  323360062     South Alabama
4     481587     Ross Metheny     0  323360062     South Alabama
...      ...              ...   ...        ...               ...
3570  511623     Ryan Johnson   209  323340164        Louisville
3571  511623     Ryan Johnson  41.8  323340164        Louisville
3572  511623     Ryan Johnson     0  323340164        Louisville
3573  511623     Ryan Johnson     0  323340164        Louisville
3574  511623     Ryan Johnson    51  323340164        Louisville

     game.teams.categories.name game.teams.categories.types.name  season
0                       rushing                               TD    2012
1                       rushing                               TD    2012
2                       rushing                               TD    2012
3                       rushing                               TD    2012
4                       rushing                               TD    2012
...                         ...                              ...     ...
3570                    punting                              YDS    2012
3571                    punting                              AVG    2012
3572                    punting                               TB    2012
3573                    punting                            In 20    2012
3574                    punting                             LONG    2012

[3575 rows x 8 columns]
         id            name  stat    game.id game.teams.school  \
0    483302  Trent Steelman   4/5  323430349              Army
1    483302  Trent Steelman    48  323430349              Army
2    483302  Trent Steelman   9.6  323430349              Army
3    483302  Trent Steelman     0  323430349              Army
4    483302  Trent Steelman     0  323430349              Army
..      ...             ...   ...        ...               ...
129  517125   Pablo Beltran   220  323430349              Navy
130  517125   Pablo Beltran  36.7  323430349              Navy
131  517125   Pablo Beltran     0  323430349              Navy
132  517125   Pablo Beltran     0  323430349              Navy
133  517125   Pablo Beltran    45  323430349              Navy

    game.teams.categories.name game.teams.categories.types.name  season
0                      passing                            C/ATT    2012
1                      passing                              YDS    2012
2                      passing                              AVG    2012
3                      passing                               TD    2012
4                      passing                              INT    2012
..                         ...                              ...     ...
129                    punting                              YDS    2012
130                    punting                              AVG    2012
131                    punting                               TB    2012
132                    punting                            In 20    2012
133                    punting                             LONG    2012

[134 rows x 8 columns]

          id             name   stat    game.id game.teams.school  \
0     480215      AJ McCarron  20/28  330070333           Alabama
1     480215      AJ McCarron    264  330070333           Alabama
2     480215      AJ McCarron    9.4  330070333           Alabama
3     480215      AJ McCarron      4  330070333           Alabama
4     480215      AJ McCarron      0  330070333           Alabama
...      ...              ...    ...        ...               ...
6706  382251  Tyler Bitancurt    157  323640183     West Virginia
6707  382251  Tyler Bitancurt   31.4  323640183     West Virginia
6708  382251  Tyler Bitancurt      0  323640183     West Virginia
6709  382251  Tyler Bitancurt      0  323640183     West Virginia
6710  382251  Tyler Bitancurt     38  323640183     West Virginia

     game.teams.categories.name game.teams.categories.types.name  season
0                       passing                            C/ATT    2012
1                       passing                              YDS    2012
2                       passing                              AVG    2012
3                       passing                               TD    2012
4                       passing                              INT    2012
...                         ...                              ...     ...
6706                    punting                              YDS    2012
6707                    punting                              AVG    2012
6708                    punting                               TB    2012
6709                    punting                            In 20    2012
6710                    punting                             LONG    2012

[6711 rows x 8 columns]
           id           name  stat    game.id      game.teams.school  \
0      536571  E.J. Hilliard   5/7  332430120  Florida International
1      505663   Jake Medlock  5/15  332430120  Florida International
2      536571  E.J. Hilliard    54  332430120  Florida International
3      505663   Jake Medlock    26  332430120  Florida International
4      536571  E.J. Hilliard   7.7  332430120  Florida International
...       ...            ...   ...        ...                    ...
15386  513651   Matt Hubbard   312  332422247          Georgia State
15387  513651   Matt Hubbard  39.0  332422247          Georgia State
15388  513651   Matt Hubbard     0  332422247          Georgia State
15389  513651   Matt Hubbard     0  332422247          Georgia State
15390  513651   Matt Hubbard    54  332422247          Georgia State

      game.teams.categories.name game.teams.categories.types.name  season
0                        passing                            C/ATT    2013
1                        passing                            C/ATT    2013
2                        passing                              YDS    2013
3                        passing                              YDS    2013
4                        passing                              AVG    2013
...                          ...                              ...     ...
15386                    punting                              YDS    2013
15387                    punting                              AVG    2013
15388                    punting                               TB    2013
15389                    punting                            In 20    2013
15390                    punting                             LONG    2013

[15391 rows x 8 columns]
           id          name   stat    game.id game.teams.school  \
0      535825  Nate Sudfeld  31/42  332500084           Indiana
1      513034  Tre Roberson    0/1  332500084           Indiana
2      535825  Nate Sudfeld    363  332500084           Indiana
3      513034  Tre Roberson      0  332500084           Indiana
4      535825  Nate Sudfeld    8.6  332500084           Indiana
...       ...           ...    ...        ...               ...
15787  513651  Matt Hubbard    304  332502247     Georgia State
15788  513651  Matt Hubbard   43.4  332502247     Georgia State
15789  513651  Matt Hubbard      0  332502247     Georgia State
15790  513651  Matt Hubbard      0  332502247     Georgia State
15791  513651  Matt Hubbard     51  332502247     Georgia State

      game.teams.categories.name game.teams.categories.types.name  season
0                        passing                            C/ATT    2013
1                        passing                            C/ATT    2013
2                        passing                              YDS    2013
3                        passing                              YDS    2013
4                        passing                              AVG    2013
...                          ...                              ...     ...
15787                    punting                              YDS    2013
15788                    punting                              AVG    2013
15789                    punting                               TB    2013
15790                    punting                            In 20    2013
15791                    punting                             LONG    2013

[15792 rows x 8 columns]
           id             name   stat    game.id game.teams.school  \
0      530568  Keenan Reynolds  10/13  332572426              Navy
1      516201    John Hendrick    1/2  332572426              Navy
2      530568  Keenan Reynolds    233  332572426              Navy
3      516201    John Hendrick      4  332572426              Navy
4      530568  Keenan Reynolds   17.9  332572426              Navy
...       ...              ...    ...        ...               ...
12195  536809       John Fleck    116  332570295            Howard
12196  536809       John Fleck   38.7  332570295            Howard
12197  536809       John Fleck      0  332570295            Howard
12198  536809       John Fleck      0  332570295            Howard
12199  536809       John Fleck     44  332570295            Howard

      game.teams.categories.name game.teams.categories.types.name  season
0                        passing                            C/ATT    2013
1                        passing                            C/ATT    2013
2                        passing                              YDS    2013
3                        passing                              YDS    2013
4                        passing                              AVG    2013
...                          ...                              ...     ...
12195                    punting                              YDS    2013
12196                    punting                              AVG    2013
12197                    punting                               TB    2013
12198                    punting                            In 20    2013
12199                    punting                             LONG    2013

[12200 rows x 8 columns]
           id           name   stat    game.id game.teams.school  \
0      480846     C.J. Brown  17/26  332640120          Maryland
1      480846     C.J. Brown    210  332640120          Maryland
2      480846     C.J. Brown    8.1  332640120          Maryland
3      480846     C.J. Brown      1  332640120          Maryland
4      480846     C.J. Brown      0  332640120          Maryland
...       ...            ...    ...        ...               ...
12000  486252  Thomas Warren    1/1  332640295       The Citadel
12001  486252  Thomas Warren  100.0  332640295       The Citadel
12002  486252  Thomas Warren     27  332640295       The Citadel
12003  486252  Thomas Warren    7/7  332640295       The Citadel
12004  486252  Thomas Warren     10  332640295       The Citadel

      game.teams.categories.name game.teams.categories.types.name  season
0                        passing                            C/ATT    2013
1                        passing                              YDS    2013
2                        passing                              AVG    2013
3                        passing                               TD    2013
4                        passing                              INT    2013
...                          ...                              ...     ...
12000                    kicking                               FG    2013
12001                    kicking                              PCT    2013
12002                    kicking                             LONG    2013
12003                    kicking                               XP    2013
12004                    kicking                              PTS    2013

[12005 rows x 8 columns]

          id             name   stat    game.id game.teams.school  \
0     516201    John Hendrick   5/13  332710098              Navy
1     530568  Keenan Reynolds    2/4  332710098              Navy
2     516201    John Hendrick     56  332710098              Navy
3     530568  Keenan Reynolds     20  332710098              Navy
4     516201    John Hendrick    4.3  332710098              Navy
...      ...              ...    ...        ...               ...
9920  501438      Jarod Brown    1/1  332710295      Old Dominion
9921  501438      Jarod Brown  100.0  332710295      Old Dominion
9922  501438      Jarod Brown     37  332710295      Old Dominion
9923  501438      Jarod Brown    9/9  332710295      Old Dominion
9924  501438      Jarod Brown     12  332710295      Old Dominion

     game.teams.categories.name game.teams.categories.types.name  season
0                       passing                            C/ATT    2013
1                       passing                            C/ATT    2013
2                       passing                              YDS    2013
3                       passing                              YDS    2013
4                       passing                              AVG    2013
...                         ...                              ...     ...
9920                    kicking                               FG    2013
9921                    kicking                              PCT    2013
9922                    kicking                             LONG    2013
9923                    kicking                               XP    2013
9924                    kicking                              PTS    2013

[9925 rows x 8 columns]
           id               name  stat    game.id game.teams.school  \
0      503623      Marcus Thomas     2  332782426              Navy
1      530568    Keenan Reynolds    28  332782426              Navy
2      530588  DeBrandon Sanders     3  332782426              Navy
3      530573       Demond Brown     1  332782426              Navy
4      530583        Chris Swain     8  332782426              Navy
...       ...                ...   ...        ...               ...
11252  488034       Grant Bowden   254  332780295           Liberty
11253  488034       Grant Bowden  36.3  332780295           Liberty
11254  488034       Grant Bowden     0  332780295           Liberty
11255  488034       Grant Bowden     0  332780295           Liberty
11256  488034       Grant Bowden    41  332780295           Liberty

      game.teams.categories.name game.teams.categories.types.name  season
0                        rushing                              CAR    2013
1                        rushing                              CAR    2013
2                        rushing                              CAR    2013
3                        rushing                              CAR    2013
4                        rushing                              CAR    2013
...                          ...                              ...     ...
11252                    punting                              YDS    2013
11253                    punting                              AVG    2013
11254                    punting                               TB    2013
11255                    punting                            In 20    2013
11256                    punting                             LONG    2013

[11257 rows x 8 columns]
          id             name  stat    game.id game.teams.school  \
0     530568  Keenan Reynolds  6/13  332850150              Navy
1     530568  Keenan Reynolds    89  332850150              Navy
2     530568  Keenan Reynolds   6.8  332850150              Navy
3     530568  Keenan Reynolds     0  332850150              Navy
4     530568  Keenan Reynolds     1  332850150              Navy
...      ...              ...   ...        ...               ...
9780  519570    Scott Harding   269  332852439           Hawai'i
9781  519570    Scott Harding  38.4  332852439           Hawai'i
9782  519570    Scott Harding     0  332852439           Hawai'i
9783  519570    Scott Harding     0  332852439           Hawai'i
9784  519570    Scott Harding    46  332852439           Hawai'i

     game.teams.categories.name game.teams.categories.types.name  season
0                       passing                            C/ATT    2013
1                       passing                              YDS    2013
2                       passing                              AVG    2013
3                       passing                               TD    2013
4                       passing                              INT    2013
...                         ...                              ...     ...
9780                    punting                              YDS    2013
9781                    punting                              AVG    2013
9782                    punting                               TB    2013
9783                    punting                            In 20    2013
9784                    punting                             LONG    2013

[9785 rows x 8 columns]
          id             name  stat    game.id game.teams.school  \
0     530568  Keenan Reynolds  5/12  332922649              Navy
1     530568  Keenan Reynolds    95  332922649              Navy
2     530568  Keenan Reynolds   7.9  332922649              Navy
3     530568  Keenan Reynolds     1  332922649              Navy
4     530568  Keenan Reynolds     0  332922649              Navy
...      ...              ...   ...        ...               ...
9593  513651     Matt Hubbard   280  332920326     Georgia State
9594  513651     Matt Hubbard  40.0  332920326     Georgia State
9595  513651     Matt Hubbard     0  332920326     Georgia State
9596  513651     Matt Hubbard     0  332920326     Georgia State
9597  513651     Matt Hubbard    49  332920326     Georgia State

     game.teams.categories.name game.teams.categories.types.name  season
0                       passing                            C/ATT    2013
1                       passing                              YDS    2013
2                       passing                              AVG    2013
3                       passing                               TD    2013
4                       passing                              INT    2013
...                         ...                              ...     ...
9593                    punting                              YDS    2013
9594                    punting                              AVG    2013
9595                    punting                               TB    2013
9596                    punting                            In 20    2013
9597                    punting                             LONG    2013

[9598 rows x 8 columns]
           id             name  stat    game.id game.teams.school  \
0      530568  Keenan Reynolds  8/18  332992426              Navy
1      530568  Keenan Reynolds   105  332992426              Navy
2      530568  Keenan Reynolds   5.8  332992426              Navy
3      530568  Keenan Reynolds     1  332992426              Navy
4      530568  Keenan Reynolds     1  332992426              Navy
...       ...              ...   ...        ...               ...
11082  550090    Dalton Fraser   173  332992450     Norfolk State
11083  550090    Dalton Fraser  34.6  332992450     Norfolk State
11084  550090    Dalton Fraser     0  332992450     Norfolk State
11085  550090    Dalton Fraser     0  332992450     Norfolk State
11086  550090    Dalton Fraser    39  332992450     Norfolk State

      game.teams.categories.name game.teams.categories.types.name  season
0                        passing                            C/ATT    2013
1                        passing                              YDS    2013
2                        passing                              AVG    2013
3                        passing                               TD    2013
4                        passing                              INT    2013
...                          ...                              ...     ...
11082                    punting                              YDS    2013
11083                    punting                              AVG    2013
11084                    punting                               TB    2013
11085                    punting                            In 20    2013
11086                    punting                             LONG    2013

[11087 rows x 8 columns]

          id            name   stat    game.id game.teams.school  \
0     500923     Thomas Rees  12/20  333060087        Notre Dame
1     500923     Thomas Rees    242  333060087        Notre Dame
2     500923     Thomas Rees   12.1  333060087        Notre Dame
3     500923     Thomas Rees      2  333060087        Notre Dame
4     500923     Thomas Rees      2  333060087        Notre Dame
...      ...             ...    ...        ...               ...
9952  534730  Joseph Pulisic      0  333060295      Old Dominion
9953  553073      Jake Walsh      0  333060295      Old Dominion
9954  534730  Joseph Pulisic      0  333060295      Old Dominion
9955  553073      Jake Walsh     36  333060295      Old Dominion
9956  534730  Joseph Pulisic     24  333060295      Old Dominion

     game.teams.categories.name game.teams.categories.types.name  season
0                       passing                            C/ATT    2013
1                       passing                              YDS    2013
2                       passing                              AVG    2013
3                       passing                               TD    2013
4                       passing                              INT    2013
...                         ...                              ...     ...
9952                    punting                               TB    2013
9953                    punting                            In 20    2013
9954                    punting                            In 20    2013
9955                    punting                             LONG    2013
9956                    punting                             LONG    2013

[9957 rows x 8 columns]
           id            name   stat    game.id game.teams.school  \
0      482756  Sean Schroeder  29/33  333132426           Hawai'i
1      482756  Sean Schroeder    246  333132426           Hawai'i
2      482756  Sean Schroeder    7.5  333132426           Hawai'i
3      482756  Sean Schroeder      3  333132426           Hawai'i
4      482756  Sean Schroeder      0  333132426           Hawai'i
...       ...             ...    ...        ...               ...
10162  517152      Joel Alesi    131  333130023   San Diego State
10163  517152      Joel Alesi   32.8  333130023   San Diego State
10164  517152      Joel Alesi      0  333130023   San Diego State
10165  517152      Joel Alesi      0  333130023   San Diego State
10166  517152      Joel Alesi     38  333130023   San Diego State

      game.teams.categories.name game.teams.categories.types.name  season
0                        passing                            C/ATT    2013
1                        passing                              YDS    2013
2                        passing                              AVG    2013
3                        passing                               TD    2013
4                        passing                              INT    2013
...                          ...                              ...     ...
10162                    punting                              YDS    2013
10163                    punting                              AVG    2013
10164                    punting                               TB    2013
10165                    punting                            In 20    2013
10166                    punting                             LONG    2013

[10167 rows x 8 columns]
           id            name   stat    game.id game.teams.school  \
0      481587    Ross Metheny      2  333202426     South Alabama
1      507211  Brandon Bridge      0  333202426     South Alabama
2      481587    Ross Metheny  18/27  333202426     South Alabama
3      507211  Brandon Bridge    3/9  333202426     South Alabama
4      481587    Ross Metheny    160  333202426     South Alabama
...       ...             ...    ...        ...               ...
10147  553073      Jake Walsh     83  333200295      Old Dominion
10148  553073      Jake Walsh   41.5  333200295      Old Dominion
10149  553073      Jake Walsh      0  333200295      Old Dominion
10150  553073      Jake Walsh      0  333200295      Old Dominion
10151  553073      Jake Walsh     44  333200295      Old Dominion

      game.teams.categories.name game.teams.categories.types.name  season
0                        passing                               TD    2013
1                        passing                               TD    2013
2                        passing                            C/ATT    2013
3                        passing                            C/ATT    2013
4                        passing                              YDS    2013
...                          ...                              ...     ...
10147                    punting                              YDS    2013
10148                    punting                              AVG    2013
10149                    punting                               TB    2013
10150                    punting                            In 20    2013
10151                    punting                             LONG    2013

[10152 rows x 8 columns]
           id         name   stat    game.id game.teams.school  \
0      480550  David Fales  42/56  333260023    San José State
1      480550  David Fales    440  333260023    San José State
2      480550  David Fales    7.9  333260023    San José State
3      480550  David Fales      5  333260023    San José State
4      480550  David Fales      1  333260023    San José State
...       ...          ...    ...        ...               ...
11478  515486  David Baska    147  333252005         Air Force
11479  515486  David Baska   29.4  333252005         Air Force
11480  515486  David Baska      0  333252005         Air Force
11481  515486  David Baska      0  333252005         Air Force
11482  515486  David Baska     37  333252005         Air Force

      game.teams.categories.name game.teams.categories.types.name  season
0                        passing                            C/ATT    2013
1                        passing                              YDS    2013
2                        passing                              AVG    2013
3                        passing                               TD    2013
4                        passing                              INT    2013
...                          ...                              ...     ...
11478                    punting                              YDS    2013
11479                    punting                              AVG    2013
11480                    punting                               TB    2013
11481                    punting                            In 20    2013
11482                    punting                             LONG    2013

[11483 rows x 8 columns]
           id            name   stat    game.id game.teams.school  \
0      549759  Phillip Walker  20/32  333340235            Temple
1      549759  Phillip Walker    328  333340235            Temple
2      549759  Phillip Walker   10.3  333340235            Temple
3      549759  Phillip Walker      4  333340235            Temple
4      549759  Phillip Walker      1  333340235            Temple
...       ...             ...    ...        ...               ...
11271  519051     Mark Krause    172  333342305      Kansas State
11272  519051     Mark Krause   34.4  333342305      Kansas State
11273  519051     Mark Krause      0  333342305      Kansas State
11274  519051     Mark Krause      0  333342305      Kansas State
11275  519051     Mark Krause     42  333342305      Kansas State

      game.teams.categories.name game.teams.categories.types.name  season
0                        passing                            C/ATT    2013
1                        passing                              YDS    2013
2                        passing                              AVG    2013
3                        passing                               TD    2013
4                        passing                              INT    2013
...                          ...                              ...     ...
11271                    punting                              YDS    2013
11272                    punting                              AVG    2013
11273                    punting                               TB    2013
11274                    punting                            In 20    2013
11275                    punting                             LONG    2013

[11276 rows x 8 columns]

          id          name   stat    game.id game.teams.school  \
0     484080    Derek Carr  36/53  333410278      Fresno State
1     484080    Derek Carr    404  333410278      Fresno State
2     484080    Derek Carr    7.6  333410278      Fresno State
3     484080    Derek Carr      3  333410278      Fresno State
4     484080    Derek Carr      2  333410278      Fresno State
...      ...           ...    ...        ...               ...
2551  511623  Ryan Johnson    197  333392132        Louisville
2552  511623  Ryan Johnson   39.4  333392132        Louisville
2553  511623  Ryan Johnson      0  333392132        Louisville
2554  511623  Ryan Johnson      0  333392132        Louisville
2555  511623  Ryan Johnson     47  333392132        Louisville

     game.teams.categories.name game.teams.categories.types.name  season
0                       passing                            C/ATT    2013
1                       passing                              YDS    2013
2                       passing                              AVG    2013
3                       passing                               TD    2013
4                       passing                              INT    2013
...                         ...                              ...     ...
2551                    punting                              YDS    2013
2552                    punting                              AVG    2013
2553                    punting                               TB    2013
2554                    punting                            In 20    2013
2555                    punting                             LONG    2013

[2556 rows x 8 columns]
          id            name   stat    game.id game.teams.school  \
0     530308  Jameis Winston  20/35  340060002     Florida State
1     530308  Jameis Winston    237  340060002     Florida State
2     530308  Jameis Winston    6.8  340060002     Florida State
3     530308  Jameis Winston      2  340060002     Florida State
4     530308  Jameis Winston      0  340060002     Florida State
...      ...             ...    ...        ...               ...
6785  500356       Kip Smith    298  340030142    Oklahoma State
6786  500356       Kip Smith   37.3  340030142    Oklahoma State
6787  500356       Kip Smith      0  340030142    Oklahoma State
6788  500356       Kip Smith      0  340030142    Oklahoma State
6789  500356       Kip Smith     46  340030142    Oklahoma State

     game.teams.categories.name game.teams.categories.types.name  season
0                       passing                            C/ATT    2013
1                       passing                              YDS    2013
2                       passing                              AVG    2013
3                       passing                               TD    2013
4                       passing                              INT    2013
...                         ...                              ...     ...
6785                    punting                              YDS    2013
6786                    punting                              AVG    2013
6787                    punting                               TB    2013
6788                    punting                            In 20    2013
6789                    punting                             LONG    2013

[6790 rows x 8 columns]
           id             name   stat    game.id game.teams.school  \
0      545624     J.T. Barrett  12/15  400547982        Ohio State
1      545624     J.T. Barrett    226  400547982        Ohio State
2      545624     J.T. Barrett   15.1  400547982        Ohio State
3      545624     J.T. Barrett      2  400547982        Ohio State
4      545624     J.T. Barrett      1  400547982        Ohio State
...       ...              ...    ...        ...               ...
17294  534730   Joseph Pulisic      0  400548007      Old Dominion
17295  513949  Taylor Heinicke      0  400548007      Old Dominion
17296  534730   Joseph Pulisic      0  400548007      Old Dominion
17297  513949  Taylor Heinicke     44  400548007      Old Dominion
17298  534730   Joseph Pulisic     25  400548007      Old Dominion

      game.teams.categories.name game.teams.categories.types.name  season
0                        passing                            C/ATT    2014
1                        passing                              YDS    2014
2                        passing                              AVG    2014
3                        passing                               TD    2014
4                        passing                              INT    2014
...                          ...                              ...     ...
17294                    punting                               TB    2014
17295                    punting                            In 20    2014
17296                    punting                            In 20    2014
17297                    punting                             LONG    2014
17298                    punting                             LONG    2014

[17299 rows x 8 columns]
           id              name   stat    game.id  game.teams.school  \
0      549759    Phillip Walker  29/49  400547655             Temple
1      549759    Phillip Walker    240  400547655             Temple
2      549759    Phillip Walker    4.9  400547655             Temple
3      549759    Phillip Walker      2  400547655             Temple
4      549759    Phillip Walker      1  400547655             Temple
...       ...               ...    ...        ...                ...
15358  548437  Bentlee Critcher     90  400548408  Appalachian State
15359  548437  Bentlee Critcher   45.0  400548408  Appalachian State
15360  548437  Bentlee Critcher      0  400548408  Appalachian State
15361  548437  Bentlee Critcher      1  400548408  Appalachian State
15362  548437  Bentlee Critcher     48  400548408  Appalachian State

      game.teams.categories.name game.teams.categories.types.name  season
0                        passing                            C/ATT    2014
1                        passing                              YDS    2014
2                        passing                              AVG    2014
3                        passing                               TD    2014
4                        passing                              INT    2014
...                          ...                              ...     ...
15358                    punting                              YDS    2014
15359                    punting                              AVG    2014
15360                    punting                               TB    2014
15361                    punting                            In 20    2014
15362                    punting                             LONG    2014

[15363 rows x 8 columns]
           id                  name  stat    game.id game.teams.school  \
0      551222            Tago Smith   5/7  400548412              Navy
1      551222            Tago Smith   117  400548412              Navy
2      551222            Tago Smith  16.7  400548412              Navy
3      551222            Tago Smith     2  400548412              Navy
4      551222            Tago Smith     1  400548412              Navy
...       ...                   ...   ...        ...               ...
11994  552329  Christian Hackenberg     0  400547995        Penn State
11995  552328           Chris Gulla     3  400547995        Penn State
11996  552329  Christian Hackenberg     0  400547995        Penn State
11997  552328           Chris Gulla    40  400547995        Penn State
11998  552329  Christian Hackenberg     5  400547995        Penn State

      game.teams.categories.name game.teams.categories.types.name  season
0                        passing                            C/ATT    2014
1                        passing                              YDS    2014
2                        passing                              AVG    2014
3                        passing                               TD    2014
4                        passing                              INT    2014
...                          ...                              ...     ...
11994                    punting                               TB    2014
11995                    punting                            In 20    2014
11996                    punting                            In 20    2014
11997                    punting                             LONG    2014
11998                    punting                             LONG    2014

[11999 rows x 8 columns]

           id              name   stat    game.id  game.teams.school  \
0      530568   Keenan Reynolds  12/22  400547996               Navy
1      530568   Keenan Reynolds    231  400547996               Navy
2      530568   Keenan Reynolds   10.5  400547996               Navy
3      530568   Keenan Reynolds      1  400547996               Navy
4      530568   Keenan Reynolds      0  400547996               Navy
...       ...               ...    ...        ...                ...
11373  548437  Bentlee Critcher    173  400548032  Appalachian State
11374  548437  Bentlee Critcher   43.3  400548032  Appalachian State
11375  548437  Bentlee Critcher      0  400548032  Appalachian State
11376  548437  Bentlee Critcher      3  400548032  Appalachian State
11377  548437  Bentlee Critcher     49  400548032  Appalachian State

      game.teams.categories.name game.teams.categories.types.name  season
0                        passing                            C/ATT    2014
1                        passing                              YDS    2014
2                        passing                              AVG    2014
3                        passing                               TD    2014
4                        passing                              INT    2014
...                          ...                              ...     ...
11373                    punting                              YDS    2014
11374                    punting                              AVG    2014
11375                    punting                               TB    2014
11376                    punting                            In 20    2014
11377                    punting                             LONG    2014

[11378 rows x 8 columns]
           id              name  stat    game.id  game.teams.school  \
0      530568   Keenan Reynolds  3/14  400548038               Navy
1      530568   Keenan Reynolds    55  400548038               Navy
2      530568   Keenan Reynolds   3.9  400548038               Navy
3      530568   Keenan Reynolds     0  400548038               Navy
4      530568   Keenan Reynolds     1  400548038               Navy
...       ...               ...   ...        ...                ...
10774  548437  Bentlee Critcher   175  400550418  Appalachian State
10775  548437  Bentlee Critcher  43.8  400550418  Appalachian State
10776  548437  Bentlee Critcher     0  400550418  Appalachian State
10777  548437  Bentlee Critcher     1  400550418  Appalachian State
10778  548437  Bentlee Critcher    49  400550418  Appalachian State

      game.teams.categories.name game.teams.categories.types.name  season
0                        passing                            C/ATT    2014
1                        passing                              YDS    2014
2                        passing                              AVG    2014
3                        passing                               TD    2014
4                        passing                              INT    2014
...                          ...                              ...     ...
10774                    punting                              YDS    2014
10775                    punting                              AVG    2014
10776                    punting                               TB    2014
10777                    punting                            In 20    2014
10778                    punting                             LONG    2014

[10779 rows x 8 columns]
           id             name  stat    game.id game.teams.school  \
0      530568  Keenan Reynolds  6/14  400548205              Navy
1      551222       Tago Smith   2/2  400548205              Navy
2      530568  Keenan Reynolds   126  400548205              Navy
3      551222       Tago Smith    16  400548205              Navy
4      530568  Keenan Reynolds   9.0  400548205              Navy
...       ...              ...   ...        ...               ...
11134  534792   Thomas Meadows   174  400547909            Purdue
11135  534792   Thomas Meadows  43.5  400547909            Purdue
11136  534792   Thomas Meadows     0  400547909            Purdue
11137  534792   Thomas Meadows     1  400547909            Purdue
11138  534792   Thomas Meadows    54  400547909            Purdue

      game.teams.categories.name game.teams.categories.types.name  season
0                        passing                            C/ATT    2014
1                        passing                            C/ATT    2014
2                        passing                              YDS    2014
3                        passing                              YDS    2014
4                        passing                              AVG    2014
...                          ...                              ...     ...
11134                    punting                              YDS    2014
11135                    punting                              AVG    2014
11136                    punting                               TB    2014
11137                    punting                            In 20    2014
11138                    punting                             LONG    2014

[11139 rows x 8 columns]
           id         name  stat    game.id game.teams.school  \
0      551222   Tago Smith   3/5  400548464              Navy
1      551208   Will Worth   0/1  400548464              Navy
2      551222   Tago Smith    82  400548464              Navy
3      551208   Will Worth     0  400548464              Navy
4      551222   Tago Smith  16.4  400548464              Navy
...       ...          ...   ...        ...               ...
10723  547315  Trey Turner   112  400548423           Liberty
10724  547315  Trey Turner  37.3  400548423           Liberty
10725  547315  Trey Turner     0  400548423           Liberty
10726  547315  Trey Turner     0  400548423           Liberty
10727  547315  Trey Turner    56  400548423           Liberty

      game.teams.categories.name game.teams.categories.types.name  season
0                        passing                            C/ATT    2014
1                        passing                            C/ATT    2014
2                        passing                              YDS    2014
3                        passing                              YDS    2014
4                        passing                              AVG    2014
...                          ...                              ...     ...
10723                    punting                              YDS    2014
10724                    punting                              AVG    2014
10725                    punting                               TB    2014
10726                    punting                            In 20    2014
10727                    punting                             LONG    2014

[10728 rows x 8 columns]
            id              name  stat    game.id game.teams.school  \
0       535753        Josh Magee     1  400548053               UAB
1       550754  Jeremiah Briscoe     1  400548053               UAB
2       552904     Jordan Howard    32  400548053               UAB
3       503640       D.J. Vinson    12  400548053               UAB
4      3129249     Cody Clements    13  400548053               UAB
...        ...               ...   ...        ...               ...
10426   518315     Chris Gradone   295  400547971      Northwestern
10427   518315     Chris Gradone  36.9  400547971      Northwestern
10428   518315     Chris Gradone     0  400547971      Northwestern
10429   518315     Chris Gradone     0  400547971      Northwestern
10430   518315     Chris Gradone    44  400547971      Northwestern

      game.teams.categories.name game.teams.categories.types.name  season
0                        rushing                              CAR    2014
1                        rushing                              CAR    2014
2                        rushing                              CAR    2014
3                        rushing                              CAR    2014
4                        rushing                              CAR    2014
...                          ...                              ...     ...
10426                    punting                              YDS    2014
10427                    punting                              AVG    2014
10428                    punting                               TB    2014
10429                    punting                            In 20    2014
10430                    punting                             LONG    2014

[10431 rows x 8 columns]

           id             name  stat    game.id game.teams.school  \
0      530568  Keenan Reynolds   4/7  400548224              Navy
1      530568  Keenan Reynolds    56  400548224              Navy
2      530568  Keenan Reynolds   8.0  400548224              Navy
3      530568  Keenan Reynolds     0  400548224              Navy
4      530568  Keenan Reynolds     0  400548224              Navy
...       ...              ...   ...        ...               ...
9600  3123214    Jarrett Cervi    73  400548058      Old Dominion
9601  3123214    Jarrett Cervi  36.5  400548058      Old Dominion
9602  3123214    Jarrett Cervi     0  400548058      Old Dominion
9603  3123214    Jarrett Cervi     0  400548058      Old Dominion
9604  3123214    Jarrett Cervi    39  400548058      Old Dominion

     game.teams.categories.name game.teams.categories.types.name  season
0                       passing                            C/ATT    2014
1                       passing                              YDS    2014
2                       passing                              AVG    2014
3                       passing                               TD    2014
4                       passing                              INT    2014
...                         ...                              ...     ...
9600                    punting                              YDS    2014
9601                    punting                              AVG    2014
9602                    punting                               TB    2014
9603                    punting                            In 20    2014
9604                    punting                             LONG    2014

[9605 rows x 8 columns]
           id              name   stat    game.id game.teams.school  \
0      515409    Everett Golson  18/25  400548465        Notre Dame
1      515409    Everett Golson    315  400548465        Notre Dame
2      515409    Everett Golson   12.6  400548465        Notre Dame
3      515409    Everett Golson      3  400548465        Notre Dame
4      515409    Everett Golson      1  400548465        Notre Dame
...       ...               ...    ...        ...               ...
10289  535834  Connor Kornbrath     74  400547932              Iowa
10290  535834  Connor Kornbrath   37.0  400547932              Iowa
10291  535834  Connor Kornbrath      0  400547932              Iowa
10292  535834  Connor Kornbrath      0  400547932              Iowa
10293  535834  Connor Kornbrath     48  400547932              Iowa

      game.teams.categories.name game.teams.categories.types.name  season
0                        passing                            C/ATT    2014
1                        passing                              YDS    2014
2                        passing                              AVG    2014
3                        passing                               TD    2014
4                        passing                              INT    2014
...                          ...                              ...     ...
10289                    punting                              YDS    2014
10290                    punting                              AVG    2014
10291                    punting                               TB    2014
10292                    punting                            In 20    2014
10293                    punting                             LONG    2014

[10294 rows x 8 columns]
          id           name   stat    game.id game.teams.school  \
0     530696     Cody Sokol  19/33  400548069    Louisiana Tech
1     530696     Cody Sokol    200  400548069    Louisiana Tech
2     530696     Cody Sokol    6.1  400548069    Louisiana Tech
3     530696     Cody Sokol      2  400548069    Louisiana Tech
4     530696     Cody Sokol      1  400548069    Louisiana Tech
...      ...            ...    ...        ...               ...
9609  512754  Peter Mortell    114  400547933         Minnesota
9610  512754  Peter Mortell   38.0  400547933         Minnesota
9611  512754  Peter Mortell      0  400547933         Minnesota
9612  512754  Peter Mortell      3  400547933         Minnesota
9613  512754  Peter Mortell     45  400547933         Minnesota

     game.teams.categories.name game.teams.categories.types.name  season
0                       passing                            C/ATT    2014
1                       passing                              YDS    2014
2                       passing                              AVG    2014
3                       passing                               TD    2014
4                       passing                              INT    2014
...                         ...                              ...     ...
9609                    punting                              YDS    2014
9610                    punting                              AVG    2014
9611                    punting                               TB    2014
9612                    punting                            In 20    2014
9613                    punting                             LONG    2014

[9614 rows x 8 columns]
          id              name  stat    game.id game.teams.school  \
0     532925     Kevin Ellison  7/12  400548446  Georgia Southern
1     549301     Favian Upshaw   3/4  400548446  Georgia Southern
2     532925     Kevin Ellison    59  400548446  Georgia Southern
3     549301     Favian Upshaw    14  400548446  Georgia Southern
4     532925     Kevin Ellison   4.9  400548446  Georgia Southern
...      ...               ...   ...        ...               ...
9330  535834  Connor Kornbrath    63  400547913              Iowa
9331  535834  Connor Kornbrath  31.5  400547913              Iowa
9332  535834  Connor Kornbrath     0  400547913              Iowa
9333  535834  Connor Kornbrath     2  400547913              Iowa
9334  535834  Connor Kornbrath    35  400547913              Iowa

     game.teams.categories.name game.teams.categories.types.name  season
0                       passing                            C/ATT    2014
1                       passing                            C/ATT    2014
2                       passing                              YDS    2014
3                       passing                              YDS    2014
4                       passing                              AVG    2014
...                         ...                              ...     ...
9330                    punting                              YDS    2014
9331                    punting                              AVG    2014
9332                    punting                               TB    2014
9333                    punting                            In 20    2014
9334                    punting                             LONG    2014

[9335 rows x 8 columns]
           id           name   stat    game.id game.teams.school  \
0      518267    Rakeem Cato  20/38  400548082          Marshall
1      518267    Rakeem Cato    284  400548082          Marshall
2      518267    Rakeem Cato    7.5  400548082          Marshall
3      518267    Rakeem Cato      2  400548082          Marshall
4      518267    Rakeem Cato      1  400548082          Marshall
...       ...            ...    ...        ...               ...
11441  518315  Chris Gradone    162  400547981      Northwestern
11442  518315  Chris Gradone   40.5  400547981      Northwestern
11443  518315  Chris Gradone      1  400547981      Northwestern
11444  518315  Chris Gradone      0  400547981      Northwestern
11445  518315  Chris Gradone     52  400547981      Northwestern

      game.teams.categories.name game.teams.categories.types.name  season
0                        passing                            C/ATT    2014
1                        passing                              YDS    2014
2                        passing                              AVG    2014
3                        passing                               TD    2014
4                        passing                              INT    2014
...                          ...                              ...     ...
11441                    punting                              YDS    2014
11442                    punting                              AVG    2014
11443                    punting                               TB    2014
11444                    punting                            In 20    2014
11445                    punting                             LONG    2014

[11446 rows x 8 columns]

            id               name   stat    game.id game.teams.school  \
0      3125318       Blake Decker  21/39  400548252              UNLV
1      3125318       Blake Decker    171  400548252              UNLV
2      3125318       Blake Decker    4.4  400548252              UNLV
3      3125318       Blake Decker      2  400548252              UNLV
4      3125318       Blake Decker      3  400548252              UNLV
...        ...                ...    ...        ...               ...
11562  3126045  Mitch Bonnstetter    200  400548164              Ohio
11563  3126045  Mitch Bonnstetter   40.0  400548164              Ohio
11564  3126045  Mitch Bonnstetter      0  400548164              Ohio
11565  3126045  Mitch Bonnstetter      2  400548164              Ohio
11566  3126045  Mitch Bonnstetter     58  400548164              Ohio

      game.teams.categories.name game.teams.categories.types.name  season
0                        passing                            C/ATT    2014
1                        passing                              YDS    2014
2                        passing                              AVG    2014
3                        passing                               TD    2014
4                        passing                              INT    2014
...                          ...                              ...     ...
11562                    punting                              YDS    2014
11563                    punting                              AVG    2014
11564                    punting                               TB    2014
11565                    punting                            In 20    2014
11566                    punting                             LONG    2014

[11567 rows x 8 columns]
          id           name   stat    game.id game.teams.school  \
0     546271  Brian Burrell  30/45  400609154      Fresno State
1     504943    Greg Watson    0/1  400609154      Fresno State
2     546271  Brian Burrell    332  400609154      Fresno State
3     504943    Greg Watson      0  400609154      Fresno State
4     546271  Brian Burrell    7.4  400609154      Fresno State
...      ...            ...    ...        ...               ...
2549  537674  Caleb Houston    169  400547724               UCF
2550  537674  Caleb Houston   42.3  400547724               UCF
2551  537674  Caleb Houston      0  400547724               UCF
2552  537674  Caleb Houston      1  400547724               UCF
2553  537674  Caleb Houston     48  400547724               UCF

     game.teams.categories.name game.teams.categories.types.name  season
0                       passing                            C/ATT    2014
1                       passing                            C/ATT    2014
2                       passing                              YDS    2014
3                       passing                              YDS    2014
4                       passing                              AVG    2014
...                         ...                              ...     ...
2549                    punting                              YDS    2014
2550                    punting                              AVG    2014
2551                    punting                               TB    2014
2552                    punting                            In 20    2014
2553                    punting                             LONG    2014

[2554 rows x 8 columns]
          id            name   stat    game.id game.teams.school  \
0     511459  Marcus Mariota  24/37  400610325            Oregon
1     530875     Jeff Lockie    0/1  400610325            Oregon
2     511459  Marcus Mariota    333  400610325            Oregon
3     530875     Jeff Lockie      0  400610325            Oregon
4     511459  Marcus Mariota    9.0  400610325            Oregon
...      ...             ...    ...        ...               ...
7548  552219      Sam Geraci    211  400610207        Cincinnati
7549  552219      Sam Geraci   42.2  400610207        Cincinnati
7550  552219      Sam Geraci      1  400610207        Cincinnati
7551  552219      Sam Geraci      1  400610207        Cincinnati
7552  552219      Sam Geraci     48  400610207        Cincinnati

     game.teams.categories.name game.teams.categories.types.name  season
0                       passing                            C/ATT    2014
1                       passing                            C/ATT    2014
2                       passing                              YDS    2014
3                       passing                              YDS    2014
4                       passing                              AVG    2014
...                         ...                              ...     ...
7548                    punting                              YDS    2014
7549                    punting                              AVG    2014
7550                    punting                               TB    2014
7551                    punting                            In 20    2014
7552                    punting                             LONG    2014

[7553 rows x 8 columns]
            id           name   stat    game.id game.teams.school  \
0      3121647   Treon Harris  14/19  400603830           Florida
1       559556     Will Grier  16/18  400603830           Florida
2       511336     Josh Grady    1/1  400603830           Florida
3      3121647   Treon Harris    215  400603830           Florida
4       559556     Will Grier    166  400603830           Florida
...        ...            ...    ...        ...               ...
18178   556625  Spencer Smith    186  400764859           Memphis
18179   556625  Spencer Smith   46.5  400764859           Memphis
18180   556625  Spencer Smith      0  400764859           Memphis
18181   556625  Spencer Smith      0  400764859           Memphis
18182   556625  Spencer Smith     55  400764859           Memphis

      game.teams.categories.name game.teams.categories.types.name  season
0                        passing                            C/ATT    2015
1                        passing                            C/ATT    2015
2                        passing                            C/ATT    2015
3                        passing                              YDS    2015
4                        passing                              YDS    2015
...                          ...                              ...     ...
18178                    punting                              YDS    2015
18179                    punting                              AVG    2015
18180                    punting                               TB    2015
18181                    punting                            In 20    2015
18182                    punting                             LONG    2015

[18183 rows x 8 columns]
            id         name   stat    game.id game.teams.school  \
0       550278  Sefo Liufau  15/24  400757016          Colorado
1       550278  Sefo Liufau    168  400757016          Colorado
2       550278  Sefo Liufau    7.0  400757016          Colorado
3       550278  Sefo Liufau      1  400757016          Colorado
4       550278  Sefo Liufau      0  400757016          Colorado
...        ...          ...    ...        ...               ...
15731  3120063  Arthur Hart    197  400763594         Charlotte
15732  3120063  Arthur Hart   39.4  400763594         Charlotte
15733  3120063  Arthur Hart      0  400763594         Charlotte
15734  3120063  Arthur Hart      0  400763594         Charlotte
15735  3120063  Arthur Hart     50  400763594         Charlotte

      game.teams.categories.name game.teams.categories.types.name  season
0                        passing                            C/ATT    2015
1                        passing                              YDS    2015
2                        passing                              AVG    2015
3                        passing                               TD    2015
4                        passing                              INT    2015
...                          ...                              ...     ...
15731                    punting                              YDS    2015
15732                    punting                              AVG    2015
15733                    punting                               TB    2015
15734                    punting                            In 20    2015
15735                    punting                             LONG    2015

[15736 rows x 8 columns]

            id              name   stat    game.id game.teams.school  \
0       518271  Blake Frohnapfel  29/55  400764869             UMass
1       518271  Blake Frohnapfel    393  400764869             UMass
2       518271  Blake Frohnapfel    7.1  400764869             UMass
3       518271  Blake Frohnapfel      3  400764869             UMass
4       518271  Blake Frohnapfel      1  400764869             UMass
...        ...               ...    ...        ...               ...
13847   549245   James DeMartini      0  400764867             Maine
13848  3940560   James DeMartini      5  400764867             Maine
13849   549245   James DeMartini      0  400764867             Maine
13850  3940560   James DeMartini     65  400764867             Maine
13851   549245   James DeMartini     65  400764867             Maine

      game.teams.categories.name game.teams.categories.types.name  season
0                        passing                            C/ATT    2015
1                        passing                              YDS    2015
2                        passing                              AVG    2015
3                        passing                               TD    2015
4                        passing                              INT    2015
...                          ...                              ...     ...
13847                    punting                               TB    2015
13848                    punting                            In 20    2015
13849                    punting                            In 20    2015
13850                    punting                             LONG    2015
13851                    punting                             LONG    2015

[13852 rows x 8 columns]
            id              name   stat    game.id game.teams.school  \
0       518271  Blake Frohnapfel  20/40  400763583             UMass
1      3125927        Ross Comis    8/8  400763583             UMass
2       518271  Blake Frohnapfel    233  400763583             UMass
3      3125927        Ross Comis     69  400763583             UMass
4       518271  Blake Frohnapfel    5.8  400763583             UMass
...        ...               ...    ...        ...               ...
11646  3140808       Gunnar Kane    128  400768337     James Madison
11647  3140808       Gunnar Kane   42.7  400768337     James Madison
11648  3140808       Gunnar Kane      0  400768337     James Madison
11649  3140808       Gunnar Kane      0  400768337     James Madison
11650  3140808       Gunnar Kane     59  400768337     James Madison

      game.teams.categories.name game.teams.categories.types.name  season
0                        passing                            C/ATT    2015
1                        passing                            C/ATT    2015
2                        passing                              YDS    2015
3                        passing                              YDS    2015
4                        passing                              AVG    2015
...                          ...                              ...     ...
11646                    punting                              YDS    2015
11647                    punting                              AVG    2015
11648                    punting                               TB    2015
11649                    punting                            In 20    2015
11650                    punting                             LONG    2015

[11651 rows x 8 columns]
           id              name   stat    game.id game.teams.school  \
0      518271  Blake Frohnapfel  32/42  400763620             UMass
1      518271  Blake Frohnapfel    363  400763620             UMass
2      518271  Blake Frohnapfel    8.6  400763620             UMass
3      518271  Blake Frohnapfel      3  400763620             UMass
4      518271  Blake Frohnapfel      0  400763620             UMass
...       ...               ...    ...        ...               ...
11142  550741      Dalton Parks    233  400764879             Tulsa
11143  550741      Dalton Parks   38.8  400764879             Tulsa
11144  550741      Dalton Parks      0  400764879             Tulsa
11145  550741      Dalton Parks      0  400764879             Tulsa
11146  550741      Dalton Parks     49  400764879             Tulsa

      game.teams.categories.name game.teams.categories.types.name  season
0                        passing                            C/ATT    2015
1                        passing                              YDS    2015
2                        passing                              AVG    2015
3                        passing                               TD    2015
4                        passing                              INT    2015
...                          ...                              ...     ...
11142                    punting                              YDS    2015
11143                    punting                              AVG    2015
11144                    punting                               TB    2015
11145                    punting                            In 20    2015
11146                    punting                             LONG    2015

[11147 rows x 8 columns]
            id              name   stat    game.id game.teams.school  \
0       518271  Blake Frohnapfel  34/56  400787321             UMass
1      3125927        Ross Comis    3/5  400787321             UMass
2       518271  Blake Frohnapfel    409  400787321             UMass
3      3125927        Ross Comis     77  400787321             UMass
4       518271  Blake Frohnapfel    7.3  400787321             UMass
...        ...               ...    ...        ...               ...
11197  3128420    Jackson Koonce    136  400764880               SMU
11198  3128420    Jackson Koonce   34.0  400764880               SMU
11199  3128420    Jackson Koonce      0  400764880               SMU
11200  3128420    Jackson Koonce      0  400764880               SMU
11201  3128420    Jackson Koonce     46  400764880               SMU

      game.teams.categories.name game.teams.categories.types.name  season
0                        passing                            C/ATT    2015
1                        passing                            C/ATT    2015
2                        passing                              YDS    2015
3                        passing                              YDS    2015
4                        passing                              AVG    2015
...                          ...                              ...     ...
11197                    punting                              YDS    2015
11198                    punting                              AVG    2015
11199                    punting                               TB    2015
11200                    punting                            In 20    2015
11201                    punting                             LONG    2015

[11202 rows x 8 columns]
            id              name   stat    game.id game.teams.school  \
0       518271  Blake Frohnapfel  17/33  400787326             UMass
1       518271  Blake Frohnapfel    171  400787326             UMass
2       518271  Blake Frohnapfel    5.2  400787326             UMass
3       518271  Blake Frohnapfel      0  400787326             UMass
4       518271  Blake Frohnapfel      1  400787326             UMass
...        ...               ...    ...        ...               ...
10969   536533   Peter Picerelli      0  400764885            Tulane
10970  3917046     Zachary Block      0  400764885            Tulane
10971   536533   Peter Picerelli      0  400764885            Tulane
10972  3917046     Zachary Block     53  400764885            Tulane
10973   536533   Peter Picerelli     40  400764885            Tulane

      game.teams.categories.name game.teams.categories.types.name  season
0                        passing                            C/ATT    2015
1                        passing                              YDS    2015
2                        passing                              AVG    2015
3                        passing                               TD    2015
4                        passing                              INT    2015
...                          ...                              ...     ...
10969                    punting                               TB    2015
10970                    punting                            In 20    2015
10971                    punting                            In 20    2015
10972                    punting                             LONG    2015
10973                    punting                             LONG    2015

[10974 rows x 8 columns]

           id              name   stat    game.id game.teams.school  \
0      518271  Blake Frohnapfel  27/49  400787338             UMass
1      518271  Blake Frohnapfel    240  400787338             UMass
2      518271  Blake Frohnapfel    4.9  400787338             UMass
3      518271  Blake Frohnapfel      4  400787338             UMass
4      518271  Blake Frohnapfel      1  400787338             UMass
...       ...               ...    ...        ...               ...
10647  550741      Dalton Parks    256  400764891             Tulsa
10648  550741      Dalton Parks   36.6  400764891             Tulsa
10649  550741      Dalton Parks      0  400764891             Tulsa
10650  550741      Dalton Parks      0  400764891             Tulsa
10651  550741      Dalton Parks     40  400764891             Tulsa

      game.teams.categories.name game.teams.categories.types.name  season
0                        passing                            C/ATT    2015
1                        passing                              YDS    2015
2                        passing                              AVG    2015
3                        passing                               TD    2015
4                        passing                              INT    2015
...                          ...                              ...     ...
10647                    punting                              YDS    2015
10648                    punting                              AVG    2015
10649                    punting                               TB    2015
10650                    punting                            In 20    2015
10651                    punting                             LONG    2015

[10652 rows x 8 columns]
            id          name   stat    game.id game.teams.school  \
0      3915468    Riley Neal  20/32  400787342        Ball State
1      3915468    Riley Neal    275  400787342        Ball State
2      3915468    Riley Neal    8.6  400787342        Ball State
3      3915468    Riley Neal      1  400787342        Ball State
4      3915468    Riley Neal      1  400787342        Ball State
...        ...           ...    ...        ...               ...
10156   550741  Dalton Parks    237  400764900             Tulsa
10157   550741  Dalton Parks   39.5  400764900             Tulsa
10158   550741  Dalton Parks      0  400764900             Tulsa
10159   550741  Dalton Parks      0  400764900             Tulsa
10160   550741  Dalton Parks     62  400764900             Tulsa

      game.teams.categories.name game.teams.categories.types.name  season
0                        passing                            C/ATT    2015
1                        passing                              YDS    2015
2                        passing                              AVG    2015
3                        passing                               TD    2015
4                        passing                              INT    2015
...                          ...                              ...     ...
10156                    punting                              YDS    2015
10157                    punting                              AVG    2015
10158                    punting                               TB    2015
10159                    punting                            In 20    2015
10160                    punting                             LONG    2015

[10161 rows x 8 columns]
           id            name   stat    game.id game.teams.school  \
0      550357  Thomas Woodson  15/27  400787348             Akron
1      550357  Thomas Woodson    174  400787348             Akron
2      550357  Thomas Woodson    6.4  400787348             Akron
3      550357  Thomas Woodson      1  400787348             Akron
4      550357  Thomas Woodson      2  400787348             Akron
...       ...             ...    ...        ...               ...
11527  551226      Alex Barta    181  400764904              Navy
11528  551226      Alex Barta   45.3  400764904              Navy
11529  551226      Alex Barta      0  400764904              Navy
11530  551226      Alex Barta      0  400764904              Navy
11531  551226      Alex Barta     50  400764904              Navy

      game.teams.categories.name game.teams.categories.types.name  season
0                        passing                            C/ATT    2015
1                        passing                              YDS    2015
2                        passing                              AVG    2015
3                        passing                               TD    2015
4                        passing                              INT    2015
...                          ...                              ...     ...
11527                    punting                              YDS    2015
11528                    punting                              AVG    2015
11529                    punting                               TB    2015
11530                    punting                            In 20    2015
11531                    punting                             LONG    2015

[11532 rows x 8 columns]
            id           name   stat    game.id game.teams.school  \
0       552782  Brogan Roback  26/42  400787354  Eastern Michigan
1      3125833      Shaq Vann    1/1  400787354  Eastern Michigan
2       552782  Brogan Roback    260  400787354  Eastern Michigan
3      3125833      Shaq Vann     -4  400787354  Eastern Michigan
4       552782  Brogan Roback    6.2  400787354  Eastern Michigan
...        ...            ...    ...        ...               ...
11433   551226     Alex Barta     24  400764909              Navy
11434   551226     Alex Barta   24.0  400764909              Navy
11435   551226     Alex Barta      0  400764909              Navy
11436   551226     Alex Barta      0  400764909              Navy
11437   551226     Alex Barta     24  400764909              Navy

      game.teams.categories.name game.teams.categories.types.name  season
0                        passing                            C/ATT    2015
1                        passing                            C/ATT    2015
2                        passing                              YDS    2015
3                        passing                              YDS    2015
4                        passing                              AVG    2015
...                          ...                              ...     ...
11433                    punting                              YDS    2015
11434                    punting                              AVG    2015
11435                    punting                               TB    2015
11436                    punting                            In 20    2015
11437                    punting                             LONG    2015

[11438 rows x 8 columns]
            id             name   stat    game.id game.teams.school  \
0      3915317       Billy Bahl  12/23  400787359        Miami (OH)
1      3915317       Billy Bahl    160  400787359        Miami (OH)
2      3915317       Billy Bahl    7.0  400787359        Miami (OH)
3      3915317       Billy Bahl      1  400787359        Miami (OH)
4      3915317       Billy Bahl      0  400787359        Miami (OH)
...        ...              ...    ...        ...               ...
11686   536533  Peter Picerelli      0  400764914            Tulane
11687  3917046    Zachary Block      0  400764914            Tulane
11688   536533  Peter Picerelli      0  400764914            Tulane
11689  3917046    Zachary Block     46  400764914            Tulane
11690   536533  Peter Picerelli     43  400764914            Tulane

      game.teams.categories.name game.teams.categories.types.name  season
0                        passing                            C/ATT    2015
1                        passing                              YDS    2015
2                        passing                              AVG    2015
3                        passing                               TD    2015
4                        passing                              INT    2015
...                          ...                              ...     ...
11686                    punting                               TB    2015
11687                    punting                            In 20    2015
11688                    punting                            In 20    2015
11689                    punting                             LONG    2015
11690                    punting                             LONG    2015

[11691 rows x 8 columns]

           id          name   stat    game.id game.teams.school  \
0      513614    Joe Licata  19/40  400787365           Buffalo
1      513614    Joe Licata    287  400787365           Buffalo
2      513614    Joe Licata    7.2  400787365           Buffalo
3      513614    Joe Licata      1  400787365           Buffalo
4      513614    Joe Licata      2  400787365           Buffalo
...       ...           ...    ...        ...               ...
11608  550741  Dalton Parks    212  400764922             Tulsa
11609  550741  Dalton Parks   42.4  400764922             Tulsa
11610  550741  Dalton Parks      0  400764922             Tulsa
11611  550741  Dalton Parks      0  400764922             Tulsa
11612  550741  Dalton Parks     55  400764922             Tulsa

      game.teams.categories.name game.teams.categories.types.name  season
0                        passing                            C/ATT    2015
1                        passing                              YDS    2015
2                        passing                              AVG    2015
3                        passing                               TD    2015
4                        passing                              INT    2015
...                          ...                              ...     ...
11608                    punting                              YDS    2015
11609                    punting                              AVG    2015
11610                    punting                               TB    2015
11611                    punting                            In 20    2015
11612                    punting                             LONG    2015

[11613 rows x 8 columns]
          id           name   stat    game.id game.teams.school  \
0     535844  C.J. Beathard  18/26  400852682              Iowa
1     535844  C.J. Beathard    216  400852682              Iowa
2     535844  C.J. Beathard    8.3  400852682              Iowa
3     535844  C.J. Beathard      1  400852682              Iowa
4     535844  C.J. Beathard      1  400852682              Iowa
...      ...            ...    ...        ...               ...
2698  513594     Tyler Tate    0/0  400852680     Bowling Green
2699  513594     Tyler Tate    0.0  400852680     Bowling Green
2700  513594     Tyler Tate      0  400852680     Bowling Green
2701  513594     Tyler Tate    4/5  400852680     Bowling Green
2702  513594     Tyler Tate      4  400852680     Bowling Green

     game.teams.categories.name game.teams.categories.types.name  season
0                       passing                            C/ATT    2015
1                       passing                              YDS    2015
2                       passing                              AVG    2015
3                       passing                               TD    2015
4                       passing                              INT    2015
...                         ...                              ...     ...
2698                    kicking                               FG    2015
2699                    kicking                              PCT    2015
2700                    kicking                             LONG    2015
2701                    kicking                               XP    2015
2702                    kicking                              PTS    2015

[2703 rows x 8 columns]
          id          name  stat    game.id game.teams.school  \
0    3916793  Chris Carter  9/15  400760500              Army
1     535647  Kelvin White   0/1  400760500              Army
2     535686  DeAndre Bell   0/1  400760500              Army
3    3916786  Luke Langdon   0/1  400760500              Army
4    3916793  Chris Carter   208  400760500              Army
..       ...           ...   ...        ...               ...
158   551226    Alex Barta   469  400760500              Navy
159   551226    Alex Barta  42.6  400760500              Navy
160   551226    Alex Barta     0  400760500              Navy
161   551226    Alex Barta     0  400760500              Navy
162   551226    Alex Barta    66  400760500              Navy

    game.teams.categories.name game.teams.categories.types.name  season
0                      passing                            C/ATT    2015
1                      passing                            C/ATT    2015
2                      passing                            C/ATT    2015
3                      passing                            C/ATT    2015
4                      passing                              YDS    2015
..                         ...                              ...     ...
158                    punting                              YDS    2015
159                    punting                              AVG    2015
160                    punting                               TB    2015
161                    punting                            In 20    2015
162                    punting                             LONG    2015

[163 rows x 8 columns]
           id            name   stat    game.id game.teams.school  \
0     3122840  Deshaun Watson  30/47  400852743           Clemson
1     3122840  Deshaun Watson    405  400852743           Clemson
2     3122840  Deshaun Watson    8.6  400852743           Clemson
3     3122840  Deshaun Watson      4  400852743           Clemson
4     3122840  Deshaun Watson      1  400852743           Clemson
...       ...             ...    ...        ...               ...
8020   535271  Cole Leininger     73  400852723        California
8021   535271  Cole Leininger   36.5  400852723        California
8022   535271  Cole Leininger      0  400852723        California
8023   535271  Cole Leininger      0  400852723        California
8024   535271  Cole Leininger     39  400852723        California

     game.teams.categories.name game.teams.categories.types.name  season
0                       passing                            C/ATT    2015
1                       passing                              YDS    2015
2                       passing                              AVG    2015
3                       passing                               TD    2015
4                       passing                              INT    2015
...                         ...                              ...     ...
8020                    punting                              YDS    2015
8021                    punting                              AVG    2015
8022                    punting                               TB    2015
8023                    punting                            In 20    2015
8024                    punting                             LONG    2015

[8025 rows x 8 columns]
            id            name   stat    game.id game.teams.school  \
0       550587   Zack Greenlee  15/27  400869348              UTEP
1      3915879  Kavika Johnson    0/1  400869348              UTEP
2       550587   Zack Greenlee    229  400869348              UTEP
3      3915879  Kavika Johnson      0  400869348              UTEP
4       550587   Zack Greenlee    8.5  400869348              UTEP
...        ...             ...    ...        ...               ...
45953  3126217     Nick Jacobs      0  400869508           Memphis
45954   556625   Spencer Smith      0  400869508           Memphis
45955  3126217     Nick Jacobs      0  400869508           Memphis
45956   556625   Spencer Smith     60  400869508           Memphis
45957  3126217     Nick Jacobs     27  400869508           Memphis

      game.teams.categories.name game.teams.categories.types.name  season
0                        passing                            C/ATT    2016
1                        passing                            C/ATT    2016
2                        passing                              YDS    2016
3                        passing                              YDS    2016
4                        passing                              AVG    2016
...                          ...                              ...     ...
45953                    punting                               TB    2016
45954                    punting                            In 20    2016
45955                    punting                            In 20    2016
45956                    punting                             LONG    2016
45957                    punting                             LONG    2016

[45958 rows x 8 columns]

            id            name   stat    game.id game.teams.school  \
0       534863  Austin Apodaca  12/23  400869186        New Mexico
1       534863  Austin Apodaca    115  400869186        New Mexico
2       534863  Austin Apodaca    5.0  400869186        New Mexico
3       534863  Austin Apodaca      0  400869186        New Mexico
4       534863  Austin Apodaca      1  400869186        New Mexico
...        ...             ...    ...        ...               ...
40793  3120063     Arthur Hart    303  400869350         Charlotte
40794  3120063     Arthur Hart   43.3  400869350         Charlotte
40795  3120063     Arthur Hart      0  400869350         Charlotte
40796  3120063     Arthur Hart      0  400869350         Charlotte
40797  3120063     Arthur Hart     61  400869350         Charlotte

      game.teams.categories.name game.teams.categories.types.name  season
0                        passing                            C/ATT    2016
1                        passing                              YDS    2016
2                        passing                              AVG    2016
3                        passing                               TD    2016
4                        passing                              INT    2016
...                          ...                              ...     ...
40793                    punting                              YDS    2016
40794                    punting                              AVG    2016
40795                    punting                               TB    2016
40796                    punting                            In 20    2016
40797                    punting                             LONG    2016

[40798 rows x 8 columns]
            id             name   stat    game.id game.teams.school  \
0      3133993  Brandon Dawkins  16/21  400869108           Arizona
1      3133993  Brandon Dawkins    235  400869108           Arizona
2      3133993  Brandon Dawkins   11.2  400869108           Arizona
3      3133993  Brandon Dawkins      1  400869108           Arizona
4      3133993  Brandon Dawkins      0  400869108           Arizona
...        ...              ...    ...        ...               ...
35060  4044165         Dane Roy    208  400869517           Houston
35061  4044165         Dane Roy   34.7  400869517           Houston
35062  4044165         Dane Roy      0  400869517           Houston
35063  4044165         Dane Roy      0  400869517           Houston
35064  4044165         Dane Roy     41  400869517           Houston

      game.teams.categories.name game.teams.categories.types.name  season
0                        passing                            C/ATT    2016
1                        passing                              YDS    2016
2                        passing                              AVG    2016
3                        passing                               TD    2016
4                        passing                              INT    2016
...                          ...                              ...     ...
35060                    punting                              YDS    2016
35061                    punting                              AVG    2016
35062                    punting                               TB    2016
35063                    punting                            In 20    2016
35064                    punting                             LONG    2016

[35065 rows x 8 columns]
            id             name   stat    game.id game.teams.school  \
0      3133993  Brandon Dawkins  19/31  400869119           Arizona
1      3133993  Brandon Dawkins    167  400869119           Arizona
2      3133993  Brandon Dawkins    5.4  400869119           Arizona
3      3133993  Brandon Dawkins      1  400869119           Arizona
4      3133993  Brandon Dawkins      1  400869119           Arizona
...        ...              ...    ...        ...               ...
30462   531128     Ryan Rodwell    312  400869446      Georgia Tech
30463   531128     Ryan Rodwell   39.0  400869446      Georgia Tech
30464   531128     Ryan Rodwell      0  400869446      Georgia Tech
30465   531128     Ryan Rodwell      0  400869446      Georgia Tech
30466   531128     Ryan Rodwell     44  400869446      Georgia Tech

      game.teams.categories.name game.teams.categories.types.name  season
0                        passing                            C/ATT    2016
1                        passing                              YDS    2016
2                        passing                              AVG    2016
3                        passing                               TD    2016
4                        passing                              INT    2016
...                          ...                              ...     ...
30462                    punting                              YDS    2016
30463                    punting                              AVG    2016
30464                    punting                               TB    2016
30465                    punting                            In 20    2016
30466                    punting                             LONG    2016

[30467 rows x 8 columns]
            id         name   stat    game.id game.teams.school  \
0      4038224    Dru Brown  15/18  400869211           Hawai'i
1      4038224    Dru Brown    222  400869211           Hawai'i
2      4038224    Dru Brown   12.3  400869211           Hawai'i
3      4038224    Dru Brown      2  400869211           Hawai'i
4      4038224    Dru Brown      0  400869211           Hawai'i
...        ...          ...    ...        ...               ...
31130  4037423  Bailey Cate     99  400869370      Old Dominion
31131  4037423  Bailey Cate   33.0  400869370      Old Dominion
31132  4037423  Bailey Cate      0  400869370      Old Dominion
31133  4037423  Bailey Cate      0  400869370      Old Dominion
31134  4037423  Bailey Cate     41  400869370      Old Dominion

      game.teams.categories.name game.teams.categories.types.name  season
0                        passing                            C/ATT    2016
1                        passing                              YDS    2016
2                        passing                              AVG    2016
3                        passing                               TD    2016
4                        passing                              INT    2016
...                          ...                              ...     ...
31130                    punting                              YDS    2016
31131                    punting                              AVG    2016
31132                    punting                               TB    2016
31133                    punting                            In 20    2016
31134                    punting                             LONG    2016

[31135 rows x 8 columns]
            id           name  stat    game.id game.teams.school  \
0      4035003    Jacob Eason  5/17  400869022           Georgia
1      4035003    Jacob Eason    29  400869022           Georgia
2      4035003    Jacob Eason   1.7  400869022           Georgia
3      4035003    Jacob Eason     1  400869022           Georgia
4      4035003    Jacob Eason     1  400869022           Georgia
...        ...            ...   ...        ...               ...
26266  3933176  Damon Foncham   120  400869822    Arkansas State
26267  3933176  Damon Foncham  40.0  400869822    Arkansas State
26268  3933176  Damon Foncham     0  400869822    Arkansas State
26269  3933176  Damon Foncham     0  400869822    Arkansas State
26270  3933176  Damon Foncham    44  400869822    Arkansas State

      game.teams.categories.name game.teams.categories.types.name  season
0                        passing                            C/ATT    2016
1                        passing                              YDS    2016
2                        passing                              AVG    2016
3                        passing                               TD    2016
4                        passing                              INT    2016
...                          ...                              ...     ...
26266                    punting                              YDS    2016
26267                    punting                              AVG    2016
26268                    punting                               TB    2016
26269                    punting                            In 20    2016
26270                    punting                             LONG    2016

[26271 rows x 8 columns]

            id            name   stat    game.id game.teams.school  \
0      3921707    Dalton Sneed  19/27  400869222              UNLV
1       551230  Kurt Palandech    0/1  400869222              UNLV
2      4036896   Allan Cui III    0/1  400869222              UNLV
3      3921707    Dalton Sneed    279  400869222              UNLV
4       551230  Kurt Palandech      0  400869222              UNLV
...        ...             ...    ...        ...               ...
26385   555462    Kaare Vedvik    104  400869383          Marshall
26386   555462    Kaare Vedvik   52.0  400869383          Marshall
26387   555462    Kaare Vedvik      0  400869383          Marshall
26388   555462    Kaare Vedvik      0  400869383          Marshall
26389   555462    Kaare Vedvik     55  400869383          Marshall

      game.teams.categories.name game.teams.categories.types.name  season
0                        passing                            C/ATT    2016
1                        passing                            C/ATT    2016
2                        passing                            C/ATT    2016
3                        passing                              YDS    2016
4                        passing                              YDS    2016
...                          ...                              ...     ...
26385                    punting                              YDS    2016
26386                    punting                              AVG    2016
26387                    punting                               TB    2016
26388                    punting                            In 20    2016
26389                    punting                             LONG    2016

[26390 rows x 8 columns]
            id           name   stat    game.id game.teams.school  \
0      3916564  Tyree Jackson  25/41  400869312           Buffalo
1      3916564  Tyree Jackson    203  400869312           Buffalo
2      3916564  Tyree Jackson    5.0  400869312           Buffalo
3      3916564  Tyree Jackson      0  400869312           Buffalo
4      3916564  Tyree Jackson      4  400869312           Buffalo
...        ...            ...    ...        ...               ...
28183   546516     Ethan Wood    115  400869229           Wyoming
28184   546516     Ethan Wood   38.3  400869229           Wyoming
28185   546516     Ethan Wood      0  400869229           Wyoming
28186   546516     Ethan Wood      0  400869229           Wyoming
28187   546516     Ethan Wood     44  400869229           Wyoming

      game.teams.categories.name game.teams.categories.types.name  season
0                        passing                            C/ATT    2016
1                        passing                              YDS    2016
2                        passing                              AVG    2016
3                        passing                               TD    2016
4                        passing                              INT    2016
...                          ...                              ...     ...
28183                    punting                              YDS    2016
28184                    punting                              AVG    2016
28185                    punting                               TB    2016
28186                    punting                            In 20    2016
28187                    punting                             LONG    2016

[28188 rows x 8 columns]
            id          name   stat    game.id game.teams.school  \
0      3124981  Tyler Rogers  19/34  400869040  New Mexico State
1      3124971   Nick Jeanty    2/4  400869040  New Mexico State
2      3124981  Tyler Rogers    138  400869040  New Mexico State
3      3124971   Nick Jeanty      9  400869040  New Mexico State
4      3124981  Tyler Rogers    4.1  400869040  New Mexico State
...        ...           ...    ...        ...               ...
27089   548574  Bryan Rafano    172  400868965            Wagner
27090   548574  Bryan Rafano   34.4  400868965            Wagner
27091   548574  Bryan Rafano      0  400868965            Wagner
27092   548574  Bryan Rafano      0  400868965            Wagner
27093   548574  Bryan Rafano     43  400868965            Wagner

      game.teams.categories.name game.teams.categories.types.name  season
0                        passing                            C/ATT    2016
1                        passing                            C/ATT    2016
2                        passing                              YDS    2016
3                        passing                              YDS    2016
4                        passing                              AVG    2016
...                          ...                              ...     ...
27089                    punting                              YDS    2016
27090                    punting                              AVG    2016
27091                    punting                               TB    2016
27092                    punting                            In 20    2016
27093                    punting                             LONG    2016

[27094 rows x 8 columns]
            id             name   stat    game.id game.teams.school  \
0       553235     Matt Linehan  20/30  400869840             Idaho
1       553235     Matt Linehan    227  400869840             Idaho
2       553235     Matt Linehan    7.6  400869840             Idaho
3       553235     Matt Linehan      0  400869840             Idaho
4       553235     Matt Linehan      0  400869840             Idaho
...        ...              ...    ...        ...               ...
30772  4046731  Jamie Sackville    388  400869556               SMU
30773  4046731  Jamie Sackville   43.1  400869556               SMU
30774  4046731  Jamie Sackville      0  400869556               SMU
30775  4046731  Jamie Sackville      0  400869556               SMU
30776  4046731  Jamie Sackville     58  400869556               SMU

      game.teams.categories.name game.teams.categories.types.name  season
0                        passing                            C/ATT    2016
1                        passing                              YDS    2016
2                        passing                              AVG    2016
3                        passing                               TD    2016
4                        passing                              INT    2016
...                          ...                              ...     ...
30772                    punting                              YDS    2016
30773                    punting                              AVG    2016
30774                    punting                               TB    2016
30775                    punting                            In 20    2016
30776                    punting                             LONG    2016

[30777 rows x 8 columns]
            id                  name   stat    game.id game.teams.school  \
0      3116379        Justice Hansen  20/27  400869843    Arkansas State
1       545514  Cameron Echols-Luper    1/1  400869843    Arkansas State
2       530450           Chad Voytik    1/1  400869843    Arkansas State
3      3116379        Justice Hansen    257  400869843    Arkansas State
4       545514  Cameron Echols-Luper     35  400869843    Arkansas State
...        ...                   ...    ...        ...               ...
29789   551226            Alex Barta     33  400869561              Navy
29790   551226            Alex Barta   33.0  400869561              Navy
29791   551226            Alex Barta      0  400869561              Navy
29792   551226            Alex Barta      0  400869561              Navy
29793   551226            Alex Barta     33  400869561              Navy

      game.teams.categories.name game.teams.categories.types.name  season
0                        passing                            C/ATT    2016
1                        passing                            C/ATT    2016
2                        passing                            C/ATT    2016
3                        passing                              YDS    2016
4                        passing                              YDS    2016
...                          ...                              ...     ...
29789                    punting                              YDS    2016
29790                    punting                              AVG    2016
29791                    punting                               TB    2016
29792                    punting                            In 20    2016
29793                    punting                             LONG    2016

[29794 rows x 8 columns]

            id           name   stat    game.id game.teams.school  \
0       548240    Tyler Jones  13/22  400869850       Texas State
1       546197   Eddie Printz    4/8  400869850       Texas State
2      3125432   Connor White    1/4  400869850       Texas State
3       548240    Tyler Jones     97  400869850       Texas State
4       546197   Eddie Printz     86  400869850       Texas State
...        ...            ...    ...        ...               ...
31996   537674  Caleb Houston    389  400869564               UCF
31997   537674  Caleb Houston   43.2  400869564               UCF
31998   537674  Caleb Houston      0  400869564               UCF
31999   537674  Caleb Houston      0  400869564               UCF
32000   537674  Caleb Houston     49  400869564               UCF

      game.teams.categories.name game.teams.categories.types.name  season
0                        passing                            C/ATT    2016
1                        passing                            C/ATT    2016
2                        passing                            C/ATT    2016
3                        passing                              YDS    2016
4                        passing                              YDS    2016
...                          ...                              ...     ...
31996                    punting                              YDS    2016
31997                    punting                              AVG    2016
31998                    punting                               TB    2016
31999                    punting                            In 20    2016
32000                    punting                             LONG    2016

[32001 rows x 8 columns]
            id              name  stat    game.id  game.teams.school  \
0       548437  Bentlee Critcher     0  400869851  Appalachian State
1       548437  Bentlee Critcher     1  400869851  Appalachian State
2       548437  Bentlee Critcher    53  400869851  Appalachian State
3       548437  Bentlee Critcher  53.0  400869851  Appalachian State
4       548437  Bentlee Critcher     0  400869851  Appalachian State
...        ...               ...   ...        ...                ...
29811  3916285  Bennett Moehring   0/0  400869572               Navy
29812  3916285  Bennett Moehring   0.0  400869572               Navy
29813  3916285  Bennett Moehring     0  400869572               Navy
29814  3916285  Bennett Moehring  9/11  400869572               Navy
29815  3916285  Bennett Moehring     9  400869572               Navy

      game.teams.categories.name game.teams.categories.types.name  season
0                        punting                               TB    2016
1                        punting                               NO    2016
2                        punting                              YDS    2016
3                        punting                              AVG    2016
4                        punting                            In 20    2016
...                          ...                              ...     ...
29811                    kicking                               FG    2016
29812                    kicking                              PCT    2016
29813                    kicking                             LONG    2016
29814                    kicking                               XP    2016
29815                    kicking                              PTS    2016

[29816 rows x 8 columns]
          id           name   stat    game.id game.teams.school  \
0     534813   Bart Houston  16/21  400926946         Wisconsin
1     534813   Bart Houston    174  400926946         Wisconsin
2     534813   Bart Houston    8.3  400926946         Wisconsin
3     534813   Bart Houston      0  400926946         Wisconsin
4     534813   Bart Houston      0  400926946         Wisconsin
...      ...            ...    ...        ...               ...
7592  535565  James Coleman    143  400926941  Western Michigan
7593  535565  James Coleman   35.8  400926941  Western Michigan
7594  535565  James Coleman      0  400926941  Western Michigan
7595  535565  James Coleman      0  400926941  Western Michigan
7596  535565  James Coleman     43  400926941  Western Michigan

     game.teams.categories.name game.teams.categories.types.name  season
0                       passing                            C/ATT    2016
1                       passing                              YDS    2016
2                       passing                              AVG    2016
3                       passing                               TD    2016
4                       passing                              INT    2016
...                         ...                              ...     ...
7592                    punting                              YDS    2016
7593                    punting                              AVG    2016
7594                    punting                               TB    2016
7595                    punting                            In 20    2016
7596                    punting                             LONG    2016

[7597 rows x 8 columns]
          id       name  stat    game.id game.teams.school  \
0    3916251  Zach Abey  6/10  400868921              Navy
1    3916251  Zach Abey    89  400868921              Navy
2    3916251  Zach Abey   8.9  400868921              Navy
3    3916251  Zach Abey     0  400868921              Navy
4    3916251  Zach Abey     2  400868921              Navy
..       ...        ...   ...        ...               ...
402  3916866  J.D. Mote    55  400868921              Army
403  3916866  J.D. Mote  27.5  400868921              Army
404  3916866  J.D. Mote     0  400868921              Army
405  3916866  J.D. Mote     0  400868921              Army
406  3916866  J.D. Mote    30  400868921              Army

    game.teams.categories.name game.teams.categories.types.name  season
0                      passing                            C/ATT    2016
1                      passing                              YDS    2016
2                      passing                              AVG    2016
3                      passing                               TD    2016
4                      passing                              INT    2016
..                         ...                              ...     ...
402                    punting                              YDS    2016
403                    punting                              AVG    2016
404                    punting                               TB    2016
405                    punting                            In 20    2016
406                    punting                             LONG    2016

[407 rows x 8 columns]
            id              name   stat    game.id game.teams.school  \
0      4040715       Jalen Hurts  13/31  400876570           Alabama
1       551307  ArDarius Stewart    1/1  400876570           Alabama
2      4040715       Jalen Hurts    131  400876570           Alabama
3       551307  ArDarius Stewart     24  400876570           Alabama
4      4040715       Jalen Hurts    4.2  400876570           Alabama
...        ...               ...    ...        ...               ...
19696  3124050    Yannis Routsas     92  400876038    UT San Antonio
19697  3124050    Yannis Routsas   46.0  400876038    UT San Antonio
19698  3124050    Yannis Routsas      0  400876038    UT San Antonio
19699  3124050    Yannis Routsas      0  400876038    UT San Antonio
19700  3124050    Yannis Routsas     49  400876038    UT San Antonio

      game.teams.categories.name game.teams.categories.types.name  season
0                        passing                            C/ATT    2016
1                        passing                            C/ATT    2016
2                        passing                              YDS    2016
3                        passing                              YDS    2016
4                        passing                              AVG    2016
...                          ...                              ...     ...
19696                    punting                              YDS    2016
19697                    punting                              AVG    2016
19698                    punting                               TB    2016
19699                    punting                            In 20    2016
19700                    punting                             LONG    2016

[19701 rows x 8 columns]

            id           name   stat    game.id game.teams.school  \
0      3128814  Manny Wilkins  22/27  400935247     Arizona State
1      3858944  Blake Barnett    2/3  400935247     Arizona State
2      3128814  Manny Wilkins    300  400935247     Arizona State
3      3858944  Blake Barnett     21  400935247     Arizona State
4      3128814  Manny Wilkins   11.1  400935247     Arizona State
...        ...            ...    ...        ...               ...
48780  4239781     Joel Dixon    263  400938597               UAB
48781  4239781     Joel Dixon   43.8  400938597               UAB
48782  4239781     Joel Dixon      0  400938597               UAB
48783  4239781     Joel Dixon      0  400938597               UAB
48784  4239781     Joel Dixon     55  400938597               UAB

      game.teams.categories.name game.teams.categories.types.name  season
0                        passing                            C/ATT    2017
1                        passing                            C/ATT    2017
2                        passing                              YDS    2017
3                        passing                              YDS    2017
4                        passing                              AVG    2017
...                          ...                              ...     ...
48780                    punting                              YDS    2017
48781                    punting                              AVG    2017
48782                    punting                               TB    2017
48783                    punting                            In 20    2017
48784                    punting                             LONG    2017

[48785 rows x 8 columns]
            id           name   stat    game.id game.teams.school  \
0      4039390  Tevaka Tuioti  10/19  400944834        New Mexico
1       551028   Lamar Jordan  10/19  400944834        New Mexico
2      4039390  Tevaka Tuioti    151  400944834        New Mexico
3       551028   Lamar Jordan    103  400944834        New Mexico
4      4039390  Tevaka Tuioti    7.9  400944834        New Mexico
...        ...            ...    ...        ...               ...
36240  4039465     Owen White    203  400941794              Navy
36241  4039465     Owen White   40.6  400941794              Navy
36242  4039465     Owen White      0  400941794              Navy
36243  4039465     Owen White      0  400941794              Navy
36244  4039465     Owen White     45  400941794              Navy

      game.teams.categories.name game.teams.categories.types.name  season
0                        passing                            C/ATT    2017
1                        passing                            C/ATT    2017
2                        passing                              YDS    2017
3                        passing                              YDS    2017
4                        passing                              AVG    2017
...                          ...                              ...     ...
36240                    punting                              YDS    2017
36241                    punting                              AVG    2017
36242                    punting                               TB    2017
36243                    punting                            In 20    2017
36244                    punting                             LONG    2017

[36245 rows x 8 columns]
            id               name   stat    game.id game.teams.school  \
0      3124981       Tyler Rogers  32/45  400944837  New Mexico State
1      3124981       Tyler Rogers    331  400944837  New Mexico State
2      3124981       Tyler Rogers    7.4  400944837  New Mexico State
3      3124981       Tyler Rogers      3  400944837  New Mexico State
4      3124981       Tyler Rogers      0  400944837  New Mexico State
...        ...                ...    ...        ...               ...
34286  4259732  Derambez Drinkard     35  400938612  Coastal Carolina
34287  4259732  Derambez Drinkard   35.0  400938612  Coastal Carolina
34288  4259732  Derambez Drinkard      0  400938612  Coastal Carolina
34289  4259732  Derambez Drinkard      0  400938612  Coastal Carolina
34290  4259732  Derambez Drinkard     35  400938612  Coastal Carolina

      game.teams.categories.name game.teams.categories.types.name  season
0                        passing                            C/ATT    2017
1                        passing                              YDS    2017
2                        passing                              AVG    2017
3                        passing                               TD    2017
4                        passing                              INT    2017
...                          ...                              ...     ...
34286                    punting                              YDS    2017
34287                    punting                              AVG    2017
34288                    punting                               TB    2017
34289                    punting                            In 20    2017
34290                    punting                             LONG    2017

[34291 rows x 8 columns]
            id          name   stat    game.id game.teams.school  \
0      3124981  Tyler Rogers  26/43  400938619  New Mexico State
1      3124981  Tyler Rogers    283  400938619  New Mexico State
2      3124981  Tyler Rogers    6.6  400938619  New Mexico State
3      3124981  Tyler Rogers      2  400938619  New Mexico State
4      3124981  Tyler Rogers      1  400938619  New Mexico State
...        ...           ...    ...        ...               ...
29882  4050929  Adam Fellner    150  400944843  Western Illinois
29883  4050929  Adam Fellner   50.0  400944843  Western Illinois
29884  4050929  Adam Fellner      0  400944843  Western Illinois
29885  4050929  Adam Fellner      0  400944843  Western Illinois
29886  4050929  Adam Fellner     53  400944843  Western Illinois

      game.teams.categories.name game.teams.categories.types.name  season
0                        passing                            C/ATT    2017
1                        passing                              YDS    2017
2                        passing                              AVG    2017
3                        passing                               TD    2017
4                        passing                              INT    2017
...                          ...                              ...     ...
29882                    punting                              YDS    2017
29883                    punting                              AVG    2017
29884                    punting                               TB    2017
29885                    punting                            In 20    2017
29886                    punting                             LONG    2017

[29887 rows x 8 columns]
            id            name   stat    game.id game.teams.school  \
0      3124981    Tyler Rogers  23/38  400933873  New Mexico State
1      3124981    Tyler Rogers    344  400933873  New Mexico State
2      3124981    Tyler Rogers    9.1  400933873  New Mexico State
3      3124981    Tyler Rogers      2  400933873  New Mexico State
4      3124981    Tyler Rogers      1  400933873  New Mexico State
...        ...             ...    ...        ...               ...
27562  3928919  Thomas Bennett    251  400941813             Tulsa
27563  3928919  Thomas Bennett   41.8  400941813             Tulsa
27564  3928919  Thomas Bennett      0  400941813             Tulsa
27565  3928919  Thomas Bennett      0  400941813             Tulsa
27566  3928919  Thomas Bennett     48  400941813             Tulsa

      game.teams.categories.name game.teams.categories.types.name  season
0                        passing                            C/ATT    2017
1                        passing                              YDS    2017
2                        passing                              AVG    2017
3                        passing                               TD    2017
4                        passing                              INT    2017
...                          ...                              ...     ...
27562                    punting                              YDS    2017
27563                    punting                              AVG    2017
27564                    punting                               TB    2017
27565                    punting                            In 20    2017
27566                    punting                             LONG    2017

[27567 rows x 8 columns]

            id           name   stat    game.id game.teams.school  \
0      3124981   Tyler Rogers  27/50  400944850  New Mexico State
1      3124981   Tyler Rogers    356  400944850  New Mexico State
2      3124981   Tyler Rogers    7.1  400944850  New Mexico State
3      3124981   Tyler Rogers      2  400944850  New Mexico State
4      3124981   Tyler Rogers      6  400944850  New Mexico State
...        ...            ...    ...        ...               ...
28817  3917046  Zachary Block     93  400941819            Tulane
28818  3917046  Zachary Block   31.0  400941819            Tulane
28819  3917046  Zachary Block      0  400941819            Tulane
28820  3917046  Zachary Block      0  400941819            Tulane
28821  3917046  Zachary Block     47  400941819            Tulane

      game.teams.categories.name game.teams.categories.types.name  season
0                        passing                            C/ATT    2017
1                        passing                              YDS    2017
2                        passing                              AVG    2017
3                        passing                               TD    2017
4                        passing                              INT    2017
...                          ...                              ...     ...
28817                    punting                              YDS    2017
28818                    punting                              AVG    2017
28819                    punting                               TB    2017
28820                    punting                            In 20    2017
28821                    punting                             LONG    2017

[28822 rows x 8 columns]
            id           name   stat    game.id game.teams.school  \
0      3124981   Tyler Rogers  31/51  400944855  New Mexico State
1      3068222  Conner Cramer    1/1  400944855  New Mexico State
2        -6872           Team    0/1  400944855  New Mexico State
3      3124981   Tyler Rogers    382  400944855  New Mexico State
4      3068222  Conner Cramer     17  400944855  New Mexico State
...        ...            ...    ...        ...               ...
29083  3126217    Nick Jacobs     78  400941823           Memphis
29084  3126217    Nick Jacobs   39.0  400941823           Memphis
29085  3126217    Nick Jacobs      0  400941823           Memphis
29086  3126217    Nick Jacobs      0  400941823           Memphis
29087  3126217    Nick Jacobs     44  400941823           Memphis

      game.teams.categories.name game.teams.categories.types.name  season
0                        passing                            C/ATT    2017
1                        passing                            C/ATT    2017
2                        passing                            C/ATT    2017
3                        passing                              YDS    2017
4                        passing                              YDS    2017
...                          ...                              ...     ...
29083                    punting                              YDS    2017
29084                    punting                              AVG    2017
29085                    punting                               TB    2017
29086                    punting                            In 20    2017
29087                    punting                             LONG    2017

[29088 rows x 8 columns]
            id           name   stat    game.id game.teams.school  \
0       553235   Matt Linehan  19/32  400933897             Idaho
1      4048933  Mason Petrino    3/4  400933897             Idaho
2       553235   Matt Linehan    139  400933897             Idaho
3      4048933  Mason Petrino     58  400933897             Idaho
4       553235   Matt Linehan    4.3  400933897             Idaho
...        ...            ...    ...        ...               ...
27835   545682    A.J. Erdely      0  400938638               UAB
27836  4239781     Joel Dixon      0  400938638               UAB
27837   545682    A.J. Erdely      0  400938638               UAB
27838  4239781     Joel Dixon     50  400938638               UAB
27839   545682    A.J. Erdely      8  400938638               UAB

      game.teams.categories.name game.teams.categories.types.name  season
0                        passing                            C/ATT    2017
1                        passing                            C/ATT    2017
2                        passing                              YDS    2017
3                        passing                              YDS    2017
4                        passing                              AVG    2017
...                          ...                              ...     ...
27835                    punting                               TB    2017
27836                    punting                            In 20    2017
27837                    punting                            In 20    2017
27838                    punting                             LONG    2017
27839                    punting                             LONG    2017

[27840 rows x 8 columns]
            id             name   stat    game.id game.teams.school  \
0      3124981     Tyler Rogers  20/40  400944862  New Mexico State
1      3124981     Tyler Rogers    221  400944862  New Mexico State
2      3124981     Tyler Rogers    5.5  400944862  New Mexico State
3      3124981     Tyler Rogers      1  400944862  New Mexico State
4      3124981     Tyler Rogers      2  400944862  New Mexico State
...        ...              ...    ...        ...               ...
27891  4046731  Jamie Sackville    209  400941831               SMU
27892  4046731  Jamie Sackville   41.8  400941831               SMU
27893  4046731  Jamie Sackville      0  400941831               SMU
27894  4046731  Jamie Sackville      0  400941831               SMU
27895  4046731  Jamie Sackville     46  400941831               SMU

      game.teams.categories.name game.teams.categories.types.name  season
0                        passing                            C/ATT    2017
1                        passing                              YDS    2017
2                        passing                              AVG    2017
3                        passing                               TD    2017
4                        passing                              INT    2017
...                          ...                              ...     ...
27891                    punting                              YDS    2017
27892                    punting                              AVG    2017
27893                    punting                               TB    2017
27894                    punting                            In 20    2017
27895                    punting                             LONG    2017

[27896 rows x 8 columns]
            id              name stat    game.id game.teams.school  \
0      4040546       Hutch White    1  400944870       Texas State
1       546603   Damian Williams    2  400944870       Texas State
2      4241666     Jaylin Nelson    1  400944870       Texas State
3      3128616     James Sherman    0  400944870       Texas State
4      4241669  Willie Jones III    0  400944870       Texas State
...        ...               ...  ...        ...               ...
28523   556625     Spencer Smith    0  400941835           Memphis
28524  3126217       Nick Jacobs    1  400941835           Memphis
28525   556625     Spencer Smith    1  400941835           Memphis
28526  3126217       Nick Jacobs   44  400941835           Memphis
28527   556625     Spencer Smith   47  400941835           Memphis

      game.teams.categories.name game.teams.categories.types.name  season
0                        passing                               TD    2017
1                        passing                               TD    2017
2                        passing                               TD    2017
3                        passing                               TD    2017
4                        passing                               TD    2017
...                          ...                              ...     ...
28523                    punting                               TB    2017
28524                    punting                            In 20    2017
28525                    punting                            In 20    2017
28526                    punting                             LONG    2017
28527                    punting                             LONG    2017

[28528 rows x 8 columns]

            id           name   stat    game.id game.teams.school  \
0      3123047   Malik Rosier  15/24  400934581             Miami
1      3123047   Malik Rosier    137  400934581             Miami
2      3123047   Malik Rosier    5.7  400934581             Miami
3      3123047   Malik Rosier      1  400934581             Miami
4      3123047   Malik Rosier      0  400934581             Miami
...        ...            ...    ...        ...               ...
27386   552833  Logan Laurent    252  400938894             UMass
27387   552833  Logan Laurent   42.0  400938894             UMass
27388   552833  Logan Laurent      0  400938894             UMass
27389   552833  Logan Laurent      0  400938894             UMass
27390   552833  Logan Laurent     53  400938894             UMass

      game.teams.categories.name game.teams.categories.types.name  season
0                        passing                            C/ATT    2017
1                        passing                              YDS    2017
2                        passing                              AVG    2017
3                        passing                               TD    2017
4                        passing                              INT    2017
...                          ...                              ...     ...
27386                    punting                              YDS    2017
27387                    punting                              AVG    2017
27388                    punting                               TB    2017
27389                    punting                            In 20    2017
27390                    punting                             LONG    2017

[27391 rows x 8 columns]
            id           name   stat    game.id game.teams.school  \
0      3124912   Jordan Davis  20/34  400944878         Louisiana
1       552219     Sam Geraci    1/1  400944878         Louisiana
2      3124912   Jordan Davis    219  400944878         Louisiana
3       552219     Sam Geraci      7  400944878         Louisiana
4      3124912   Jordan Davis    6.4  400944878         Louisiana
...        ...            ...    ...        ...               ...
31780  3126217    Nick Jacobs      0  400941847           Memphis
31781   556625  Spencer Smith      0  400941847           Memphis
31782  3126217    Nick Jacobs      0  400941847           Memphis
31783   556625  Spencer Smith     53  400941847           Memphis
31784  3126217    Nick Jacobs     49  400941847           Memphis

      game.teams.categories.name game.teams.categories.types.name  season
0                        passing                            C/ATT    2017
1                        passing                            C/ATT    2017
2                        passing                              YDS    2017
3                        passing                              YDS    2017
4                        passing                              AVG    2017
...                          ...                              ...     ...
31780                    punting                               TB    2017
31781                    punting                            In 20    2017
31782                    punting                            In 20    2017
31783                    punting                             LONG    2017
31784                    punting                             LONG    2017

[31785 rows x 8 columns]
            id               name   stat    game.id game.teams.school  \
0      4245281  Colton Richardson  18/33  400944882             Idaho
1      4048933      Mason Petrino    1/2  400944882             Idaho
2      4245281  Colton Richardson    167  400944882             Idaho
3      4048933      Mason Petrino      7  400944882             Idaho
4      4245281  Colton Richardson    5.1  400944882             Idaho
...        ...                ...    ...        ...               ...
30426  3917046      Zachary Block     77  400941854            Tulane
30427  3917046      Zachary Block   38.5  400941854            Tulane
30428  3917046      Zachary Block      0  400941854            Tulane
30429  3917046      Zachary Block      0  400941854            Tulane
30430  3917046      Zachary Block     53  400941854            Tulane

      game.teams.categories.name game.teams.categories.types.name  season
0                        passing                            C/ATT    2017
1                        passing                            C/ATT    2017
2                        passing                              YDS    2017
3                        passing                              YDS    2017
4                        passing                              AVG    2017
...                          ...                              ...     ...
30426                    punting                              YDS    2017
30427                    punting                              AVG    2017
30428                    punting                               TB    2017
30429                    punting                            In 20    2017
30430                    punting                             LONG    2017

[30431 rows x 8 columns]
           id            name   stat    game.id game.teams.school  \
0     3728240    Kelly Bryant  23/29  400955155           Clemson
1     4035460  Zerrick Cooper    1/2  400955155           Clemson
2     4239998  Hunter Johnson    1/3  400955155           Clemson
3     3728240    Kelly Bryant    252  400955155           Clemson
4     4035460  Zerrick Cooper      6  400955155           Clemson
...       ...             ...    ...        ...               ...
8261  4039930   Tyler Sumpter    308  400944885              Troy
8262  4039930   Tyler Sumpter   34.2  400944885              Troy
8263  4039930   Tyler Sumpter      0  400944885              Troy
8264  4039930   Tyler Sumpter      0  400944885              Troy
8265  4039930   Tyler Sumpter     42  400944885              Troy

     game.teams.categories.name game.teams.categories.types.name  season
0                       passing                            C/ATT    2017
1                       passing                            C/ATT    2017
2                       passing                            C/ATT    2017
3                       passing                              YDS    2017
4                       passing                              YDS    2017
...                         ...                              ...     ...
8261                    punting                              YDS    2017
8262                    punting                              AVG    2017
8263                    punting                               TB    2017
8264                    punting                            In 20    2017
8265                    punting                             LONG    2017

[8266 rows x 8 columns]
          id            name  stat    game.id game.teams.school  \
0    3129089  Ahmad Bradshaw   1/1  400934572              Army
1    3129089  Ahmad Bradshaw    20  400934572              Army
2    3129089  Ahmad Bradshaw  20.0  400934572              Army
3    3129089  Ahmad Bradshaw     0  400934572              Army
4    3129089  Ahmad Bradshaw     0  400934572              Army
..       ...             ...   ...        ...               ...
342  4039465      Owen White   111  400934572              Navy
343  4039465      Owen White  37.0  400934572              Navy
344  4039465      Owen White     0  400934572              Navy
345  4039465      Owen White     0  400934572              Navy
346  4039465      Owen White    45  400934572              Navy

    game.teams.categories.name game.teams.categories.types.name  season
0                      passing                            C/ATT    2017
1                      passing                              YDS    2017
2                      passing                              AVG    2017
3                      passing                               TD    2017
4                      passing                              INT    2017
..                         ...                              ...     ...
342                    punting                              YDS    2017
343                    punting                              AVG    2017
344                    punting                               TB    2017
345                    punting                            In 20    2017
346                    punting                             LONG    2017

[347 rows x 8 columns]

            id              name   stat    game.id game.teams.school  \
0      4038941    Justin Herbert  26/36  400953323            Oregon
1      4038941    Justin Herbert    233  400953323            Oregon
2      4038941    Justin Herbert    6.5  400953323            Oregon
3      4038941    Justin Herbert      2  400953323            Oregon
4      4038941    Justin Herbert      2  400953323            Oregon
...        ...               ...    ...        ...               ...
19655   546345      Brice Ramsey      0  400953415           Georgia
19656   555930  Cameron Nizialek      0  400953415           Georgia
19657   546345      Brice Ramsey      0  400953415           Georgia
19658   555930  Cameron Nizialek     51  400953415           Georgia
19659   546345      Brice Ramsey     19  400953415           Georgia

      game.teams.categories.name game.teams.categories.types.name  season
0                        passing                            C/ATT    2017
1                        passing                              YDS    2017
2                        passing                              AVG    2017
3                        passing                               TD    2017
4                        passing                              INT    2017
...                          ...                              ...     ...
19655                    punting                               TB    2017
19656                    punting                            In 20    2017
19657                    punting                            In 20    2017
19658                    punting                             LONG    2017
19659                    punting                             LONG    2017

[19660 rows x 8 columns]
            id                name   stat    game.id game.teams.school  \
0      4035292      Shea Patterson  20/30  401012888          Michigan
1      4258191     Dylan McCaffrey    4/6  401012888          Michigan
2      4035292      Shea Patterson    227  401012888          Michigan
3      4258191     Dylan McCaffrey     22  401012888          Michigan
4      4035292      Shea Patterson    7.6  401012888          Michigan
...        ...                 ...    ...        ...               ...
47742  4262273  Quindarius Thagard      0  401014979               UAB
47743  4363438    Antonio Moultrie      0  401014979               UAB
47744  4384396    Antonio Moultrie      0  401014979               UAB
47745  4262182          Will Boler      0  401014979               UAB
47746  4363418         Jalen Rayam      0  401014979               UAB

      game.teams.categories.name game.teams.categories.types.name  season
0                        passing                            C/ATT    2018
1                        passing                            C/ATT    2018
2                        passing                              YDS    2018
3                        passing                              YDS    2018
4                        passing                              AVG    2018
...                          ...                              ...     ...
47742                  defensive                               TD    2018
47743                  defensive                               TD    2018
47744                  defensive                               TD    2018
47745                  defensive                               TD    2018
47746                  defensive                               TD    2018

[47747 rows x 8 columns]
            id              name   stat    game.id game.teams.school  \
0      3915468        Riley Neal  23/50  401013377        Ball State
1      3915468        Riley Neal    180  401013377        Ball State
2      3915468        Riley Neal    3.6  401013377        Ball State
3      3915468        Riley Neal      1  401013377        Ball State
4      3915468        Riley Neal      2  401013377        Ball State
...        ...               ...    ...        ...               ...
41327  4239823    Clay Templeton      0  401014990               UAB
41328  4239827     Dyjonn Turner      0  401014990               UAB
41329  3116647       Duke Culver      0  401014990               UAB
41330  4239792   Thomas Johnston      0  401014990               UAB
41331  4239835  Zachary Williams      0  401014990               UAB

      game.teams.categories.name game.teams.categories.types.name  season
0                        passing                            C/ATT    2018
1                        passing                              YDS    2018
2                        passing                              AVG    2018
3                        passing                               TD    2018
4                        passing                              INT    2018
...                          ...                              ...     ...
41327                  defensive                               TD    2018
41328                  defensive                               TD    2018
41329                  defensive                               TD    2018
41330                  defensive                               TD    2018
41331                  defensive                               TD    2018

[41332 rows x 8 columns]
            id               name   stat    game.id game.teams.school  \
0      4039602        Khalil Tate  13/20  401012737           Arizona
1      4245679    Rhett Rodriguez    2/2  401012737           Arizona
2      4039602        Khalil Tate    349  401012737           Arizona
3      4245679    Rhett Rodriguez      9  401012737           Arizona
4      4039602        Khalil Tate   17.5  401012737           Arizona
...        ...                ...    ...        ...               ...
35020  4241984     Jeffrey Okudah      0  401013074        Ohio State
35021  4241993        Pete Werner      0  401013074        Ohio State
35022  4241994  Marcus Williamson      0  401013074        Ohio State
35023  3121408       Dante Booker      0  401013074        Ohio State
35024  4242005    Haskell Garrett      0  401013074        Ohio State

      game.teams.categories.name game.teams.categories.types.name  season
0                        passing                            C/ATT    2018
1                        passing                            C/ATT    2018
2                        passing                              YDS    2018
3                        passing                              YDS    2018
4                        passing                              AVG    2018
...                          ...                              ...     ...
35020                  defensive                               TD    2018
35021                  defensive                               TD    2018
35022                  defensive                               TD    2018
35023                  defensive                               TD    2018
35024                  defensive                               TD    2018

[35025 rows x 8 columns]
            id             name   stat    game.id game.teams.school  \
0      3919110      Daniel Parr  13/24  401022524          Duquesne
1      3910966  Brett Brumbaugh    1/2  401022524          Duquesne
2      3919110      Daniel Parr    113  401022524          Duquesne
3      3910966  Brett Brumbaugh     29  401022524          Duquesne
4      3919110      Daniel Parr    4.7  401022524          Duquesne
...        ...              ...    ...        ...               ...
31409  4244598    Keylon Stokes      0  401019489             Tulsa
31410  4362381      Cullen Wick      0  401019489             Tulsa
31411  4372371    Justin Wright      0  401019489             Tulsa
31412  4372377     Jaxon Player      0  401019489             Tulsa
31413  3917017     Chris Minter      0  401019489             Tulsa

      game.teams.categories.name game.teams.categories.types.name  season
0                        passing                            C/ATT    2018
1                        passing                            C/ATT    2018
2                        passing                              YDS    2018
3                        passing                              YDS    2018
4                        passing                              AVG    2018
...                          ...                              ...     ...
31409                  defensive                               TD    2018
31410                  defensive                               TD    2018
31411                  defensive                               TD    2018
31412                  defensive                               TD    2018
31413                  defensive                               TD    2018

[31414 rows x 8 columns]

            id            name   stat    game.id game.teams.school  \
0      4038941  Justin Herbert  16/22  401012757            Oregon
1      4038941  Justin Herbert    225  401012757            Oregon
2      4038941  Justin Herbert   10.2  401012757            Oregon
3      4038941  Justin Herbert      2  401012757            Oregon
4      4038941  Justin Herbert      0  401012757            Oregon
...        ...             ...    ...        ...               ...
28622  4240665  Antwuan Branch      0  401013466    North Carolina
28623  3895834    Jalen Dalton      0  401013466    North Carolina
28624  4037515       Greg Ross      0  401013466    North Carolina
28625  4037526   Tyrone Hopper      0  401013466    North Carolina
28626  4253121  Jonathan Smith      0  401013466    North Carolina

      game.teams.categories.name game.teams.categories.types.name  season
0                        passing                            C/ATT    2018
1                        passing                              YDS    2018
2                        passing                              AVG    2018
3                        passing                               TD    2018
4                        passing                              INT    2018
...                          ...                              ...     ...
28622                  defensive                               TD    2018
28623                  defensive                               TD    2018
28624                  defensive                               TD    2018
28625                  defensive                               TD    2018
28626                  defensive                               TD    2018

[28627 rows x 8 columns]
            id              name   stat    game.id game.teams.school  \
0      4373934   Chevan Cordeiro  19/29  401022531           Hawai'i
1      4373934   Chevan Cordeiro    148  401022531           Hawai'i
2      4373934   Chevan Cordeiro    5.1  401022531           Hawai'i
3      4373934   Chevan Cordeiro      2  401022531           Hawai'i
4      4373934   Chevan Cordeiro      1  401022531           Hawai'i
...        ...               ...    ...        ...               ...
27963  3917547  Kyndall Phillips      0  401021669     Georgia State
27964  4036543      Terry Thomas      0  401021669     Georgia State
27965  3945856     Khai Anderson      0  401021669     Georgia State
27966  4036530      Javonte Lain      0  401021669     Georgia State
27967  4361899  Jacorey Crawford      0  401021669     Georgia State

      game.teams.categories.name game.teams.categories.types.name  season
0                        passing                            C/ATT    2018
1                        passing                              YDS    2018
2                        passing                              AVG    2018
3                        passing                               TD    2018
4                        passing                              INT    2018
...                          ...                              ...     ...
27963                  defensive                               TD    2018
27964                  defensive                               TD    2018
27965                  defensive                               TD    2018
27966                  defensive                               TD    2018
27967                  defensive                               TD    2018

[27968 rows x 8 columns]
            id            name   stat    game.id game.teams.school  \
0      3915436   Steven Montez  25/46  401012765          Colorado
1      3915436   Steven Montez    168  401012765          Colorado
2      3915436   Steven Montez    3.7  401012765          Colorado
3      3915436   Steven Montez      0  401012765          Colorado
4      3915436   Steven Montez      1  401012765          Colorado
...        ...             ...    ...        ...               ...
26980  4385885    Lucky Owovwi      0  401021675     Alabama State
26981  4044691   Randall Smith      0  401021675     Alabama State
26982  3926567     Ricky Haley      0  401021675     Alabama State
26983  4366541     Devin March      0  401021675     Alabama State
26984  4382938  Dontrey Manley      0  401021675     Alabama State

      game.teams.categories.name game.teams.categories.types.name  season
0                        passing                            C/ATT    2018
1                        passing                              YDS    2018
2                        passing                              AVG    2018
3                        passing                               TD    2018
4                        passing                              INT    2018
...                          ...                              ...     ...
26980                  defensive                               TD    2018
26981                  defensive                               TD    2018
26982                  defensive                               TD    2018
26983                  defensive                               TD    2018
26984                  defensive                               TD    2018

[26985 rows x 8 columns]
            id              name   stat    game.id game.teams.school  \
0      4038220     Cole McDonald  19/37  401022542           Hawai'i
1      4373934   Chevan Cordeiro    0/1  401022542           Hawai'i
2      4038220     Cole McDonald    259  401022542           Hawai'i
3      4373934   Chevan Cordeiro      0  401022542           Hawai'i
4      4038220     Cole McDonald    7.0  401022542           Hawai'i
...        ...               ...    ...        ...               ...
26814  3917559  Marterious Allen      0  401021676     Georgia State
26815  4036530      Javonte Lain      0  401021676     Georgia State
26816  4241268    DeAndre Applin      0  401021676     Georgia State
26817  4241288  Jhi'Shawn Taylor      0  401021676     Georgia State
26818  4361914        Seth Paige      0  401021676     Georgia State

      game.teams.categories.name game.teams.categories.types.name  season
0                        passing                            C/ATT    2018
1                        passing                            C/ATT    2018
2                        passing                              YDS    2018
3                        passing                              YDS    2018
4                        passing                              AVG    2018
...                          ...                              ...     ...
26814                  defensive                               TD    2018
26815                  defensive                               TD    2018
26816                  defensive                               TD    2018
26817                  defensive                               TD    2018
26818                  defensive                               TD    2018

[26819 rows x 8 columns]
            id             name   stat    game.id game.teams.school  \
0      4046678         Ian Book  27/33  401013189        Notre Dame
1      4046678         Ian Book    330  401013189        Notre Dame
2      4046678         Ian Book   10.0  401013189        Notre Dame
3      4046678         Ian Book      2  401013189        Notre Dame
4      4046678         Ian Book      1  401013189        Notre Dame
...        ...              ...    ...        ...               ...
27341  4243909   Willie Langham      0  401019516            Tulane
27342  4243917  Chase Kuerschen      0  401019516            Tulane
27343  4361809   Juan Monjarres      0  401019516            Tulane
27344  4040647      Will Harper      0  401019516            Tulane
27345  3917055    Taris Shenall      0  401019516            Tulane

      game.teams.categories.name game.teams.categories.types.name  season
0                        passing                            C/ATT    2018
1                        passing                              YDS    2018
2                        passing                              AVG    2018
3                        passing                               TD    2018
4                        passing                              INT    2018
...                          ...                              ...     ...
27341                  defensive                               TD    2018
27342                  defensive                               TD    2018
27343                  defensive                               TD    2018
27344                  defensive                               TD    2018
27345                  defensive                               TD    2018

[27346 rows x 8 columns]

            id              name   stat    game.id game.teams.school  \
0      4046678          Ian Book  22/34  401013345        Notre Dame
1      4046678          Ian Book    343  401013345        Notre Dame
2      4046678          Ian Book   10.1  401013345        Notre Dame
3      4046678          Ian Book      2  401013345        Notre Dame
4      4046678          Ian Book      0  401013345        Notre Dame
...        ...               ...    ...        ...               ...
28496  4038144  Corey McCullough    177  401013445      Alcorn State
28497  4038144  Corey McCullough   35.4  401013445      Alcorn State
28498  4038144  Corey McCullough      0  401013445      Alcorn State
28499  4038144  Corey McCullough      3  401013445      Alcorn State
28500  4038144  Corey McCullough     51  401013445      Alcorn State

      game.teams.categories.name game.teams.categories.types.name  season
0                        passing                            C/ATT    2018
1                        passing                              YDS    2018
2                        passing                              AVG    2018
3                        passing                               TD    2018
4                        passing                              INT    2018
...                          ...                              ...     ...
28496                    punting                              YDS    2018
28497                    punting                              AVG    2018
28498                    punting                               TB    2018
28499                    punting                            In 20    2018
28500                    punting                             LONG    2018

[28501 rows x 8 columns]
            id              name   stat    game.id game.teams.school  \
0      3921561  Deondre Francois  23/47  401013171     Florida State
1      4240021         Cam Akers    0/1  401013171     Florida State
2      3921561  Deondre Francois    216  401013171     Florida State
3      4240021         Cam Akers      0  401013171     Florida State
4      3921561  Deondre Francois    4.6  401013171     Florida State
...        ...               ...    ...        ...               ...
28324  4257347     Adam Williams      0  401019528           Memphis
28325  4269914    Chandler Stump      0  401019528           Memphis
28326  3916168    Khalil Johnson      0  401019528           Memphis
28327  4039366    Jacobi Francis      0  401019528           Memphis
28328  4039360     John Williams      1  401019528           Memphis

      game.teams.categories.name game.teams.categories.types.name  season
0                        passing                            C/ATT    2018
1                        passing                            C/ATT    2018
2                        passing                              YDS    2018
3                        passing                              YDS    2018
4                        passing                              AVG    2018
...                          ...                              ...     ...
28324                  defensive                               TD    2018
28325                  defensive                               TD    2018
28326                  defensive                               TD    2018
28327                  defensive                               TD    2018
28328                  defensive                               TD    2018

[28329 rows x 8 columns]
            id               name   stat    game.id game.teams.school  \
0      4240391       Tommy DeVito  14/31  401013182          Syracuse
1      3916447        Eric Dungey    1/4  401013182          Syracuse
2      4240391       Tommy DeVito    105  401013182          Syracuse
3      3916447        Eric Dungey     10  401013182          Syracuse
4      4240391       Tommy DeVito    3.4  401013182          Syracuse
...        ...                ...    ...        ...               ...
29376  3916168     Khalil Johnson      0  401019530           Memphis
29377  4039382          John Tate      0  401019530           Memphis
29378  4243372  Sanchez Blake Jr.      0  401019530           Memphis
29379  4371737   Chris Claybrooks      0  401019530           Memphis
29380  4039367           Tim Hart      0  401019530           Memphis

      game.teams.categories.name game.teams.categories.types.name  season
0                        passing                            C/ATT    2018
1                        passing                            C/ATT    2018
2                        passing                              YDS    2018
3                        passing                              YDS    2018
4                        passing                              AVG    2018
...                          ...                              ...     ...
29376                  defensive                               TD    2018
29377                  defensive                               TD    2018
29378                  defensive                               TD    2018
29379                  defensive                               TD    2018
29380                  defensive                               TD    2018

[29381 rows x 8 columns]
            id             name   stat    game.id game.teams.school  \
0      4374303       JT Daniels  37/51  401012800               USC
1      4374303       JT Daniels    349  401012800               USC
2      4374303       JT Daniels    6.8  401012800               USC
3      4374303       JT Daniels      1  401012800               USC
4      4374303       JT Daniels      0  401012800               USC
...        ...              ...    ...        ...               ...
27797  3918471  Jackson Solbeck      0  401013447  New Mexico State
27798  4040796     Shamad Lomax      0  401013447  New Mexico State
27799  4241638   Trevor Brohard      0  401013447  New Mexico State
27800  4361491  John Graves III      0  401013447  New Mexico State
27801  4040790    Jason Huntley      1  401013447  New Mexico State

      game.teams.categories.name game.teams.categories.types.name  season
0                        passing                            C/ATT    2018
1                        passing                              YDS    2018
2                        passing                              AVG    2018
3                        passing                               TD    2018
4                        passing                              INT    2018
...                          ...                              ...     ...
27797                  defensive                               TD    2018
27798                  defensive                               TD    2018
27799                  defensive                               TD    2018
27800                  defensive                               TD    2018
27801                  defensive                               TD    2018

[27802 rows x 8 columns]
           id            name   stat    game.id  game.teams.school  \
0     4040616  Dwayne Haskins  34/41  401056702         Ohio State
1     4040616  Dwayne Haskins    499  401056702         Ohio State
2     4040616  Dwayne Haskins   12.2  401056702         Ohio State
3     4040616  Dwayne Haskins      5  401056702         Ohio State
4     4040616  Dwayne Haskins      1  401056702         Ohio State
...       ...             ...    ...        ...                ...
6907  4258563    Matt Ference    153  401056696  Northern Illinois
6908  4258563    Matt Ference   38.3  401056696  Northern Illinois
6909  4258563    Matt Ference      0  401056696  Northern Illinois
6910  4258563    Matt Ference      3  401056696  Northern Illinois
6911  4258563    Matt Ference     43  401056696  Northern Illinois

     game.teams.categories.name game.teams.categories.types.name  season
0                       passing                            C/ATT    2018
1                       passing                              YDS    2018
2                       passing                              AVG    2018
3                       passing                               TD    2018
4                       passing                              INT    2018
...                         ...                              ...     ...
6907                    punting                              YDS    2018
6908                    punting                              AVG    2018
6909                    punting                               TB    2018
6910                    punting                            In 20    2018
6911                    punting                             LONG    2018

[6912 rows x 8 columns]

          id              name  stat    game.id game.teams.school  \
0    3916282      Garret Lewis  5/11  401013376              Navy
1    3916251         Zach Abey   0/5  401013376              Navy
2    4039425          OJ Davis   0/1  401013376              Navy
3    3916282      Garret Lewis    81  401013376              Navy
4    3916251         Zach Abey     0  401013376              Navy
..       ...               ...   ...        ...               ...
443  4036929       Ryan Parker     0  401013376              Army
444  4258457  Javhari Bourdeau     0  401013376              Army
445  4258521    Landon Salyers     0  401013376              Army
446  3916807     Mike Reynolds     0  401013376              Army
447  4036953   Jacob Covington     0  401013376              Army

    game.teams.categories.name game.teams.categories.types.name  season
0                      passing                            C/ATT    2018
1                      passing                            C/ATT    2018
2                      passing                            C/ATT    2018
3                      passing                              YDS    2018
4                      passing                              YDS    2018
..                         ...                              ...     ...
443                  defensive                               TD    2018
444                  defensive                               TD    2018
445                  defensive                               TD    2018
446                  defensive                               TD    2018
447                  defensive                               TD    2018

[448 rows x 8 columns]
            id                 name   stat    game.id game.teams.school  \
0      4241820         Sam Ehlinger  19/27  401032086             Texas
1      4039057  Lil'Jordan Humphrey    1/1  401032086             Texas
2      4241820         Sam Ehlinger    169  401032086             Texas
3      4039057  Lil'Jordan Humphrey      8  401032086             Texas
4      4241820         Sam Ehlinger    6.3  401032086             Texas
...        ...                  ...    ...        ...               ...
16522  4035473          Will Spiers    133  401032087           Clemson
16523  4035473          Will Spiers   44.3  401032087           Clemson
16524  4035473          Will Spiers      0  401032087           Clemson
16525  4035473          Will Spiers      0  401032087           Clemson
16526  4035473          Will Spiers     51  401032087           Clemson

      game.teams.categories.name game.teams.categories.types.name  season
0                        passing                            C/ATT    2018
1                        passing                            C/ATT    2018
2                        passing                              YDS    2018
3                        passing                              YDS    2018
4                        passing                              AVG    2018
...                          ...                              ...     ...
16522                    punting                              YDS    2018
16523                    punting                              AVG    2018
16524                    punting                               TB    2018
16525                    punting                            In 20    2018
16526                    punting                             LONG    2018

[16527 rows x 8 columns]
            id        name   stat    game.id game.teams.school  \
0      3916392  Mason King     52  401112436        Louisville
1      3916392  Mason King      0  401112436        Louisville
2      3916392  Mason King      0  401112436        Louisville
3      3916392  Mason King   41.4  401112436        Louisville
4      3916392  Mason King    207  401112436        Louisville
...        ...         ...    ...        ...               ...
45133  3129271  Nick Vogel      6  401114237               UAB
45134  3129271  Nick Vogel    3/3  401114237               UAB
45135  3129271  Nick Vogel     46  401114237               UAB
45136  3129271  Nick Vogel  100.0  401114237               UAB
45137  3129271  Nick Vogel    1/1  401114237               UAB

      game.teams.categories.name game.teams.categories.types.name  season
0                        punting                             LONG    2019
1                        punting                            In 20    2019
2                        punting                               TB    2019
3                        punting                              AVG    2019
4                        punting                              YDS    2019
...                          ...                              ...     ...
45133                    kicking                              PTS    2019
45134                    kicking                               XP    2019
45135                    kicking                             LONG    2019
45136                    kicking                              PCT    2019
45137                    kicking                               FG    2019

[45138 rows x 8 columns]
            id          name  stat    game.id game.teams.school  \
0      4384031  Steve Dawson    51  401110776      Murray State
1      4384031  Steve Dawson     0  401110776      Murray State
2      4384031  Steve Dawson     0  401110776      Murray State
3      4384031  Steve Dawson  45.6  401110776      Murray State
4      4384031  Steve Dawson   319  401110776      Murray State
...        ...           ...   ...        ...               ...
38939  3125956  Randall West   7.4  401114354             UMass
38940  4572366  Andrew Brito    73  401114354             UMass
38941  3125956  Randall West   125  401114354             UMass
38942  4572366  Andrew Brito  6/10  401114354             UMass
38943  3125956  Randall West  9/17  401114354             UMass

      game.teams.categories.name game.teams.categories.types.name  season
0                        punting                             LONG    2019
1                        punting                            In 20    2019
2                        punting                               TB    2019
3                        punting                              AVG    2019
4                        punting                              YDS    2019
...                          ...                              ...     ...
38939                    passing                              AVG    2019
38940                    passing                              YDS    2019
38941                    passing                              YDS    2019
38942                    passing                            C/ATT    2019
38943                    passing                            C/ATT    2019

[38944 rows x 8 columns]
            id           name   stat    game.id game.teams.school  \
0      4027841  Brandon Purdy   50.0  401114194           Montana
1      4027841  Brandon Purdy    1/2  401114194           Montana
2      4027841  Brandon Purdy      3  401114194           Montana
3      4027841  Brandon Purdy    0/0  401114194           Montana
4      4027841  Brandon Purdy     25  401114194           Montana
...        ...            ...    ...        ...               ...
35788  4037213   Jamie Newman      1  401112448       Wake Forest
35789  4037213   Jamie Newman      1  401112448       Wake Forest
35790  4037213   Jamie Newman    8.2  401112448       Wake Forest
35791  4037213   Jamie Newman    214  401112448       Wake Forest
35792  4037213   Jamie Newman  14/26  401112448       Wake Forest

      game.teams.categories.name game.teams.categories.types.name  season
0                        kicking                              PCT    2019
1                        kicking                               FG    2019
2                        kicking                              PTS    2019
3                        kicking                               XP    2019
4                        kicking                             LONG    2019
...                          ...                              ...     ...
35788                    passing                              INT    2019
35789                    passing                               TD    2019
35790                    passing                              AVG    2019
35791                    passing                              YDS    2019
35792                    passing                            C/ATT    2019

[35793 rows x 8 columns]

            id            name   stat    game.id game.teams.school  \
0      4371394  Taylor Wallace     42  401117511  Central Arkansas
1      4371394  Taylor Wallace      0  401117511  Central Arkansas
2      4371394  Taylor Wallace      0  401117511  Central Arkansas
3      4371394  Taylor Wallace   36.0  401117511  Central Arkansas
4      4371394  Taylor Wallace    216  401117511  Central Arkansas
...        ...             ...    ...        ...               ...
29483  4027860   Gresch Jensen      0  401121942       Texas State
29484  4027860   Gresch Jensen      0  401121942       Texas State
29485  4027860   Gresch Jensen    5.2  401121942       Texas State
29486  4027860   Gresch Jensen    129  401121942       Texas State
29487  4027860   Gresch Jensen  16/25  401121942       Texas State

      game.teams.categories.name game.teams.categories.types.name  season
0                        punting                             LONG    2019
1                        punting                            In 20    2019
2                        punting                               TB    2019
3                        punting                              AVG    2019
4                        punting                              YDS    2019
...                          ...                              ...     ...
29483                    passing                              INT    2019
29484                    passing                               TD    2019
29485                    passing                              AVG    2019
29486                    passing                              YDS    2019
29487                    passing                            C/ATT    2019

[29488 rows x 8 columns]
            id               name  stat    game.id game.teams.school  \
0      4426768      Jay Bramblett    44  401112472        Notre Dame
1      4426768      Jay Bramblett     0  401112472        Notre Dame
2      4426768      Jay Bramblett     0  401112472        Notre Dame
3      4426768      Jay Bramblett  39.0  401112472        Notre Dame
4      4426768      Jay Bramblett   234  401112472        Notre Dame
...        ...                ...   ...        ...               ...
27927  4360294     Antonio Gibson     3  401117871           Memphis
27928  4567505     Gabriel Rogers     1  401117871           Memphis
27929  4243372  Sanchez Blake Jr.     0  401117871           Memphis
27930  4243372  Sanchez Blake Jr.     0  401117871           Memphis
27931  4243372  Sanchez Blake Jr.     1  401117871           Memphis

      game.teams.categories.name game.teams.categories.types.name  season
0                        punting                             LONG    2019
1                        punting                            In 20    2019
2                        punting                               TB    2019
3                        punting                              AVG    2019
4                        punting                              YDS    2019
...                          ...                              ...     ...
27927                kickReturns                               NO    2019
27928                kickReturns                               NO    2019
27929              interceptions                               TD    2019
27930              interceptions                              YDS    2019
27931              interceptions                              INT    2019

[27932 rows x 8 columns]
            id             name  stat    game.id game.teams.school  \
0      4426768    Jay Bramblett    49  401114337        Notre Dame
1      4426768    Jay Bramblett     0  401114337        Notre Dame
2      4426768    Jay Bramblett     0  401114337        Notre Dame
3      4426768    Jay Bramblett  45.5  401114337        Notre Dame
4      4426768    Jay Bramblett    91  401114337        Notre Dame
...        ...              ...   ...        ...               ...
23623  4365502    Javon Scruggs     0  401114342           Liberty
23624  4029912  Brandon Tillmon     5  401114342           Liberty
23625  4365502    Javon Scruggs    72  401114342           Liberty
23626  4029912  Brandon Tillmon     1  401114342           Liberty
23627  4365502    Javon Scruggs     1  401114342           Liberty

      game.teams.categories.name game.teams.categories.types.name  season
0                        punting                             LONG    2019
1                        punting                            In 20    2019
2                        punting                               TB    2019
3                        punting                              AVG    2019
4                        punting                              YDS    2019
...                          ...                              ...     ...
23623              interceptions                               TD    2019
23624              interceptions                              YDS    2019
23625              interceptions                              YDS    2019
23626              interceptions                              INT    2019
23627              interceptions                              INT    2019

[23628 rows x 8 columns]
            id           name   stat    game.id game.teams.school  \
0      4426768  Jay Bramblett     46  401114222        Notre Dame
1      4426768  Jay Bramblett      0  401114222        Notre Dame
2      4426768  Jay Bramblett      0  401114222        Notre Dame
3      4426768  Jay Bramblett   40.3  401114222        Notre Dame
4      4426768  Jay Bramblett    121  401114222        Notre Dame
...        ...            ...    ...        ...               ...
25444  4035409     Zach Smith      0  401117882             Tulsa
25445  4035409     Zach Smith      1  401117882             Tulsa
25446  4035409     Zach Smith    5.3  401117882             Tulsa
25447  4035409     Zach Smith    254  401117882             Tulsa
25448  4035409     Zach Smith  23/48  401117882             Tulsa

      game.teams.categories.name game.teams.categories.types.name  season
0                        punting                             LONG    2019
1                        punting                            In 20    2019
2                        punting                               TB    2019
3                        punting                              AVG    2019
4                        punting                              YDS    2019
...                          ...                              ...     ...
25444                    passing                              INT    2019
25445                    passing                               TD    2019
25446                    passing                              AVG    2019
25447                    passing                              YDS    2019
25448                    passing                            C/ATT    2019

[25449 rows x 8 columns]
            id             name   stat    game.id game.teams.school  \
0      4379396     Jake Camarda      6  401110826           Georgia
1      4379396     Jake Camarda     64  401110826           Georgia
2      4379396     Jake Camarda      0  401110826           Georgia
3      4379396     Jake Camarda      0  401110826           Georgia
4      4379396     Jake Camarda   52.8  401110826           Georgia
...        ...              ...    ...        ...               ...
30476  4429582      Joe Fagnano   12.0  401114351             Maine
30477  4034320  Earnest Edwards     11  401114351             Maine
30478  4429582      Joe Fagnano    445  401114351             Maine
30479  4034320  Earnest Edwards    1/2  401114351             Maine
30480  4429582      Joe Fagnano  25/37  401114351             Maine

      game.teams.categories.name game.teams.categories.types.name  season
0                        punting                               NO    2019
1                        punting                             LONG    2019
2                        punting                            In 20    2019
3                        punting                               TB    2019
4                        punting                              AVG    2019
...                          ...                              ...     ...
30476                    passing                              AVG    2019
30477                    passing                              YDS    2019
30478                    passing                              YDS    2019
30479                    passing                            C/ATT    2019
30480                    passing                            C/ATT    2019

[30481 rows x 8 columns]

            id           name   stat    game.id game.teams.school  \
0      4426768  Jay Bramblett     61  401112227        Notre Dame
1      4426768  Jay Bramblett      0  401112227        Notre Dame
2      4426768  Jay Bramblett      0  401112227        Notre Dame
3      4426768  Jay Bramblett   42.3  401112227        Notre Dame
4      4426768  Jay Bramblett    423  401112227        Notre Dame
...        ...            ...    ...        ...               ...
26996  4035409     Zach Smith      0  401117893             Tulsa
26997  4035409     Zach Smith      1  401117893             Tulsa
26998  4035409     Zach Smith    7.7  401117893             Tulsa
26999  4035409     Zach Smith    309  401117893             Tulsa
27000  4035409     Zach Smith  23/40  401117893             Tulsa

      game.teams.categories.name game.teams.categories.types.name  season
0                        punting                             LONG    2019
1                        punting                            In 20    2019
2                        punting                               TB    2019
3                        punting                              AVG    2019
4                        punting                              YDS    2019
...                          ...                              ...     ...
26996                    passing                              INT    2019
26997                    passing                               TD    2019
26998                    passing                              AVG    2019
26999                    passing                              YDS    2019
27000                    passing                            C/ATT    2019

[27001 rows x 8 columns]
            id                 name   stat    game.id game.teams.school  \
0      4427698      Mario Kendricks      0  401112501     Virginia Tech
1      4361961       Nadir Thompson      0  401112501     Virginia Tech
2      4361959  Quincy Patterson II      0  401112501     Virginia Tech
3      4260198       Jaylen Griffin      0  401112501     Virginia Tech
4      4037612      Emmanuel Belmar      0  401112501     Virginia Tech
...        ...                  ...    ...        ...               ...
23113  4572366         Andrew Brito      0  401114352             UMass
23114  4572366         Andrew Brito      2  401114352             UMass
23115  4572366         Andrew Brito    5.0  401114352             UMass
23116  4572366         Andrew Brito    134  401114352             UMass
23117  4572366         Andrew Brito  16/27  401114352             UMass

      game.teams.categories.name game.teams.categories.types.name  season
0                      defensive                               PD    2019
1                      defensive                               PD    2019
2                      defensive                               PD    2019
3                      defensive                               PD    2019
4                      defensive                               PD    2019
...                          ...                              ...     ...
23113                    passing                              INT    2019
23114                    passing                               TD    2019
23115                    passing                              AVG    2019
23116                    passing                              YDS    2019
23117                    passing                            C/ATT    2019

[23118 rows x 8 columns]
            id               name   stat    game.id game.teams.school  \
0      4360416      Elijiah Brown      0  401111654              Duke
1      4240471        Drew Jordan      0  401111654              Duke
2      4240465    Derrick Tangelo      0  401111654              Duke
3      4036038  Jacob Morgenstern      0  401111654              Duke
4      3917802     Trevon McSwain      0  401111654              Duke
...        ...                ...    ...        ...               ...
22888  4427238     Dillon Gabriel      2  401117900               UCF
22889  4427238     Dillon Gabriel      1  401117900               UCF
22890  4427238     Dillon Gabriel    7.6  401117900               UCF
22891  4427238     Dillon Gabriel    290  401117900               UCF
22892  4427238     Dillon Gabriel  23/38  401117900               UCF

      game.teams.categories.name game.teams.categories.types.name  season
0                      defensive                               TD    2019
1                      defensive                               TD    2019
2                      defensive                               TD    2019
3                      defensive                               TD    2019
4                      defensive                               TD    2019
...                          ...                              ...     ...
22888                    passing                              INT    2019
22889                    passing                               TD    2019
22890                    passing                              AVG    2019
22891                    passing                              YDS    2019
22892                    passing                            C/ATT    2019

[22893 rows x 8 columns]
            id             name   stat    game.id game.teams.school  \
0      4371888    Kevin Brennan      0  401114338              Navy
1      4371882       Jay Warren      0  401114338              Navy
2      4039447  Carter Bankston      0  401114338              Navy
3      4039423        Elan Nash      0  401114338              Navy
4      4568550    Chelen Garnes      0  401114338              Navy
...        ...              ...    ...        ...               ...
26901  4241635      Josh Adkins      0  401114345  New Mexico State
26902  4241635      Josh Adkins      2  401114345  New Mexico State
26903  4241635      Josh Adkins    8.3  401114345  New Mexico State
26904  4241635      Josh Adkins    316  401114345  New Mexico State
26905  4241635      Josh Adkins  28/38  401114345  New Mexico State

      game.teams.categories.name game.teams.categories.types.name  season
0                      defensive                               TD    2019
1                      defensive                               TD    2019
2                      defensive                               TD    2019
3                      defensive                               TD    2019
4                      defensive                               TD    2019
...                          ...                              ...     ...
26901                    passing                              INT    2019
26902                    passing                               TD    2019
26903                    passing                              AVG    2019
26904                    passing                              YDS    2019
26905                    passing                            C/ATT    2019

[26906 rows x 8 columns]
            id               name  stat    game.id game.teams.school  \
0      4426825      Ireland Burke     0  401112514    Boston College
1      4360213       Jason Maitre     0  401112514    Boston College
2      4360209    Joseph Sparacio     0  401112514    Boston College
3      4239944        Hunter Long     0  401112514    Boston College
4      4239942  Paul Theobald Jr.     0  401112514    Boston College
...        ...                ...   ...        ...               ...
30217  4039436      Malcolm Perry     0  401117911              Navy
30218  4039436      Malcolm Perry     1  401117911              Navy
30219  4039436      Malcolm Perry  10.8  401117911              Navy
30220  4039436      Malcolm Perry   162  401117911              Navy
30221  4039436      Malcolm Perry  9/15  401117911              Navy

      game.teams.categories.name game.teams.categories.types.name  season
0                      defensive                               TD    2019
1                      defensive                               TD    2019
2                      defensive                               TD    2019
3                      defensive                               TD    2019
4                      defensive                               TD    2019
...                          ...                              ...     ...
30217                    passing                              INT    2019
30218                    passing                               TD    2019
30219                    passing                              AVG    2019
30220                    passing                              YDS    2019
30221                    passing                            C/ATT    2019

[30222 rows x 8 columns]

            id              name   stat    game.id game.teams.school  \
0      4373800     Kwabena Bonsu      0  401114334              Army
1      4036972   Rod Stoddard II      0  401114334              Army
2      4036932    Jake Ellington      0  401114334              Army
3      4373768      Wilson Catoe      0  401114334              Army
4      4036966        Jack Sides      0  401114334              Army
...        ...               ...    ...        ...               ...
29782  4427238    Dillon Gabriel    6.9  401117912               UCF
29783  4243535  Darriel Mack Jr.     37  401117912               UCF
29784  4427238    Dillon Gabriel    270  401117912               UCF
29785  4243535  Darriel Mack Jr.    1/1  401117912               UCF
29786  4427238    Dillon Gabriel  23/39  401117912               UCF

      game.teams.categories.name game.teams.categories.types.name  season
0                      defensive                               TD    2019
1                      defensive                               TD    2019
2                      defensive                               TD    2019
3                      defensive                               TD    2019
4                      defensive                               TD    2019
...                          ...                              ...     ...
29782                    passing                              AVG    2019
29783                    passing                              YDS    2019
29784                    passing                              YDS    2019
29785                    passing                            C/ATT    2019
29786                    passing                            C/ATT    2019

[29787 rows x 8 columns]
           id              name   stat    game.id game.teams.school  \
0     4373775        Arik Smith      0  401114335              Army
1     4373743   Brandon Walters      0  401114335              Army
2     4036972   Rod Stoddard II      0  401114335              Army
3     4373738  Malkelm Morrison      0  401114335              Army
4     4036934     Malik Hancock      0  401114335              Army
...       ...               ...    ...        ...               ...
5199  4038941    Justin Herbert      0  401132973            Oregon
5200  4038941    Justin Herbert      1  401132973            Oregon
5201  4038941    Justin Herbert    7.4  401132973            Oregon
5202  4038941    Justin Herbert    193  401132973            Oregon
5203  4038941    Justin Herbert  14/26  401132973            Oregon

     game.teams.categories.name game.teams.categories.types.name  season
0                     defensive                               TD    2019
1                     defensive                               TD    2019
2                     defensive                               TD    2019
3                     defensive                               TD    2019
4                     defensive                               TD    2019
...                         ...                              ...     ...
5199                    passing                              INT    2019
5200                    passing                               TD    2019
5201                    passing                              AVG    2019
5202                    passing                              YDS    2019
5203                    passing                            C/ATT    2019

[5204 rows x 8 columns]
            id            name   stat    game.id game.teams.school  \
0      4035475  Patrick Phibbs      0  401135295           Clemson
1      4239992   Amari Rodgers      0  401135295           Clemson
2      4360308      K.J. Henry      0  401135295           Clemson
3      4360304   Xavier Thomas      0  401135295           Clemson
4      4240001   Justin Foster      0  401135295           Clemson
...        ...             ...    ...        ...               ...
18644  4259269  Chris Reynolds      1  401135260         Charlotte
18645  4259269  Chris Reynolds      1  401135260         Charlotte
18646  4259269  Chris Reynolds    8.3  401135260         Charlotte
18647  4259269  Chris Reynolds    198  401135260         Charlotte
18648  4259269  Chris Reynolds  15/24  401135260         Charlotte

      game.teams.categories.name game.teams.categories.types.name  season
0                      defensive                           QB HUR    2019
1                      defensive                           QB HUR    2019
2                      defensive                           QB HUR    2019
3                      defensive                           QB HUR    2019
4                      defensive                           QB HUR    2019
...                          ...                              ...     ...
18644                    passing                              INT    2019
18645                    passing                               TD    2019
18646                    passing                              AVG    2019
18647                    passing                              YDS    2019
18648                    passing                            C/ATT    2019

[18649 rows x 8 columns]
CPU times: user 1min 21s, sys: 3.6 s, total: 1min 25s
Wall time: 7min 15s

In [168]:
def f2(this_season, this_season_type, this_week):
    response = requests.get("https://api.collegefootballdata.com/games/players",
                                    params = {"year": this_season, "week": this_week, 'seasonType': this_season_type})
    records = json_normalize(
                response.json(),
                ['teams', 'categories', 'types', 'athletes'],
                ['id', ['teams', 'school'], ['teams', 'categories', 'name'], ['teams', 'categories', 'types', 'name']],
                meta_prefix='game.'
    )
    if len(records) == 0:
        return records
    records['season'] = this_season
    print(records)
    records = records[(records.name != ' Team') & 
                      (records['name'] != 'Team') &
                      (records['name'] != '- Team') &
                      (records['stat'] != '--')].reset_index(drop=True)
    
    return records

In [ ]:
results = [i for this_season in seasons for this_season_type in season_types for i in requests.get("https://api.collegefootballdata.com/games", params = {"year": this_season, 'seasonType': this_season_type}).json()]
results = pd.DataFrame(results)
print(len(results))

In [ ]:
for this_season in seasons:
    total_season_records = pd.DataFrame()
    print(this_season)
    for this_season_type in season_types:
        response = requests.get("https://api.collegefootballdata.com/games", params = {"year":this_season, 'seasonType': this_season_type})
        games = pd.read_json(response.text)
        if this_season_type == 'postseason':
            games = games[games.week < 3]
        total_week_records = pd.DataFrame()
        for this_week in games.week.unique():
            response = requests.get("https://api.collegefootballdata.com/games/players",
                                    params = {"year": this_season, "week": this_week, 'seasonType': this_season_type})
            records = json_normalize(
                response.json(),
                ['teams', 'categories', 'types', 'athletes'],
                ['id', ['teams', 'school'], ['teams', 'categories', 'name'], ['teams', 'categories', 'types', 'name']],
                meta_prefix='game.'
            )
            records['season'] = this_season
            records = records[(records.name != ' Team') & 
                              (records['name'] != 'Team') &
                              (records['name'] != '- Team') &
                              (records['stat'] != '--')].reset_index(drop=True)
            total_week_records = total_week_records.append(records)
        total_season_records = total_season_records.append(total_week_records)
    total_records = total_records.append(total_season_records)